﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@Styles.Render("~/AdminContent/dataTables-bootstrap")
@Styles.Render("~/AdminContent/responsive-bootstrap")
@Styles.Render("~/AdminContent/scroller-bootstrap")
<div id="scheduledJobList" class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <table id="datatable-checkbox" class="table table-striped table-bordered jambo_table bulk_action">
                <thead>
                <tr>
                    <th class="nosort">@Html.T("Title")</th>
                    <th class="nosort">@Html.T("Owner")</th>
                    <th class="nosort">@Html.T("Last Start")</th>
                    <th class="nosort">@Html.T("Last Finish")</th>
                    <th class="nosort">@Html.T("Next Start")</th>
                    <th class="nosort" style="width: 15%">@Html.T("Status")</th>
                    <th class="nosort" style="width: 10%">@Html.T("ReSchedule")</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: scheduledJobs">
                <tr>
                    <td>
                        <label data-bind="text:title"></label>
                    </td>
                    <td>
                        <label data-bind="text:owner"></label>
                    </td>
                    <td>
                        <label data-bind="text:moment(lastStart()).format('DD.MM.YYYY HH:mm:ss') "></label>
                    </td>
                    <td>
                        <label data-bind="text:moment(lastFinish()).format('DD.MM.YYYY HH:mm:ss') "></label>
                    </td>
                    <td>
                        <label data-bind="text:moment(nextStart()).format('DD.MM.YYYY HH:mm:ss') "></label>
                    </td>
                    <td>
                        <!-- ko if: active -->
                        <a class="btn btn-success btn-xs" data-bind="click: function() { $root.showModal($data); },text:buttonTextActive">@Html.T("Stop")</a>
                        <!-- /ko -->
                        <!-- ko ifnot: active -->
                        <a class="btn btn-danger btn-xs" data-bind="click:$parent.startJob.bind($data),text:buttonTextNotActive">@Html.T("Start")</a>
                        <!-- /ko -->
                        <a class="btn btn-primary btn-xs" data-bind="click:function() {$root.forceStartJob($data);},text:buttonTextForce ">@Html.T("Force Start")</a>
                    </td>
                    <td>
                        <!-- ko if: canManage -->
                        <a href="#" class="btn btn-primary btn-xs" data-bind="attr: {'href':manageUrl}">
                            <i class="fa fa-retweet"></i> @Html.T("ReSchedule")
                        </a>
                        <!-- /ko -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
    <div data-bind="bootstrapModal:modal" class="modal fade" id="deleteConfirmModel" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
    @Html.Partial(MVC.Admin.Templates.Views.ViewNames.Confirm);
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/dataTables-bootstrap")
@Scripts.Render("~/bundles/dataTables-keyTable")
@Scripts.Render("~/bundles/dataTables-responsive")
@Scripts.Render("~/bundles/responsive-bootstrap")
@Scripts.Render("~/bundles/datatables-scroller")
@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/ScheduledJobModel")

@Html.GetJsonResources(new[] {"Admin"}, "ScheduledJobs")
<script>
    var $datatable;
    var pageSize = 10;
    var currentPage = 0;
    var filter = '';
    $(document).ready(function() {
        var scheduledJobViewModel = new ScheduledJobsModel(
            '@Url.Action(MVC.Admin.ScheduledJob.ActionNames.ScheduledJobList, MVC.Admin.ScheduledJob.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.ScheduledJob.ActionNames.ForceStart, MVC.Admin.ScheduledJob.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.ScheduledJob.ActionNames.StartJob, MVC.Admin.ScheduledJob.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.ScheduledJob.ActionNames.StopJob, MVC.Admin.ScheduledJob.Name, new {area = Constants.DefaultArea})');
        ko.applyBindings(scheduledJobViewModel, document.getElementById('scheduledJobList'));
        $datatable = $('#datatable-checkbox');
        $datatable
            .on('order.dt', function() {
            })
            .on('search.dt', function() {
                var value = $('.dataTables_filter input').val();
                scheduledJobViewModel.actionFilter(value);
                scheduledJobViewModel.actionCurrentPage(0);
                scheduledJobViewModel.loadData(scheduledJobViewModel.actionPageSize(), 0, scheduledJobViewModel.actionFilter());
            })
            .on('page.dt', function() {
            })
            .dataTable({
                "bJQueryUI": false,
                "bAutoWidth": false,
                "oLanguage": {
                    "sEmptyTable": ScheduledJobs.No_Data, //when empty
                    "sSearch": "<span>" + ScheduledJobs.Search + ":</span> _INPUT_", //search
                    "sLengthMenu": "<span>" + ScheduledJobs.Showing + ":</span> _MENU_", //label
                    "oPaginate": { "sFirst": ScheduledJobs.First, "sLast": ScheduledJobs.Last, "sNext": ScheduledJobs.Next, "sPrevious": ScheduledJobs.Previous } //pagination
                },
                "columnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    }
                ]
            });
        $('select').change(function() {
            scheduledJobViewModel.actionPageSize($(this).val());
            scheduledJobViewModel.actionCurrentPage(0);
            scheduledJobViewModel.loadData(scheduledJobViewModel.actionPageSize, 0, scheduledJobViewModel.actionFilter);
        });
    });
</script>