﻿@using Oxide.Core.Helpers
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@using (Html.BeginForm(MVC.Admin.ScheduledJob.ActionNames.SaveSchduledJobSettings, MVC.Admin.ScheduledJob.Name, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="intervalType">
            <span>@Html.T("Interval")</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="width: 200px">
                @Html.DropDownList("intervalType", new SelectList(OxideUtils.GetScheduleIntervls(), "Value", "Text", @Model.Parameters.IntervalType), new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="type">
            <span>@Html.T("Interval")</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="width: 200px">
                @Html.DropDownList("type", new SelectList(OxideUtils.GetScheduleIntervalTypes(), "Value", "Text", @Model.Parameters.Type), new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Interval">
            @Html.T("Interval") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="number" id="interval" name="interval" required="required" value="@Model.Parameters.Interval" data-validate-minmax="0,100" class="form-control col-md-7 col-xs-12">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="canRunOn">
            <span>@Html.T("Can Run On")</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="width: 200px">
                @Html.DropDownList("canRunOn", new SelectList(OxideUtils.GetDomainRoles(), "Value", "Text", ((int) @Model.Parameters.CanRunOn)), new {@class = "form-control"})
            </div>
        </div>
    </div>
    <input type="hidden" id="id" name="id" value="@Model.Parameters.Id">
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Reschedule Job")</button>
            <a id="cancel" type="submit" href="@Url.Action(MVC.Admin.ScheduledJob.ActionNames.DisplayScheduledJobs, MVC.Admin.ScheduledJob.Name, new {area = Constants.DefaultArea})" class="btn btn-danger alignRight"><i class="fa fa-times"></i> Cancel</a>
        </div>
    </div>
}