﻿@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@using (Html.BeginForm(MVC.Admin.Settings.ActionNames.SaveEmailSettings, MVC.Admin.Settings.Name, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sender">
            @Html.T("Sender Email Address") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="sender" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="sender" required="required" type="text" value="@Model.Parameters.Sender">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hostName">
            @Html.T("Host") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="hostName" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="hostName" required="required" type="text" value="@Model.Parameters.HostName">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="portNumber">
            @Html.T("Port Number") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="portNumber" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="portNumber" required="required" type="text" value="@Model.Parameters.PortNumber">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enableSSL">
            <span>@Html.T("Enable SSL communications")</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="enableSSL" value="true" name="enableSSL" type="checkbox" class="flat" @Model.Parameters.IsEnableSsl> @Html.T("Enable SSL communications")
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="requireCredentials">
            <span>@Html.T("Require Credentials")</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="requireCredentials" value="true" name="requireCredentials" type="checkbox" class="flat" @Model.Parameters.IsRequireCredentials> @Html.T("Require Credentials")
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="userName">
            @Html.T("User Name") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="userName" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="userName" required="required" type="text" value="@Model.Parameters.UserName">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">
            @Html.T("Password") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="password" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="password" required="required" type="password" value="@Model.Parameters.Password">
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Save Settings")</button>
            <a id="cancel" type="submit" href="@Url.Action(MVC.Admin.Admin.ActionNames.Index, MVC.Admin.Admin.Name, new {area = Constants.DefaultArea})" class="btn btn-danger alignRight">
                <i class="fa fa-times"></i> @Html.T("Cancel")</a>
        </div>
    </div>
}
@Html.GetJsonResources(new[] {"Admin"}, "EmailSettings")
<script>
    $(document).ready(function() {
        $('#requireCredentials').on('ifChecked', function() {
            $("#userName").prop("disabled", false);
            $("#password").prop("disabled", false);

        });
        $('#requireCredentials').on('ifUnchecked', function() {
            $("#userName").prop("disabled", true);
            $("#password").prop("disabled", true);
        });

    });
</script>