﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@using (Html.BeginForm(MVC.Admin.Settings.ActionNames.SaveSettings, MVC.Admin.Settings.Name, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <span class="section">General Settings</span>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Name") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="name" required="required" type="text" value="@Model.Parameters.Name">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="DefaultTimeZoneSelected">
            <span></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="width: 300px">
                @Html.DropDownList("DefaultTimeZoneSelected", new SelectList(@Model.Parameters.TimeZoneSelectList, "Value", "Text", @Model.Parameters.DefaultTimeZone.Id), new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="DefaultSiteCultureSelected">
            <span></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="width: 300px">
                @Html.DropDownList("DefaultSiteCultureSelected", new SelectList(@Model.Parameters.LanguageSelectList, "Value", "Text", @Model.Parameters.DefaultSiteCulture.Id), new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Save Settings")</button>
            <a id="cancel" type="submit" href="@Url.Action(MVC.Admin.Admin.ActionNames.Index, MVC.Admin.Admin.Name, new {area = Constants.DefaultArea})" class="btn btn-danger alignRight">
                <i class="fa fa-times"></i> @Html.T("Cancel")</a>
        </div>
    </div>
}

@Scripts.Render("~/bundles/validator")
@Scripts.Render("~/bundles/tagsinput")
@Html.GetJsonResources(new[] {"Admin"}, "Settings")
<script>
    validator.message.date = Settings.not_a_valid_date;
    $('form')
        .on('blur', 'input[required], input.optional, select.required', validator.checkField)
        .on('change', 'select.required', validator.checkField)
        .on('keypress', 'input[required][pattern]', validator.keypress);
    $('.multi.required').on('keyup blur', 'input', function() {
        validator.checkField.apply($(this).siblings().last()[0]);
    });
    $('form').submit(function(e) {
        e.preventDefault();
        var submit = true;
        if (!validator.checkAll($(this))) {
            submit = false;
        }
        if (submit)
            this.submit();
        return false;
    });
</script>