﻿@using System.Web.Optimization
@using Oxide.Core.Extesions
@using Oxide.Core.Managers.ResourceManager
@Bundler.RenderStyles("~/DefaultTheme/default", new { property = "" })
@Bundler.RenderStyles("~/OxideFundamentals/oxidefundamentals", new { property = "" })

@{
    var carouselId = Guid.NewGuid();
    var carouselName = string.Format(@"#{0}", carouselId);
    var index = 0;
    var indicatorsIndex = 0;
}
<div data-ride="carousel" class="carousel slide" data-interval="@Model.Parameters.Settings.Interval"
     @Model.Parameters.IsPauseOnHover @Model.Parameters.IsWrapSlides @Model.Parameters.IsKeyboardControl
     id="@carouselId">
    <div role="listbox" class="carousel-inner">
        @foreach (var v in @Model.Parameters.Carousels)
        {
            if (index == @Model.Parameters.Settings.StartSlideIndex)
            {
                <div class="item active">
                    <img class="img-responsive carousel-img " src="@v" alt="Slide Image" @Model.Parameters.MaxWidthValue @Model.Parameters.MaxHeightValue/>
                </div>
            }
            else
            {
                <div class="item">
                    <img class="img-responsive carousel-img " src="@v" alt="Slide Image" @Model.Parameters.MaxWidthValue @Model.Parameters.MaxHeightValue/>
                </div>
            }
            index += 1;
        }
    </div>
    <div>
        <a href="@carouselName" role="button" data-slide="prev" class="left carousel-control">
            <i class="glyphicon glyphicon-chevron-left"></i><span class="sr-only"> @Html.T("Previous")</span></a>
        <a href="@carouselName" role="button" data-slide="next" class="right carousel-control">
            <i class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">>@Html.T("Next")</span></a>
    </div>
    @{
        if (@Model.Parameters.Settings.ShowIndicators)
        {
            <ol class="carousel-indicators">
                @foreach (var v in @Model.Parameters.Carousels)
                {
                    if (indicatorsIndex == @Model.Parameters.Settings.StartSlideIndex)
                    {
                        <li data-target="@carouselName" data-slide-to="@indicatorsIndex" class="active"></li>
                    }
                    else
                    {
                        <li data-target="@carouselName" data-slide-to="@indicatorsIndex"></li>
                    }
                    indicatorsIndex += 1;
                }
            </ol>
        }
    }

</div>

@Html.RequireScript("~/bundles/jqueryFront")