﻿<link rel="stylesheet" type="text/css" href="http://cdn.ckeditor.com/4.6.2/full-all/plugins/codesnippet/lib/highlight/styles/obsidian.css" property="">
<script src="http://cdn.ckeditor.com/4.6.2/full-all/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
@Html.Raw(@Model.Parameters)