﻿@using System.Web.Optimization
@using Oxide.Core.Extesions
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Fundamentals.ViewModels.Menu
@Bundler.RenderStyles("~/OxideFundamentals/oxidefundamentals", new { property = "" })

<div class="coolMenu">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand navbar-link">
                    <img height="60" src="@Model.Parameters.LogoUrl" id="logo"/>
                </a>
                <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed">
                    <span class="sr-only">@Html.T("Toggle navigation")</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    @if (@Model.Parameters != null)
                    {
                        foreach (var menu in @Model.Parameters.Menus)
                        {
                            @Html.Partial("CoolMenuItem", (CoolMenuViewModel) menu)
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</div>

@Html.RequireScript("~/bundles/jqueryFront")
@Html.RequireScript("~/bundles/bootstrapFront")