﻿@using System.Web.Optimization
@using Oxide.Areas.Admin.Models
@using Oxide.Core.Extesions
@Bundler.RenderStyles("~/OxideFundamentals/oxidefundamentals", new { property = "" })
<div class="cultureSelecter ">
    <div class="navbar-collapse pull-right" style="padding-right: 8px;">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    @if (@Model.Parameters != null)
                    {
                        @Model.Parameters.ActiveCultureName<b class="caret"></b>
                    }
                </a>
                <ul class="dropdown-menu" style="min-width: 102px;">
                    @if (@Model.Parameters != null)
                    {
                        foreach (Language menu in @Model.Parameters.Languages)
                        {
                            <li>
                                @if (@Model.Parameters != null)
                                {
                                    <a type="submit" href="@Url.Action("ChangeCulture", "Front", new {area = "Oxide.Fundamentals", calture = menu.Code, pageUrl = @Model.Parameters.ActiveUrl})">@menu.Native</a>
                                }
                            </li>
                        }
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>
@Html.RequireScript("~/bundles/jqueryFront")
@Html.RequireScript("~/bundles/bootstrapFront")