﻿@using System.Web.Optimization
@using Oxide.Core.Extesions
@using Oxide.Fundamentals.ViewModels.Footer
@Bundler.RenderStyles("~/OxideFundamentals/oxidefundamentals", new { property = "" })
@Bundler.RenderStyles("~/DefaultTheme/fontawesome", new { property = "" })
@{
    var footerModel = (FooterWidgetViewModel) @Model.Parameters;
}
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6 item text">
                    @if (footerModel != null)
                    {
                        <h3>@footerModel.Name</h3>
                    }
                    @if (footerModel != null)
                    {
                        <p>@footerModel.Description</p>
                    }
                </div>
                @if (footerModel != null)
                {
                    foreach (var menu in @footerModel.MenuItemListFront)
                    {
                        <div class="col-md-2 col-md-pull-6 col-sm-4 item footerLinkItem">
                            <h3>
                                <a class="footerLink" href="@menu.Url" target="@menu.Target">@menu.Name</a>
                            </h3>
                            <ul>
                                @foreach (var subMenu in menu.SubMenus)
                                {
                                    <li>
                                        <a href="@subMenu.Url" target="@subMenu.Target">@subMenu.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                }
            </div>
            <div class="row">
                @if (footerModel != null)
                {
                    <div class="col-md-12 col-sm-4 item social">
                        <a href="@footerModel.FacebookLink">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="@footerModel.TwiterLink">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="@footerModel.LinkedInLink">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                }
            </div>
            @if (footerModel != null)
            {
                <p class="copyright">@footerModel.CopyRight</p>
            }
        </div>
    </footer>
</div>