﻿@using System.Web.Optimization
@using Oxide.Core.Extesions
@using Oxide.Core.Managers.ResourceManager
@Bundler.RenderStyles("~/OxideFundamentals/lightbox", new { property = "" })

@{
    var lightBoxGalleryId = Guid.NewGuid();
}
<div id="@lightBoxGalleryId" class="photo-gallery">
    <div class="row photos">
        @foreach (var v in @Model.Parameters)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 item img-responsive">
                <a href="@v" data-lightbox="photos">
                    <img class="img-responsive" src="@v" alt="gallery"/>
                </a>
            </div>
        }
    </div>
</div>
@Html.GetJsonResources(new[] {"Oxide.Fundamentals"}, "Gallery")
@Html.RequireScript("~/bundles/jqueryFront")
@Html.RequireScript("~/bundles/bootstrapFront")
@Html.RequireScript("~/bundles/lightbox")