﻿@using System.Web.Optimization
@using Oxide.Core.Extesions
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Fundamentals.ViewModels.Menu
@Bundler.RenderStyles("~/OxideFundamentals/oxidefundamentals", new { property = "" })

<div>
    <nav class="navbar navbar-default navigation-clean">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">@Html.T("Toggle navigation")</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                @if (@Model.Parameters != null)
                {
                    foreach (var menu in @Model.Parameters)
                    {
                        @Html.Partial("MenuItem", (NavigationMenuViewModel) menu)
                    }
                }
            </ul>
        </div>
    </nav>
</div>
@Html.RequireScript("~/bundles/jqueryFront")
@Html.RequireScript("~/bundles/bootstrapFront")