﻿@using System.Web.Optimization
@using Oxide.Core.Extesions
@Bundler.RenderStyles("~/OxideFundamentals/oxidefundamentals", new { property = "" })
@Bundler.RenderStyles("~/OxideFundamentals/swiper", new { property = "" })
<div class="simple-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var slide in @Model.Parameters)
            {
                <div class="swiper-slide">
                    <img class="swiper-slide" src="@slide" alt="slider"/>
                </div>
            }
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var mySwiper = new Swiper('.swiper-container', {
            loop: true,
            pagination: '.swiper-pagination',
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev'
        });
    });
</script>
@Html.RequireScript("~/bundles/swiper")