﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
<span class="section">@Html.T("Carousel Settings")</span>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="interval">
        @Html.T("Interval") <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="number" id="interval" name="interval" value="@Model.Parameters.Settings.Interval" required="required" data-validate-minmax="0,99999999" class="form-control col-md-7 col-xs-12">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="keyboardControl">
        <span>@Html.T("Keyboard Control")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="keyboardControl" value="true" name="keyboardControl" type="checkbox" class="flat" @Model.Parameters.IsKeyboardControl>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pauseOnHover">
        <span>@Html.T("Pause On Hover")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="pauseOnHover" value="true" name="pauseOnHover" type="checkbox" class="flat" @Model.Parameters.IsPauseOnHover>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="showIndicators">
        <span>@Html.T("Show Indicators")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="showIndicators" value="true" name="showIndicators" type="checkbox" class="flat" @Model.Parameters.IsShowIndicators>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="wrapSlides">
        <span>@Html.T("Wrap Slides")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="wrapSlides" value="true" name="wrapSlides" type="checkbox" class="flat" @Model.Parameters.IsWrapSlides>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="startSlideIndex">
        <span>@Html.T("Start SlideIndex")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="number" id="startSlideIndex" name="startSlideIndex" value="@Model.Parameters.Settings.StartSlideIndex" required="required" data-validate-minmax="0,99999999" class="form-control col-md-7 col-xs-12">
    </div>
</div>
<span class="section">@Html.T("Size Settings")</span>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="maxWidth">
        <span>@Html.T("Max Width")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="number" id="maxWidth" name="maxWidth" value="@Model.Parameters.Settings.MaxWidth" required="required" data-validate-minmax="0,99999999" class="form-control col-md-7 col-xs-12">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="maxHeight">
        <span>@Html.T("Max Heigth")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="number" id="maxHeight" name="maxHeight" value="@Model.Parameters.Settings.MaxHeight" required="required" data-validate-minmax="0,99999999" class="form-control col-md-7 col-xs-12">
    </div>
</div>

<span class="section">@Html.T("Media")</span>
<div class="item form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if ((Model.Parameters.SelectedMedias != null) && (Model.Parameters.SelectedMedias != ""))
        {
            @Oxd.RenderMediaSelecter("mediaSelecter", true, @Model.Parameters.SelectedMedias)
        }
        else
        {
            @Oxd.RenderMediaSelecter("mediaSelecter", true)
        }

    </div>
</div>