﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="selectedContents">
        <span>@Html.T("Menu")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Oxd.RenderContentSelecter("selectedContents", "Menu", null, null, @Model.Parameters.SelectedContents)
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mediaSelecter">
        <span>@Html.T("Logo")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Oxd.RenderMediaSelecter("selectedMedia", false, @Model.Parameters.SelectedMedias)
    </div>
</div>