﻿@using Oxide.Core.Engines
@using Oxide.Core.Helpers
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Fundamentals.Keywords
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
        @Html.T("Title")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="title" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Name" data-validate-length-range="6" data-validate-words="1" name="title" type="text">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">
        @Html.T("Description")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <textarea id="description" name="description" class="form-control col-md-7 col-xs-12">@Model.Parameters.Description</textarea>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="copyRight">
        @Html.T("Copyright")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="copyRight" name="copyRight" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.CopyRight" data-validate-length-range="6" data-validate-words="1" type="text">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="facebookLink">
        @Html.T("Facebook")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="facebookLink" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.FacebookLink" data-validate-length-range="6" data-validate-words="1" name="facebookLink" type="text">
    </div>
</div>

<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="twiterLink">
        @Html.T("Twiter")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="twiterLink" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.TwiterLink" data-validate-length-range="6" data-validate-words="1" name="twiterLink" type="text">
    </div>
</div>

<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="linkedInLink">
        @Html.T("LinkedIn")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="linkedInLink" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.LinkedInLink" data-validate-length-range="6" data-validate-words="1" name="linkedInLink" type="text">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="selectedContents">
        <span>@Html.T("Menu")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Oxd.RenderContentSelecter("selectedContents", "Menu", null, null, @Model.Parameters.SelectedContents)
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="widgetStyle">
        <span>@Html.T("Widget Style")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div style="width: 200px">
            @if ((Model.Parameters.Type != null))
            {
                @Html.DropDownList("widgetStyle", new SelectList(OxideUtils.GetEnumListWithTranslaions(typeof (Keys.FooterWidgetStyle)), "Value", "Text", @Model.Parameters.WidgetStyle), new {@class = "form-control"})
            }
            else
            {
                @Html.DropDownList("widgetStyle", OxideUtils.GetEnumListWithTranslaions(typeof (Keys.FooterWidgetStyle)), @Html.T("Select Style"), new {@class = "form-control"})
            }
        </div>
    </div>
</div>