﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
<span class="section">@Html.T("Media")</span>
<div class="item form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if ((Model.Parameters.SelectedMedias != null) && (Model.Parameters.SelectedMedias != ""))
        {
            @Oxd.RenderMediaSelecter("mediaSelecter", true, @Model.Parameters.SelectedMedias)
        }
        else
        {
            @Oxd.RenderMediaSelecter("mediaSelecter", true)
        }

    </div>
</div>