﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
@using (Html.BeginForm("UpdateSetting", "User", new {area = "Oxide.Extra"}, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <span class="section">@Html.T("General")</span>
    <div class="item form-group">
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                @Html.T("Name")
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="name" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Name" data-validate-length-range="6" data-validate-words="1" name="name" type="text" required="required">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
                @Html.T("Title")
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="title" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Title" data-validate-length-range="6" data-validate-words="1" name="title" type="text" required="required">
            </div>
        </div>
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cultureSelected">
            <span>@Html.T("Language")</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="width: 200px">
                @Html.DropDownList("cultureSelected", new SelectList(@Model.Parameters.CultureSelectList, "Value", "Text", @Model.Parameters.CultureSelected), new {@class = "form-control"})
            </div>
        </div>
    </div>
    <span class="section">@Html.T("Pages")</span>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="confirmationPageId">
            @Html.T("Confirmation Page")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if ((Model.Parameters.ConfirmationPageId != 0))
            {
                @Oxd.RenderContentSelecter("confirmationPageId", "Page", null, false, @Model.Parameters.ConfirmationPageId.ToString())
            }
            else
            {
                @Oxd.RenderContentSelecter("confirmationPageId", "Page")
            }

        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="confirmationSentPageId">
            @Html.T("Confirmation Sent Page")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if ((Model.Parameters.ConfirmationSentPageId != 0))
            {
                @Oxd.RenderContentSelecter("confirmationSentPageId", "Page", null, false, @Model.Parameters.ConfirmationSentPageId.ToString())
            }
            else
            {
                @Oxd.RenderContentSelecter("confirmationSentPageId", "Page")
            }

        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="loginPageId">
            @Html.T("Login Page")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if ((Model.Parameters.LoginPageId != 0))
            {
                @Oxd.RenderContentSelecter("loginPageId", "Page", null, false, @Model.Parameters.LoginPageId.ToString())
            }
            else
            {
                @Oxd.RenderContentSelecter("loginPageId", "Page")
            }

        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="passwordResetPageId">
            @Html.T("Password Reset Page")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if ((Model.Parameters.PasswordResetPageId != 0))
            {
                @Oxd.RenderContentSelecter("passwordResetPageId", "Page", null, false, @Model.Parameters.PasswordResetPageId.ToString())
            }
            else
            {
                @Oxd.RenderContentSelecter("passwordResetPageId", "Page")
            }

        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="userSettingPageId">
            @Html.T("User Settings Page")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if ((Model.Parameters.UserSettingPageId != 0))
            {
                @Oxd.RenderContentSelecter("userSettingPageId", "Page", null, false, @Model.Parameters.UserSettingPageId.ToString())
            }
            else
            {
                @Oxd.RenderContentSelecter("userSettingPageId", "Page")
            }

        </div>
    </div>
    <span class="section">@Html.T("Emails")</span>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="confirmationEmailId">
            @Html.T("Confirmation Email")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if ((Model.Parameters.ConfirmationEmailId != 0))
            {
                @Oxd.RenderContentSelecter("confirmationEmailId", "EmailTemplate", null, false, @Model.Parameters.ConfirmationEmailId.ToString())
            }
            else
            {
                @Oxd.RenderContentSelecter("confirmationEmailId", "EmailTemplate")
            }

        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="recoveryEmailId">
            @Html.T("Recovery Email")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if ((Model.Parameters.RecoveryEmailId != 0))
            {
                @Oxd.RenderContentSelecter("recoveryEmailId", "EmailTemplate", null, false, @Model.Parameters.RecoveryEmailId.ToString())
            }
            else
            {
                @Oxd.RenderContentSelecter("recoveryEmailId", "EmailTemplate")
            }

        </div>
    </div>
    <input type="hidden" name="Id" value='@Model.Parameters.Id'/>
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Update Setting")</button>
            <a id="cancel" type="submit" href="@Url.Action("DisplaySettings", "User", new {area = "Oxide.Extra"})" class="btn btn-danger alignRight">
                <i class="fa fa-times"></i> @Html.T("Cancel")</a>
        </div>
    </div>
}