﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
@using (Html.BeginForm("CreateSetting", "User", new {area = "Oxide.Extra"}, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <span class="section">@Html.T("General")</span>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Name")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="name" type="text" required="required">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
            @Html.T("Title")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="title" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="title" type="text" required="required">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cultureSelected">
            <span>@Html.T("Language")</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="width: 200px">
                @Html.DropDownList("cultureSelected", new SelectList(@Model.Parameters.CultureSelectList, "Value", "Text", ""), new {@class = "form-control"})
            </div>
        </div>
    </div>
    <span class="section">@Html.T("Pages")</span>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="confirmationPageId">
            @Html.T("Confirmation Page")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Oxd.RenderContentSelecter("confirmationPageId", "Page")
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="confirmationSentPageId">
            @Html.T("Confirmation Sent Page")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Oxd.RenderContentSelecter("confirmationSentPageId", "Page")
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="loginPageId">
            @Html.T("Login Page")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Oxd.RenderContentSelecter("loginPageId", "Page")
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="passwordResetPageId">
            @Html.T("Password Reset Page")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Oxd.RenderContentSelecter("passwordResetPageId", "Page")
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="userSettingPageId">
            @Html.T("User Settings Page")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Oxd.RenderContentSelecter("userSettingPageId", "Page")
        </div>
    </div>
    <span class="section">@Html.T("Emails")</span>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="confirmationEmailId">
            @Html.T("Confirmation Email")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Oxd.RenderContentSelecter("confirmationEmailId", "EmailTemplate")
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="recoveryEmailId">
            @Html.T("Recovery Email")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Oxd.RenderContentSelecter("recoveryEmailId", "EmailTemplate")
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Create Setting")</button>
            <a id="cancel" type="submit" href="@Url.Action("DisplaySettings", "User", new {area = "Oxide.Extra"})" class="btn btn-danger alignRight">
                <i class="fa fa-times"></i> @Html.T("Cancel")</a>
        </div>
    </div>
}