﻿@using System.Web.Optimization
<div class="item form-group">
    <textarea id="@Model.ElementId" name="@Model.ElementId" rows="50">@Model.Content</textarea>
</div>
<script src="http://cdn.ckeditor.com/4.6.2/full-all/ckeditor.js"></script>
@*<script type="text/javascript">
    var CKEDITOR_BASEPATH = '@Url.Content("~/Areas/Admin/Scripts/ckeditor/")';
</script>*@
@*@Scripts.Render("~/bundles/ckeditor")
@Scripts.Render("~/bundles/ckeditoradapter")*@
@Scripts.Render("~/bundles/highlight")
<script>
    $(document).ready(function () {
        var editor = CKEDITOR.instances['@Model.ElementId'];
        if (editor) {
            editor.destroy(true);
        }
        var config = {
            enterMode: CKEDITOR.ENTER_BR,
            extraPlugins: 'pastetext,codesnippet',
            codeSnippet_theme: 'obsidian',
            filebrowserBrowseUrl: '/Oxide.Media/FileManager/DialogFileManager',
            filebrowserImageBrowseUrl: '/Oxide.Media/FileManager/DialogMediaManager',
            height: '@Model.Height',
            width: '@Model.Width',
            language: '@Model.Language',
			allowedContent:true
        };
        CKEDITOR.replace('@Model.ElementId', config);
        CKEDITOR.dtd.$removeEmpty['i'] = false;
        CKEDITOR.dtd.$removeEmpty['ul'] = false;
        CKEDITOR.dtd.$removeEmpty['a'] = false;
        CKEDITOR.dtd.$removeEmpty['span'] = false;
        CKEDITOR.dtd.$removeEmpty['div'] = false;
        CKEDITOR.dtd.$removeEmpty['p'] = false;
    });
</script>