﻿@{
    var colorPickerId = Guid.NewGuid();
}
<div id="@colorPickerId" class="input-group colorpicker-element">
    <input name="@Model.ElementId" type="text" value="@Model.Value" class="form-control">
    <span class="input-group-addon"><i style="background-color: @Model.Value"></i></span>
</div>
<script>
    $(function() {
        $('#' + '@colorPickerId').colorpicker({
            format: "hex",
            colorSelectors: {
                'black': '#000000',
                'white': '#ffffff',
                'red': '#FF0000',
                'default': '#777777',
                'primary': '#337ab7',
                'success': '#5cb85c',
                'info': '#5bc0de',
                'warning': '#f0ad4e',
                'danger': '#d9534f'
            }
        });
    });
</script>