﻿<!-- Content Item For Content List -->
<script id="@Model" type="text/html">
    <div class="col-md-12 col-sm-12 col-xs-12 profile_details contentItem" data-bind="click: function() {selectContent($data)}">
        <div class="well profile_view col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="selectedContentItemIcon" data-bind="visible:selected">
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <h2>
                        <label data-bind="text:content().Name"></label>
                    </h2>
                    <h5>
                        <label data-bind="text:content().Title"></label>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- /Content Item For Content List -->