﻿<!-- Selected Content Item For Content List -->
<script id="@Model" type="text/html">
    <a>
        <span>
                    <span><label data-bind="text:content().Name"></label></span>
                    <span> (<label data-bind="text:content().Title"></label>)</span>
                </span>
    </a>
    <a href="#" class="btn btn-danger btn-xs buttonDeleteContentRight" data-bind="click: function() { $root.removeSelected($data); }">
        <i class="fa fa-trash-o"></i> <span data-bind="text:$root.deleteButtonTitle"></span> </a>
</script>
<!-- /Selected Content Item For Content List -->