﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@Styles.Render("~/AdminContent/dataTables-bootstrap")
@Styles.Render("~/AdminContent/responsive-bootstrap")
@Styles.Render("~/AdminContent/scroller-bootstrap")
@{
    var dataListId = Guid.NewGuid();
    var deleteConfirmModel = Guid.NewGuid();
}
<!-- Content picker -->
<div id="@dataListId" class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <table id="datatable-checkbox" class="table table-striped table-bordered jambo_table bulk_action">
                <thead>
                <tr>
                    @if (Model.WithPictures)
                    {
                        <th class="nosort" style="width: 120px"></th>
                    }
                    @foreach (var field in Model.FieldTitles)
                    {
                        <th class="nosort">@field</th>
                    }
                    @if (Model.EditUrl != null || Model.DeleteUrl != null)
                    {
                        <th class="nosort" style="width: 25%"></th>
                    }
                </tr>
                </thead>
                <tbody data-bind="foreach:contents">
                <tr>
                    @if ((Model.WithPictures) && (Model.PictureField != null))
                    {
                        <td>
                            <img height="100" width="120" data-bind="attr:{src:@Constants.ExpandoImageField}" alt=""/>
                        </td>
                    }

                    @foreach (var field in Model.Fields)
                    {
                        <td>
                            @if (((string) field).ToLower().Contains("datetime"))
                            {
                                <span data-bind="formattedTime: @field"></span>
                            }
                            else
                            {
                                <label data-bind="text:@field"></label>
                            }



                        </td>
                    }
                    @if (Model.EditUrl != null || Model.DeleteUrl != null)
                    {
                        <td>
                            @if (Model.EditUrl != null)
                            {
                                <a href="#" class="btn btn-info btn-xs" data-bind="attr: {'href':$root.getEditUl(Id())}">
                                    <i class="fa fa-pencil"></i> @Html.T("Edit", "Admin")
                                </a>
                            }
                            @if (Model.DeleteUrl != null)
                            {
                                <a href="#" class="btn btn-danger btn-xs" data-bind="click: function() { $root.showModal($data); }">
                                    <i class="fa fa-trash-o"></i> @Html.T("Delete", "Admin")
                                </a>
                            }
                        </td>
                    }
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
    <div data-bind="bootstrapModalDataList:modal" class="modal fade" id="deleteConfirmModel" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
    @Html.Partial(MVC.Admin.Templates.Views.ViewNames.Confirm)
    @Html.Partial(MVC.Admin.Templates.Views.ViewNames.CloneInput)

    @Html.GetJsonResources(new[] {"Admin"}, "DataList")
</div>

<!-- /Content picker -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/dataTables-bootstrap")
@Scripts.Render("~/bundles/dataTables-keyTable")
@Scripts.Render("~/bundles/dataTables-responsive")
@Scripts.Render("~/bundles/responsive-bootstrap")
@Scripts.Render("~/bundles/datatables-scroller")
@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/DataList")
<script>
    var $datatable;
    var pageSize = 10;
    var currentPage = 0;
    var filter = '';
    $(document).ready(function() {
        var pagesViewModel = new DataListModel(
            '@Model.LoadContentUrl',
            '@Model.EditUrl',
            '@Model.DeleteUrl',
            '@Model.ContentName',
            '@Model.WithPictures',
            '@Model.PictureField');
        ko.applyBindings(pagesViewModel, document.getElementById('@dataListId'));
        $datatable = $('#datatable-checkbox');
        $datatable
            .on('order.dt', function() {
            })
            .on('search.dt', function() {
                var value = $('.dataTables_filter input').val();
                pagesViewModel.actionFilter(value);
                pagesViewModel.actionCurrentPage(0);
                pagesViewModel.loadData(pagesViewModel.contentName, pagesViewModel.actionPageSize(), 0, pagesViewModel.actionFilter(), pagesViewModel.pictureEnabled(), pagesViewModel.fieldOfPicture());
            })
            .on('page.dt', function() {
                ;
            })
            .dataTable({
                "bJQueryUI": false,
                "bAutoWidth": false,
                "oLanguage": {
                    "sEmptyTable": DataList.No_Data, //when empty
                    "sSearch": "<span>" + DataList.Search + ":</span> _INPUT_", //search
                    "sLengthMenu": "<span>" + DataList.Showing + ":</span> _MENU_", //label
                    "oPaginate": { "sFirst": DataList.First, "sLast": DataList.Last, "sNext": DataList.Next, "sPrevious": DataList.Previous } //pagination
                },
                "columnDefs": [{ 'bSortable': false, 'aTargets': ['nosort'] }]
            });

        $('select').change(function() {
            pagesViewModel.actionPageSize($(this).val());
            pagesViewModel.actionCurrentPage(0);
            pagesViewModel.loadData(pagesViewModel.contentName, pagesViewModel.actionPageSize, 0, pagesViewModel.actionFilter, pagesViewModel.pictureEnabled(), pagesViewModel.fieldOfPicture());
        });
    });
</script>