﻿<!-- Modal template -->
<script id="directoryItem" type="text/html">
    <li >
        <span><i class="fa fa-folder-open"></i></span><label class="directoryLabel" data-bind="attr: {'id':'lbl_' + id()}, text:name,click: function() { $root.selectDirectory($data,this);} "></label>
        <ul data-bind="template: { name: 'directoryItem', foreach: directories }"></ul>
    </li>
</script>