﻿@using Oxide.Core.Syntax
<!-- Selected Content Item For Content List -->
<script id="@Model" type="text/html">
    <a>
        <article class="media event">
            <div class="pull-left" data-bind="visible:$root.pictureEnabled">
                <img height="100" width="120" data-bind="attr:{src:@Constants.ExpandoImageField}" alt=""/>
            </div>
            <div class="media-body">
                <h2>
                    <label data-bind="text:field1"></label>
                </h2>
                <h5>
                    <label data-bind="text:field2"></label>
                </h5>
            </div>
        </article>
    </a>
    <a href="#" class="btn btn-danger btn-xs buttonDeleteContentRight" data-bind="click: function() { $root.removeSelected($data); }">
        <i class="fa fa-trash-o"></i> <span data-bind="text:$root.deleteButtonTitle"></span> </a>
</script>
<!-- /Selected Content Item For Content List -->