﻿<!-- Content List Template -->
<script id="@Model" class="modal-dialog" type="text/html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click:close" aria-hidden="true">&times;</button>
                <h4 data-bind="html:header" class="modal-title"></h4>

            </div>
            <div class="modal-body">
                <div id="content_panel" class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" id="txtContentSearch" data-bind="attr: {placeholder: searchInfo},textInput:filterText,event:{ keyup:function() {filter(filterText);} }" placeholder="Search for..." class="form-control">
                            <span class="input-group-btn">
                                <button type="button" data-bind="html:searchButton" class="btn btn-default">Search</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" data-bind="template: { name: contentItemTemplate, foreach: contentList  }"></div>

                </div>

            </div>
            <div class="modal-footer">
                <div class="loadingContainerInner" data-bind="visible:isContentLoading">
                    <div class="loading-24 loading-ring loading-center"></div>
                </div>
                <button type="button" class="btn btn-danger" data-bind="click:onCancel,html:closeLabel">Cancel</button>
                <button type="button" class="btn btn-primary" data-bind="click:onAction,html:actionLabel">Ok</button>
            </div>
        </div>

    </div>
</script>
<!-- /Content List Template -->