﻿@using Oxide.Core.Syntax
<!-- Content Item For Content List -->
<script id="@Model" type="text/html">
    <div class="col-md-12 col-sm-12 col-xs-12 profile_details contentItem" data-bind="click: function() {selectContent($data)}">
        <div class="well profile_view col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <article class="media event">
                    <div class="selectedContentItemIcon" data-bind="visible:selected">
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="pull-left" data-bind="visible:pictureEnabled">
                        <img class="imageContententItem" height="100" width="120" data-bind="attr:{src:@Constants.ExpandoImageField}" alt=""/>
                    </div>
                    <div class="media-body">
                        <h2>
                            <label data-bind="text:field1"></label>
                        </h2>
                        <h5>
                            <label data-bind="text:field2"></label>
                        </h5>
                    </div>
                </article>
            </div>
        </div>
    </div>
</script>
<!-- /Content Item For Content List -->