﻿@using Oxide.Core.Managers.ResourceManager
@{
    var contentPickerId = Guid.NewGuid();
    var selectedContentTemplateId = Guid.NewGuid();
    var contentListTemplateId = Guid.NewGuid();
    var contentListItemTemplateId = Guid.NewGuid();
}
<!-- Content picker -->
<div id="@contentPickerId" class="x_panel">
    <a href="#" class="btn btn-primary" data-bind="click: function() { $root.showModal();}">@Html.T("Select")</a>
    <div data-bind="modalContent:modalContent" class="modal fade" id="modalContent" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
    <ul class="list-unstyled msg_list" data-bind="sortable:{data:selectedContent, allowDrop: $root.canDrop}">
        <li data-bind="template: { name: $root.contentSelectListTemplate }"></li>
    </ul>
    <input type="hidden" data-bind="attr: { id:elementId(),name:elementId()},value:selectedContentValues">
    <!-- Elements of content picker -->
    @Html.Partial(MVC.Admin.OxideUi.Views.ViewNames.ImageContentSelectedItem, selectedContentTemplateId)
    @Html.Partial(MVC.Admin.OxideUi.Views.ViewNames.ImageContentList, contentListTemplateId)
    @Html.Partial(MVC.Admin.OxideUi.Views.ViewNames.ImageContentListItem, contentListItemTemplateId)
    <!-- Elements of content picker -->
</div>
@Html.GetJsonResources(new[] {"Admin"}, "ImageContentSelecter")
<!-- /Content picker -->
<script>
    $(document).ready(function() {
        var contentViewModel = new ImageContentModel(
            '@Model.ElementId',
            '@Model.LoadContentUrl',
            '@Model.ContentName',
            '@Model.Multiple',
            null,
            @Html.Raw(Json.Encode(Model.SelectedRecords)),
            '@Model.PictureField',
            '@Model.Field1',
            '@Model.Field2',
            '@Model.WithPictures');
        contentViewModel.contentSelectListTemplate('@selectedContentTemplateId');
        contentViewModel.contentListTemplate('@contentListTemplateId');
        contentViewModel.contentItemTemplate('@contentListItemTemplateId');
        ko.applyBindings(contentViewModel, document.getElementById('@contentPickerId'));
    });
</script>