﻿<!-- Content Item For Media -->
<script id="@Model" type="text/html">
    <div class="imageListItem">
        <label class="imageName" data-bind="text:content().Name"></label>
        <img class="layoutPreviewImage lazy" height="100" width="100" data-bind="attr:{src:content().Path},click: function() {selectContent($data);}"/>
        <div class="selectedMediaItemIcon" data-bind="visible:selected">
            <i class="fa fa-check-circle"></i>
        </div>
    </div>
</script>
<!-- /Content Item For Media -->