﻿<!-- Selected content Item For Content List -->
<script id="@Model" type="text/html">
    <div class="imageListItem">
        <label class="imageName" data-bind="text:content().Name"></label>
        <img height="100" width="100" data-bind="attr:{src:content().Path}"/>
        <a href="#" class="btn btn-danger btn-xs" data-bind="click: function() { $root.removeSelected($data); }">
            <i class="fa fa-trash-o"></i> <span data-bind="text:$root.deleteButtonTitle"></span>  </a>
    </div>
</script>
<!-- /Selected content Item For Content List -->