﻿<!-- Content List Template -->
<script id="@Model" class="modal-dialog" type="text/html">

    <div class="modal-dialog x_content">
        <div class="modal-content">
            <div class="modal-header">
                <h4 data-bind="html:header" class="modal-title"></h4>
                <button type="button" class="close" data-bind="click:close" aria-hidden="true">&times;</button>

            </div>
            <div id="directoryBrowser" class="col-sm-3">
                <div class="tree well tags">
                    <ul class="startTree" data-bind="template: { name: 'directoryItem', foreach: directories }"></ul>
                </div>
                <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
                    <div class="loading-128 loading-ring loading-center"></div>
                </div>
            </div>
            <div id="fileBrowser" class="col-sm-9">
                <div class="btn-group navigaterBar">
                    <div class="dataTables_info alignLeft" id="datatable-checkbox_info" data-bind="html:pageInfo()" role="status" aria-live="polite"></div>
                    <div class="dataTables_paginate paging_simple_numbers contentNavigator" id="datatable-checkbox_paginate">
                        <ul class="pagination">
                            <li class="paginate_button previous disabled" id="datatable-checkbox_previous" data-bind="css: previousEnable() == true ? '' : 'disabled'">
                                <a href="#" data-bind="click: function() {prev(); },text:buttonPrevious" aria-controls="datatable-checkbox" data-dt-idx="0" tabindex="0">Previous</a>
                            </li>
                            <li class="paginate_button next" id="datatable-checkbox_next" data-bind="css: nextEnable() == true ? '' : 'disabled'">
                                <a href="#" data-bind="click: function() {next(); },text:buttonNext" aria-controls="datatable-checkbox" data-dt-idx="1" tabindex="0">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" data-bind="template: { name: contentItemTemplate, foreach: contentList  }"></div>
                <div class="loadingContainerFullScreen" data-bind="visible:isContentLoading">
                    <div class="loading-128 loading-ring loading-center"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bind="click:onCancel,html:closeLabel">Cancel</button>
                <button type="button" class="btn btn-primary" data-bind="click:onAction,html:actionLabel">Ok</button>
            </div>

        </div>
    </div>
</script>
<!-- /Content List Template -->