﻿@using Oxide.Core.Managers.ResourceManager
@{
    var mediaContentPickerId = Guid.NewGuid();
    var selectedContentTemplateId = Guid.NewGuid();
    var contentListTemplateId = Guid.NewGuid();
    var contentListItemTemplateId = Guid.NewGuid();
}
<!-- Media picker -->
<div id="@mediaContentPickerId" class="x_panel">
    <a href="#" class="btn btn-primary" data-bind="click: function() { $root.showModal();}">
        <i class="fa fa-plus"></i> @Html.T("Select")
    </a>
    <br/>
    <div data-bind="modalContent:modalContent" class="modal fade" id="modalContent" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
    <div class="col-sm-12">
        <ul class="list-unstyled" data-bind="sortable:{data:selectedContent, allowDrop: $root.canDrop}">
            <li class="mediaSelectedListItem" data-bind="template: { name: $root.contentSelectListTemplate }"></li>
        </ul>
        <input type="hidden" data-bind="attr: { id:elementId(),name:elementId()},value:selectedContentValues">
    </div>
    <!-- Elements of media picker -->
    @Html.Partial(MVC.Admin.OxideUi.Views.ViewNames.MediaContentSelectedItem, selectedContentTemplateId)
    @Html.Partial(MVC.Admin.OxideUi.Views.ViewNames.MediaContentList, contentListTemplateId)
    @Html.Partial(MVC.Admin.OxideUi.Views.ViewNames.MediaContentListItem, contentListItemTemplateId)
    @Html.Partial(MVC.Admin.OxideUi.Views.ViewNames.DirectoryItem)
    <!-- /Elements of media picker -->
</div>

@Html.GetJsonResources(new[] {"Admin"}, "MediaSelecter")
<!-- /Media picker -->
<script>
    $(document).ready(function() {
        var contentViewModel = new ContentModelMedia(
            '@Model.ElementId',
            '@Model.LoadContentUrl',
            '@Model.Multiple',
            '@Model.LoadDirectoriesUrl',
            @Html.Raw(Model.SelectedRecords),
            '@Model.LoadSubDirectoriesUrl');
        contentViewModel.contentSelectListTemplate('@selectedContentTemplateId');
        contentViewModel.contentListTemplate('@contentListTemplateId');
        contentViewModel.contentItemTemplate('@contentListItemTemplateId');
        ko.applyBindings(contentViewModel, document.getElementById('@mediaContentPickerId'));
    });
</script>