.lb-loader, .lightbox {
    line-height: 0;
    text-align: center;
}

body:after {
    content: url(/areas/OxideFundamentals/content/images/close.png) url(/areas/OxideFundamentals/content/images/loading.gif) url(/areas/OxideFundamentals/content/images/prev.png) url(/areas/OxideFundamentals/content/images/next.png);
    display: none
}

.lb-dataContainer:after, .lb-outerContainer:after {
    clear: both;
    content: "";
}

body.lb-disable-scrolling { overflow: hidden }

.lightboxOverlay {
    background-color: #000;
    display: none;
    filter: alpha(Opacity=80);
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    z-index: 9999;
}

.lightbox {
    font-weight: 400;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10000;
}

.lightbox .lb-image {
    border-radius: 3px;
    display: block;
    height: auto;
    max-width: inherit;
}

.lightbox a img { border: none }

.lb-outerContainer {
    background-color: #fff;
    border-radius: 4px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    width: 250px;
}

.lb-loader, .lb-nav {
    left: 0;
    position: absolute;
}

.lb-outerContainer:after { display: table }

.lb-container { padding: 4px }

.lb-loader {
    height: 25%;
    top: 43%;
    width: 100%
}

.lb-cancel {
    background: url(/areas/OxideFundamentals/content/images/loading.gif) no-repeat;
    display: block;
    height: 32px;
    margin: 0 auto;
    width: 32px;
}

.lb-nav {
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 10
}

.lb-container > .nav { left: 0 }

.lb-nav a {
    background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
    outline: 0;
}

.lb-next, .lb-prev {
    cursor: pointer;
    display: block;
    height: 100%;
}

.lb-nav a.lb-prev {
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -webkit-transition: opacity .6s;
    background: url(/areas/OxideFundamentals/content/images/prev.png) left 48% no-repeat;
    filter: alpha(Opacity=0);
    float: left;
    left: 0;
    opacity: 0;
    transition: opacity .6s;
    width: 34%;
}

.lb-nav a.lb-prev:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-nav a.lb-next {
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -webkit-transition: opacity .6s;
    background: url(/areas/OxideFundamentals/content/images/next.png) right 48% no-repeat;
    filter: alpha(Opacity=0);
    float: right;
    opacity: 0;
    right: 0;
    transition: opacity .6s;
    width: 64%;
}

.lb-nav a.lb-next:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-dataContainer {
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
}

.lb-dataContainer:after { display: table }

.lb-data {
    color: #ccc;
    padding: 0 4px;
}

.lb-data .lb-details {
    float: left;
    line-height: 1.1em;
    text-align: left;
    width: 85%;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: 700;
    line-height: 1em
}

.lb-data .lb-number {
    clear: left;
    color: #999;
    display: block;
    font-size: 12px;
    padding-bottom: 1em;
}

.lb-data .lb-close {
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    background: url(/areas/OxideFundamentals/content/images/close.png) top right no-repeat;
    display: block;
    filter: alpha(Opacity=70);
    float: right;
    height: 30px;
    opacity: .7;
    outline: 0;
    text-align: right;
    transition: opacity .2s;
    width: 30px;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: alpha(Opacity=100);
    opacity: 1
}