﻿.navigation-clean {
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (max-width: 767px) {
    .navigation-clean {
        padding-bottom: 0;
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    .navigation-clean .navbar-header {
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

.navigation-clean .navbar-brand {
    color: inherit;
    font-weight: bold;
}

.navigation-clean .navbar-brand:hover { color: #222; }

.navigation-clean.navbar-inverse .navbar-brand:hover { color: #f0f0f0; }

.navigation-clean .navbar-brand img {
    display: inline-block;
    height: 100%;
    margin-right: 10px;
    width: auto;
}

.navigation-clean .navbar-toggle { border-color: #ddd; }

.navigation-clean .navbar-toggle:hover, .navigation-clean .navbar-toggle:focus { background: none; }

.navigation-clean.navbar-inverse .navbar-toggle { border-color: #555; }

.navigation-clean .navbar-toggle .icon-bar { background-color: #282d32; }

.navigation-clean.navbar-inverse .navbar-toggle .icon-bar { background-color: #282d32; }

.navigation-clean .navbar-collapse, .navigation-clean .navbar-form { border-top-color: #ddd; }

.navigation-clean.navbar-inverse .navbar-collapse, .navigation-clean.navbar-inverse .navbar-form { border-top-color: #333; }

.navigation-clean .navbar-nav > .active > a, .navigation-clean .navbar-nav > .open > a {
    background: none;
    box-shadow: none;
}

.navigation-clean.navbar-default .navbar-nav > .active > a, .navigation-clean.navbar-default .navbar-nav > .active > a:focus, .navigation-clean.navbar-default .navbar-nav > .active > a:hover {
    background-color: #282d32;
    background-color: rgba(40, 45, 50, 1);
    border-radius: 5px;
    box-shadow: none;
    color: white;
}

.navigation-clean.navbar .navbar-nav > li:hover {
    background-color: #282d32;
    border-radius: 5px;
    color: white;
}


.navigation-clean.navbar .navbar-nav > li > a {
    padding-left: 18px;
    padding-right: 18px;
}

.navigation-clean.navbar-default .navbar-nav > li > a { color: #282d32; }

.navigation-clean.navbar-default .navbar-nav > li > a:focus, .navigation-clean.navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: white !important;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    margin-top: -5px;
}

@media (max-width: 767px) {
    .navigation-clean .navbar-nav .open .dropdown-menu { box-shadow: none; }
}

@media (max-width: 767px) {
    .navigation-clean .navbar-nav .open .dropdown-menu > li > a {
        color: #282d32;
        line-height: 1;
        padding-bottom: 12px;
        padding-top: 12px;
    }
}

.navigation-clean .dropdown-menu > li > a:focus, .navigation-clean .dropdown-menu > li > a {
    color: #37434d;
    font-size: 14px;
    line-height: 2;
}

.navigation-clean .dropdown-menu > li > a:focus, .navigation-clean .dropdown-menu > li > a:hover {
    background: #eee;
    color: inherit;
}

.navigation-clean.navbar-inverse {
    background-color: #1f2021;
    color: #fff;
}

.navigation-clean.navbar-inverse .navbar-nav > .active > a, .navigation-clean.navbar-inverse .navbar-nav > .active > a:focus, .navigation-clean.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #282d32;
    background-color: rgba(40, 45, 50, 1);
    border-radius: 5px;
    box-shadow: none;
    color: white;
}

.navigation-clean.navbar-inverse .navbar-nav > li > a { color: #dfe8ee; }

.navigation-clean.navbar-inverse .navbar-nav > li > a:focus, .navigation-clean.navbar-inverse .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #fff !important;
}

.navigation-clean.navbar-inverse .navbar-nav > li > .dropdown-menu { background-color: #282d32; }

.navigation-clean.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean.navbar-inverse .dropdown-menu > li > a { color: #f2f5f8; }

.navigation-clean.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean.navbar-inverse .dropdown-menu > li > a:hover { background: #282d32; }

@media (max-width: 767px) {
    .navigation-clean.navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #fff; }
}

/* Lightbox Gallery */

.photo-gallery {
    background-color: #fff;
    color: #313437;
}

.photo-gallery p { color: #7d8285; }

.photo-gallery h2 {
    color: inherit;
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
}

@media (max-width: 767px) {
    .photo-gallery h2 {
        font-size: 24px;
        margin-bottom: 25px;
        padding-top: 25px;
    }
}

.photo-gallery .intro {
    font-size: 16px;
    margin: 0 auto 40px;
    max-width: 500px;
}

.photo-gallery .intro p { margin-bottom: 0; }

.photo-gallery .photos { padding-bottom: 20px; }

.photo-gallery .item { padding-bottom: 30px; }

/* Culture Selecter */

.cultureSelecter {
    float: right;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 9999;    
}

.cultureSelecter .navbar-nav .open .dropdown-menu { background-color: white; }


/* Slider */

.simple-slider .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
}

@media (max-width: 767px) {
    .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev { display: none; }
}

@media (max-width: 767px) {
    .simple-slider .swiper-slide { height: 360px; }
}

/*Cool Menu*/

.coolMenu {
    display: block;
    position: relative
}

.coolMenu .navbar-default .navbar-toggle { border-color: transparent; }

.coolMenu .navbar-toggle { margin-top: 24px; }

@media (max-width: 1199px) {
    .navbar { min-height: 80px; }
}

.nav { margin-top: 30px; }

.navbar-default {
    -webkit-box-shadow: none;
    background-color: white;
    background-image: none;
    background-repeat: no-repeat;
}

img#logo {
    position: relative;
    top: -6px;
}

@media (max-width: 767px) {
    img#logo {
        height: 45px;
        top: -2px;
    }
}



/*Footer Dark*/

.footer-dark {
    background-color: #282d32;
    color: #f0f9ff;
    padding: 50px 0;
}

.footer-dark h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 0;
}

.footer-dark ul {
    font-size: 14px;
    line-height: 1.6;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.footer-dark ul a {
    color: inherit;
    opacity: 0.6;
    text-decoration: none;
}

.footer-dark ul a:hover { opacity: 0.8; }

@media (max-width: 767px) {
    .footer-dark .item:not(.social) {
        padding-bottom: 20px;
        text-align: center;
    }
}

.footer-dark .item.text { margin-bottom: 36px; }

@media (max-width: 767px) {
    .footer-dark .item.text { margin-bottom: 0; }
}

.footer-dark .item.text p {
    margin-bottom: 0;
    opacity: 0.6;
}

.footer-dark .item.social { text-align: center; }

@media (max-width: 991px) {
    .footer-dark .item.social {
        margin-top: 20px;
        text-align: center;
    }
}

.footer-dark .item.social > a {
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 36px;
    line-height: 36px;
    margin: 0 8px;
    opacity: 0.75;
    text-align: center;
    width: 36px;
}

.footer-dark .item.social > a:hover { opacity: 0.9; }

.footer-dark .copyright {
    font-size: 13px;
    margin-bottom: 0;
    opacity: 0.3;
    padding-top: 24px;
    text-align: center;
}

.footer-dark_links {
    display: block;
    float: left;
    position: relative;
    width: auto;
}

.footer-dark .footerLink {
    color: #f0f9ff;
    text-decoration: none;
}

.footer-dark .footerLink:hover {
    color: #f0f9ff;
    text-decoration: none;
}

/*Footer Light*/

.footer-clean {
    background-color: #fff;
    color: #4b4c4d;
    padding: 50px 0;
}

.footer-clean h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 0;
}

.footer-clean ul {
    font-size: 14px;
    line-height: 1.6;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.footer-clean ul a {
    color: inherit;
    opacity: 0.8;
    text-decoration: none;
}

.footer-clean ul a:hover { opacity: 1; }

.footer-clean .item.social { text-align: right; }

@media (max-width: 767px) {
    .footer-clean .item {
        padding-bottom: 20px;
        text-align: center;
    }
}

@media (max-width: 991px) {
    .footer-clean .item.social { text-align: center; }
}

.footer-clean .item.social > a {
    border: 1px solid #ccc;
    border-radius: 50%;
    color: inherit;
    display: inline-block;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    margin-top: 22px;
    opacity: 0.75;
    text-align: center;
    width: 40px;
}

.footer-clean .item.social > a:hover { opacity: 0.9; }

@media (max-width: 991px) {
    .footer-clean .item.social > a { margin-top: 40px; }
}

@media (max-width: 767px) {
    .footer-clean .item.social > a { margin-top: 10px; }
}

.footer-clean .copyright {
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 14px;
    opacity: 0.6;
}

.footer-clean .footerLink {
    color: #333;
    text-decoration: none;
}

.footer-clean .footerLink:hover {
    color: #333;
    text-decoration: none;
}

.footer-dark .footerLinkItem {
    float: left;
    width: auto;
}

@media (max-width: 991px) {
    .footer-dark .footerLinkItem { float: none; }
}

.footer-clean .footerLinkItem {
    float: left;
    width: auto;
}

@media (max-width: 991px) {
    .footer-clean .footerLinkItem { float: none; }
}