﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@Styles.Render("~/AdminContent/dataTables-bootstrap")
@Styles.Render("~/AdminContent/responsive-bootstrap")
<div id="adminRoleList" class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <table id="datatable-checkbox" class="table table-striped table-bordered jambo_table bulk_action">
                <thead>
                <tr>
                    <th class="nosort">@Html.T("Name")</th>
                    <th class="nosort">@Html.T("Title")</th>
                    <th class="nosort" style="width: 25%"></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: adminRoles">
                <tr>
                    <td>
                        <label data-bind="text:name"></label>
                    </td>
                    <td>
                        <label data-bind="text:title"></label>
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary btn-xs" data-bind="attr: {'href':manegeRolesUrl}">
                            <i class="fa fa-clone"></i> @Html.T("Permissions")</a>
                        <a href="#" class="btn btn-info btn-xs" data-bind="attr: {'href':editUrl}">
                            <i class="fa fa-pencil"></i> @Html.T("Edit")
                        </a>
                        <a href="#" class="btn btn-danger btn-xs" data-bind="click: function() { $root.showModal($data); }">
                            <i class="fa fa-trash-o"></i> @Html.T("Delete")
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
    <div data-bind="bootstrapModal:modal" class="modal fade" id="deleteConfirmModel" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
    @Html.Partial(MVC.Admin.Templates.Views.ViewNames.Confirm);
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/dataTables-bootstrap")
@Scripts.Render("~/bundles/dataTables-keyTable")
@Scripts.Render("~/bundles/dataTables-responsive")
@Scripts.Render("~/bundles/responsive-bootstrap")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/AdminRolesModel")
@Html.GetJsonResources(new[] {"Admin"}, "AdminRoles")
<script>
    var $datatable;
    var pageSize = 10;
    var currentPage = 0;
    var filter = '';
    $(document).ready(function() {
        var pagesViewModel = new AdminRolesModel('@Url.Action(MVC.Admin.AdminUser.ActionNames.AdminRoleList, MVC.Admin.AdminUser.Name, new {area = Constants.DefaultArea})');
        ko.applyBindings(pagesViewModel, document.getElementById('adminRoleList'));
        $datatable = $('#datatable-checkbox');
        $datatable
            .on('order.dt', function() {
            })
            .on('search.dt', function() {
                var value = $('.dataTables_filter input').val();
                pagesViewModel.actionFilter(value);
                pagesViewModel.actionCurrentPage(0);
                pagesViewModel.loadData(pagesViewModel.actionPageSize(), 0, pagesViewModel.actionFilter());
            })
            .on('page.dt', function() {
            })
            .dataTable({
                "bJQueryUI": false,
                "bAutoWidth": false,
                "oLanguage": {
                    "sEmptyTable": AdminRoles.No_Data, //when empty
                    "sSearch": "<span>" + AdminRoles.Search + ":</span> _INPUT_", //search
                    "sLengthMenu": "<span>" + AdminRoles.Showing + ":</span> _MENU_", //label
                    "oPaginate": { "sFirst": AdminRoles.First, "sLast": AdminRoles.Last, "sNext": AdminRoles.Next, "sPrevious": AdminRoles.Previous } //pagination
                },
                "columnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    }
                ]
            });
        $('select').change(function() {
            pagesViewModel.actionPageSize($(this).val());
            pagesViewModel.actionCurrentPage(0);
            pagesViewModel.loadData(pagesViewModel.actionPageSize, 0, pagesViewModel.actionFilter);
        });
    });
</script>