﻿@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@using (Html.BeginForm(MVC.Admin.AdminUser.ActionNames.UpdateRole, MVC.Admin.AdminUser.Name, FormMethod.Post, new {area = Constants.DefaultArea, @class = "form-horizontal form-label-left"}))
{
    @Html.AntiForgeryToken()
    <span class="section">Role Information</span>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Name") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if (@Model.Parameters != null)
            {
                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="name" value="@Model.Parameters.Name" required="required" type="text">
            }
            else
            {
                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="name" required="required" type="text">
            }
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
            @Html.T("Title") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if (@Model.Parameters != null)
            {
                <input id="title" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="title" value="@Model.Parameters.Title" required="required" type="text">
            }
            else
            {
                <input id="title" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="title" required="required" type="text">
            }
        </div>
    </div>
    <input type="hidden" name="id" value='@Model.Parameters.Id'/>
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Update Role")</button>
            <a id="cancel" type="submit" href="@Url.Action(MVC.Admin.AdminUser.ActionNames.DisplayRoles, MVC.Admin.AdminUser.Name, new {area = Constants.DefaultArea})" class="btn btn-danger alignRight">
                <i class="fa fa-times"></i> @Html.T("Cancel")</a>
        </div>
    </div>
}