﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@using (Html.BeginForm(MVC.Admin.AdminUser.ActionNames.UpdateUser, MVC.Admin.AdminUser.Name, FormMethod.Post, new {area = Constants.DefaultArea, @class = "form-horizontal form-label-left"}))
{
    @Html.AntiForgeryToken()
    <span class="section">User Information</span>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="userImage">
            @Html.T("User Image") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @(@Model.Parameters != null ? Oxd.RenderMediaSelecter("userImage", false, @Model.Parameters.UserImageIdValue) : Oxd.RenderMediaSelecter("userImage"))
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="userImage">
            @Html.T("User Language") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @(@Model.Parameters != null ? Oxd.RenderContentSelecter("languageId", "Language", null, false, @Model.Parameters.UserLanguageId) : Oxd.RenderContentSelecter("languageId", "Language"))
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Name") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if (@Model.Parameters != null)
            {
                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="name" value="@Model.Parameters.Name" required="required" type="text">
            }
            else
            {
                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="name" required="required" type="text">
            }
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Email") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if (@Model.Parameters != null)
            {
                <input id="email" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="email" value="@Model.Parameters.Email" required="required" type="email">
            }
            else
            {
                <input id="email" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="email" required="required" type="email">
            }
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Password")  <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="password" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="password" type="password">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Password (Again)") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="confirmPassword" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="confirmPassword"  type="password">
        </div>
    </div>

    <input type="hidden" name="id" value='@Model.Parameters.Id'/>
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Update User")</button>
            <a id="cancel" type="submit" href="@Url.Action(MVC.Admin.AdminUser.ActionNames.DisplayUsers, MVC.Admin.AdminUser.Name, new {area = Constants.DefaultArea})" class="btn btn-danger alignRight">
                <i class="fa fa-times"></i> @Html.T("Cancel")</a>
        </div>
    </div>
}