﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@Styles.Render("~/AdminContent/switch")
<div id="permissions">
    <div class="row" data-bind="foreach: owners">
        <div >
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <label data-bind="text:title"></label>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="x_panel" data-bind="foreach: groups">
                        <div class="x_title ">
                            <h5>
                                <label data-bind="text:title"></label>
                            </h5>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" data-bind="foreach: permissions">
                            <div class="form-group">
                                <label class="control-label col-md-7 col-sm-7 col-xs-12">
                                    <span data-bind="text:title"></span>
                                </label>
                                <input data-bind="attr: { id: 'chk_' + id(),name: 'chk_' + id()},multiSelection: status" type="checkbox" class="multiSelection col-md-6 col-sm-6 col-xs-12" checked data-size="mini" data-on-text=@Html.T("assigned") data-off-text=@Html.T("not assigned")>
                                <label class="successMessage paddingLeft">
                                    <span data-bind="text:updateStatus"></span>
                                </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
</div>
<a id="send" type="submit" href="@Url.Action(MVC.Admin.AdminUser.ActionNames.DisplayRoles, MVC.Admin.AdminUser.Name, new {area = Constants.DefaultArea})" class="btn btn-dark alignRight">
    <i class="fa fa-check"></i> @Html.T("Ok")</a>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/AdminPermissionsModel")
@Scripts.Render("~/bundles/bootstrap-switch")
@Html.GetJsonResources(new[] {"Admin"}, "ManagePermissions")
<script>
    var $datatable;
    var pageSize = 10;
    var currentPage = 0;
    var filter = '';
    $(document).ready(function() {
        var permissionsViewModel = new AdminPermissionsModel(
            '@Url.Action(MVC.Admin.AdminUser.ActionNames.PermisionList, MVC.Admin.AdminUser.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.AdminUser.ActionNames.SetPermission, MVC.Admin.AdminUser.Name, new {area = Constants.DefaultArea})',
            '@Model.Parameters');
        ko.applyBindings(permissionsViewModel, document.getElementById('permissions'));
        permissionsViewModel.loadPermissions();

    });
</script>