﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@Styles.Render("~/AdminContent/switch")
<div id="roles">
    <div class="row" data-bind="foreach: roles">
        <div class="x_content">
            <div class="x_content">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        <span data-bind="text:title"></span>
                    </label>

                    <input data-bind="attr: { id: 'chk_' + id(),name: 'chk_' + id()},multiSelection: status" type="checkbox" class="multiSelection col-md-6 col-sm-6 col-xs-12" checked data-size="mini" data-on-text=@Html.T("assigned") data-off-text=@Html.T("not assigned")>
                    <label class="successMessage paddingLeft">
                        <span data-bind="text:updateStatus"></span>
                    </label>

                </div>
            </div>

        </div>
    </div>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
</div>
<a id="send" type="submit" href="@Url.Action(MVC.Admin.AdminUser.ActionNames.DisplayUsers, MVC.Admin.AdminUser.Name, new {area = Constants.DefaultArea})" class="btn btn-dark alignRight">
    <i class="fa fa-check"></i> @Html.T("Ok")</a>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/AdminUserRolesModel")
@Scripts.Render("~/bundles/bootstrap-switch")
@Html.GetJsonResources(new[] {"Admin"}, "ManageRoles")
<script>
    var $datatable;
    var pageSize = 10;
    var currentPage = 0;
    var filter = '';
    $(document).ready(function() {
        var permissionsViewModel = new AdminPermissionsModel(
            '@Url.Action(MVC.Admin.AdminUser.ActionNames.RoleList, MVC.Admin.AdminUser.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.AdminUser.ActionNames.SetRole, MVC.Admin.AdminUser.Name, new {area = Constants.DefaultArea})',
            '@Model.Parameters');
        ko.applyBindings(permissionsViewModel, document.getElementById('roles'));
        permissionsViewModel.loadRoles();

    });
</script>