/*
Copyright (c) 2003-2012, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

body .cke_dialog { visibility: visible; }

.cke_skin_office2003 table.cke_dialog.cke_browser_gecko { display: block; }

.cke_skin_office2003 .cke_dialog_body {
    margin-bottom: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 2px;
    z-index: 1;
    _position: static;
}

.cke_skin_office2003 .cke_dialog_tl, .cke_skin_office2003 .cke_dialog_tr, .cke_skin_office2003 .cke_dialog_tc, .cke_skin_office2003 .cke_dialog_bl, .cke_skin_office2003 .cke_dialog_br, .cke_skin_office2003 .cke_dialog_bc {
    background-image: url(images/sprites.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    _background-image: url(images/sprites_ie6.png);
}

.cke_skin_office2003 .cke_dialog_tl {
    background-position: -16px -16px;
    height: 16px;
    left: 0;
    top: 0;
    width: 16px;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_tl { background-position: -16px -397px; }

.cke_skin_office2003 .cke_dialog_tr {
    background-position: -16px -76px;
    height: 16px;
    right: 0;
    top: 0;
    width: 16px;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_tr { background-position: -16px -457px; }

.cke_skin_office2003 .cke_dialog_tc {
    background-position: 0 -136px;
    background-repeat: repeat-x;
    height: 16px;
    left: 16px;
    right: 16px;
    top: 0;
}

.cke_skin_office2003 .cke_dialog_bl {
    background-position: -16px -196px;
    bottom: 0;
    height: 51px;
    left: 0;
    width: 30px;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_bl { background-position: -16px -517px; }

.cke_skin_office2003 .cke_dialog_br {
    background-position: -16px -263px;
    bottom: 0;
    height: 51px;
    right: 0;
    width: 30px;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_br { background-position: -16px -584px; }

.cke_skin_office2003 .cke_dialog_bc {
    background-position: 0 -330px;
    background-repeat: repeat-x;
    bottom: 0;
    height: 51px;
    left: 30px;
    right: 30px;
}

.cke_skin_office2003 .cke_dialog_ml, .cke_skin_office2003 .cke_dialog_mr {
    background-image: url(images/dialog_sides.png);
    background-repeat: repeat-y;
    bottom: 51px;
    position: absolute;
    top: 16px;
    width: 16px;
    _background-image: url(images/dialog_sides.gif);
    _top: auto;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_ml, .cke_skin_office2003 .cke_rtl .cke_dialog_mr {
    background-image: url(images/dialog_sides_rtl.png);
    _background-image: url(images/dialog_sides.gif);
}

.cke_skin_office2003 .cke_dialog_ml {
    background-position: 0 0;
    left: 0;
}

.cke_skin_office2003 .cke_dialog_mr {
    background-position: -16px 0;
    right: 0;
}

.cke_skin_office2003 .cke_browser_iequirks .cke_dialog_ml, .cke_skin_office2003 .cke_browser_iequirks .cke_dialog_mr { margin-top: 3px; }

.cke_skin_office2003 .cke_dialog_title {
    background-color: #8db1ff;
    background-image: url(images/sprites.png);
    background-position: 0 -678px;
    background-repeat: repeat-x;
    color: #0E3460;
    cursor: move;
    font-size: 14pt;
    font-weight: bold;
    padding: 3px 10px 26px 10px;
    position: relative;
    _background-image: url(images/sprites_ie6.png);
}

.cke_skin_office2003 .cke_browser_ie.cke_rtl .cke_dialog_title { position: static; }

.cke_skin_office2003 .cke_dialog_contents {
    background-color: #f7f8fd;
    border: #2b66c9 1px solid;
    overflow: auto;
    padding: 5px 10px;
}

.cke_skin_office2003 .cke_dialog_footer {
    background-color: #8db1ff;
    text-align: right;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_footer { text-align: left; }

.cke_skin_office2003 .cke_dialog_footer .cke_resizer { margin-top: 21px; }

.cke_skin_office2003 .cke_dialog_tabs {
    background-color: #8db1ff;
    display: inline-block;
    height: 23px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -23px;
    position: absolute;
    z-index: 2;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_tabs { right: 10px; }

.cke_skin_office2003 a.cke_dialog_tab, .cke_skin_office2003 a:link.cke_dialog_tab, .cke_skin_office2003 a:active.cke_dialog_tab, .cke_skin_office2003 a:hover.cke_dialog_tab, .cke_skin_office2003 a:visited.cke_dialog_tab {
    border-left: 1px solid #2b66c9;
    border-right: 1px solid #2b66c9;
    border-top: 1px solid #2b66c9;
    color: #0E3460;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    padding: 4px 5px;
}

.cke_skin_office2003 .cke_browser_gecko18 a.cke_dialog_tab, .cke_skin_office2003 .cke_browser_gecko18 a:link.cke_dialog_tab, .cke_skin_office2003 .cke_browser_gecko18 a:active.cke_dialog_tab, .cke_skin_office2003 .cke_browser_gecko18 a:hover.cke_dialog_tab, .cke_skin_office2003 .cke_browser_gecko18 a:visited.cke_dialog_tab {
    display: inline;
    position: relative;
    top: 6px;
}

.cke_skin_office2003 a:hover.cke_dialog_tab { background-color: #f7f8fd; }

.cke_skin_office2003 .cke_hc a:hover.cke_dialog_tab {
    border-width: 3px;
    padding: 2px 3px !important;
}

.cke_skin_office2003 a.cke_dialog_tab_selected, .cke_skin_office2003 a:link.cke_dialog_tab_selected, .cke_skin_office2003 a:active.cke_dialog_tab_selected, .cke_skin_office2003 a:hover.cke_dialog_tab_selected, .cke_skin_office2003 a:visited.cke_dialog_tab_selected {
    background-color: #f7f8fd;
    border-bottom: 1px solid #f7f8fd;
    cursor: default;
    font-weight: bold;
}

.cke_skin_office2003 .cke_hc a.cke_dialog_tab_selected, .cke_skin_office2003 .cke_hc a:link.cke_dialog_tab_selected, .cke_skin_office2003 .cke_hc a:active.cke_dialog_tab_selected, .cke_skin_office2003 .cke_hc a:hover.cke_dialog_tab_selected, .cke_skin_office2003 .cke_hc a:visited.cke_dialog_tab_selected {
    border-width: 3px;
    padding: 2px 3px !important;
}

.cke_skin_office2003 .cke_single_page .cke_dialog_tabs { display: none; }

.cke_skin_office2003 .cke_hc .cke_dialog_tabs a, .cke_skin_office2003 .cke_hc .cke_dialog_footer a {
    border: 1px solid white;
    filter: alpha(opacity=100);
    opacity: 1.0;
}

.cke_skin_office2003 .cke_single_page .cke_dialog_title { padding-bottom: 3px; }

.cke_skin_office2003 .cke_dialog_ui_vbox table, .cke_skin_office2003 .cke_dialog_ui_hbox table { margin: auto; }

.cke_skin_office2003 .cke_dialog_ui_vbox_child { padding: 5px 0; }

.cke_skin_office2003 input.cke_dialog_ui_input_text, .cke_skin_office2003 input.cke_dialog_ui_input_password {
    background-color: white;
    border: none;
    height: 14px;
    padding: 0;
    width: 100%;
}

.cke_skin_office2003 div.cke_dialog_ui_input_text, .cke_skin_office2003 div.cke_dialog_ui_input_password {
    background-color: white;
    border: 1px solid #a0a0a0;
    padding: 1px 0;
    _width: 99.9%;
}

.cke_skin_office2003 .cke_browser_ie7 input.cke_dialog_ui_input_text, .cke_skin_office2003 .cke_browser_ie7 input.cke_dialog_ui_input_password { position: absolute; }

.cke_skin_office2003 .cke_browser_ie7 div.cke_dialog_ui_input_text, .cke_skin_office2003 .cke_browser_ie7 div.cke_dialog_ui_input_password {
    height: 14px;
    position: relative;
}

.cke_skin_office2003 .cke_browser_ie.cke_rtl input.cke_dialog_ui_input_text, .cke_skin_office2003 .cke_browser_opera.cke_rtl input.cke_dialog_ui_input_text, .cke_skin_office2003 .cke_browser_ie.cke_rtl input.cke_dialog_ui_input_password, .cke_skin_office2003 .cke_browser_opera.cke_rtl input.cke_dialog_ui_input_password { padding-right: 2px; }

.cke_skin_office2003 .cke_browser_ie.cke_rtl div.cke_dialog_ui_input_text, .cke_skin_office2003 .cke_browser_opera.cke_rtl div.cke_dialog_ui_input_text, .cke_skin_office2003 .cke_browser_ie.cke_rtl div.cke_dialog_ui_input_password, .cke_skin_office2003 .cke_browser_opera.cke_rtl div.cke_dialog_ui_input_password { padding-left: 2px; }

.cke_skin_office2003 .cke_browser_ie.cke_rtl .cke_dialog_ui_vbox_child, .cke_skin_office2003 .cke_browser_ie.cke_rtl .cke_dialog_ui_hbox_child, .cke_skin_office2003 .cke_browser_ie.cke_rtl .cke_dialog_ui_hbox_first, .cke_skin_office2003 .cke_browser_ie.cke_rtl .cke_dialog_ui_hbox_last { padding-right: 2px !important; }

.cke_skin_office2003 .cke_browser_ie.cke_rtl div.cke_dialog_ui_input_text { padding-right: 1px; }

.cke_skin_office2003 .cke_browser_gecko.cke_hc div.cke_dialog_ui_input_text, .cke_skin_office2003 .cke_browser_gecko.cke_hc div.cke_dialog_ui_input_password { border-width: 0; }

.cke_skin_office2003 .cke_browser_gecko18.cke_hc div.cke_dialog_ui_input_text, .cke_skin_office2003 .cke_browser_gecko18.cke_hc div.cke_dialog_ui_input_password { border-width: 1px; }

.cke_skin_office2003 textarea.cke_dialog_ui_input_textarea {
    background-color: white;
    border: none;
    overflow: auto;
    padding: 0;
    resize: none;
    width: 100%;
    _width: 99%;
}

.cke_skin_office2003 div.cke_dialog_ui_input_textarea {
    background-color: white;
    border: 1px solid #a0a0a0;
    padding: 1px 0;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_ui_labeled_content { _width: 95%; }

.cke_skin_office2003 div.cke_disabled .cke_dialog_ui_labeled_content * {
    background-color: #a0a0a0;
    cursor: default;
}

.cke_skin_office2003 .cke_dialog_ui_hbox { width: 100%; }

.cke_skin_office2003 .cke_dialog_ui_hbox_first, .cke_skin_office2003 .cke_dialog_ui_hbox_child, .cke_skin_office2003 .cke_dialog_ui_hbox_last { vertical-align: top; }

.cke_skin_office2003 .cke_ltr .cke_dialog_ui_hbox_first, .cke_skin_office2003 .cke_ltr .cke_dialog_ui_hbox_child { padding-right: 10px; }

.cke_skin_office2003 .cke_rtl .cke_dialog_ui_hbox_first, .cke_skin_office2003 .cke_rtl .cke_dialog_ui_hbox_child { padding-left: 10px; }

.cke_skin_office2003 a.cke_dialog_ui_button {
    border-collapse: separate;
    cursor: default;
}

.cke_skin_office2003 a.cke_dialog_ui_button_ok span, .cke_skin_office2003 a.cke_dialog_ui_button_cancel span { width: 60px; }

.cke_skin_office2003 span.cke_dialog_ui_button {
    background-color: #8db1ff;
    background-image: url(images/sprites.png);
    background-position: 0 -678px;
    background-repeat: repeat-x;
    border: #0E3460 1px solid;
    color: #0E3460;
    cursor: default;
    display: inline-block;
    padding: 2px 10px;
    text-align: center;
    _background-image: url(images/sprites_ie6.png);
}

.cke_skin_office2003 .cke_browser_gecko18 .cke_dialog_footer_buttons span.cke_dialog_ui_button { display: block; }

.cke_skin_office2003 a.cke_dialog_ui_button span.cke_disabled {
    background-color: #c5c5b3;
    border: #898980 1px solid;
    color: #5e5e55;
}

.cke_skin_office2003 a:focus span.cke_dialog_ui_button, .cke_skin_office2003 a:active span.cke_dialog_ui_button { background-color: #8db1ff; }

.cke_skin_office2003 .cke_hc a:focus span.cke_dialog_ui_button, .cke_skin_office2003 .cke_hc a:active span.cke_dialog_ui_button { border-width: 2px; }

.cke_skin_office2003 .cke_dialog_footer_buttons {
    display: inline-table;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
    width: auto;
}

.cke_skin_office2003 .cke_browser_gecko18 .cke_dialog_footer_buttons { display: inline; }

.cke_skin_office2003 .cke_dialog_footer_buttons span.cke_dialog_ui_button { margin: 7px 0; }

.cke_skin_office2003 .cke_browser_ie7 .cke_dialog_footer_buttons { position: static; }

.cke_skin_office2003 strong { font-weight: bold; }

.cke_skin_office2003 a.cke_dialog_close_button, .cke_skin_office2003 a:hover.cke_dialog_close_button, .cke_skin_office2003 .cke_browser_ie6 a.cke_dialog_close_button, .cke_skin_office2003 .cke_browser_ie6 a:hover.cke_dialog_close_button {
    background-image: url(images/sprites.png);
    background-position: -20px -655px;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 21px;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 21px;
    _background-image: url(images/sprites_ie6.png);
}

.cke_skin_office2003 a.cke_dialog_close_button span { display: none; }

.cke_skin_office2003 .cke_ltr a.cke_dialog_close_button { right: 22px; }

.cke_skin_office2003 .cke_rtl a.cke_dialog_close_button, .cke_skin_office2003 .cke_rtl a:hover.cke_dialog_close_button {
    left: 16px;
    _top: 6px;
}

.cke_skin_office2003 .cke_browser_ie6.cke_rtl a.cke_dialog_close_button, .cke_skin_office2003 .cke_browser_ie6.cke_rtl a:hover.cke_dialog_close_button {
    float: left;
    margin-left: -7px;
    margin-top: -55px;
    position: relative;
}

.cke_skin_office2003 .cke_browser_iequirks.cke_rtl.cke_single_page a.cke_dialog_close_button, .cke_skin_office2003 .cke_browser_iequirks.cke_rtl.cke_single_page a:hover.cke_dialog_close_button { margin-top: -32px; }

.cke_skin_office2003 .cke_browser_iequirks.cke_ltr a.cke_dialog_close_button, .cke_skin_office2003 .cke_browser_iequirks.cke_ltr a:hover.cke_dialog_close_button { margin-top: 0; }

.cke_skin_office2003 .cke_dialog_ui_input_select {
    background-color: white;
    border: 1px solid #a0a0a0;
}

.cke_skin_office2003 .cke_dialog_ui_input_file {
    height: 25px;
    width: 100%;
}

.cke_skin_office2003 .cke_dialog .cke_dark_background { background-color: #eaead1; }

.cke_skin_office2003 .cke_dialog .cke_hand { cursor: pointer; }

.cke_skin_office2003 .cke_dialog .cke_centered { text-align: center; }

.cke_skin_office2003 .cke_dialog a.cke_btn_reset {
    background-image: url(images/mini.gif);
    background-position: 0 -32px;
    background-repeat: no-repeat;
    border: 1px none;
    float: right;
    font-size: 1px;
    height: 16px;
    width: 16px;
}

.cke_skin_office2003 .cke_rtl .cke_dialog a.cke_btn_reset { float: left; }

.cke_skin_office2003 .cke_dialog a.cke_btn_locked, .cke_skin_office2003 .cke_dialog a.cke_btn_unlocked {
    background-image: url(images/mini.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    border: none 1px;
    float: left;
    font-size: 1px;
    height: 16px;
    width: 16px;
}

.cke_skin_office2003 .cke_dialog a.cke_btn_locked .cke_icon { display: none; }

.cke_skin_office2003 .cke_rtl .cke_dialog a.cke_btn_locked, .cke_skin_office2003 .cke_rtl .cke_dialog a.cke_btn_unlocked { float: right; }

.cke_skin_office2003 .cke_dialog a.cke_btn_unlocked {
    background-image: url(images/mini.gif);
    background-position: 0 -16px;
}

.cke_skin_office2003 .cke_dialog .cke_btn_over {
    border: outset 1px;
    cursor: pointer;
}

.cke_skin_office2003 .cke_dialog .ImagePreviewBox {
    background-color: white;
    border: 2px ridge black;
    height: 210px;
    overflow: scroll;
    padding: 2px;
    width: 230px;
}

.cke_skin_office2003 .cke_dialog .ImagePreviewBox table td { white-space: normal; }

.cke_skin_office2003 .cke_browser_iequirks .cke_dialog_page_contents { _position: absolute; }

.cke_skin_office2003 .cke_dialog .ImagePreviewLoader {
    background-color: #e4e4e4;
    filter: alpha(opacity=90);
    height: 160px;
    margin: 2px;
    opacity: .9;
    overflow: hidden;
    padding: 2px;
    position: absolute;
    white-space: normal;
    width: 230px;
}

.cke_skin_office2003 .cke_dialog .FlashPreviewBox {
    background-color: white;
    border: 2px ridge black;
    height: 160px;
    overflow: auto;
    padding: 2px;
    white-space: normal;
    width: 390px;
}

.cke_skin_office2003 .cke_dialog .cke_pastetext {
    height: 170px;
    width: 346px;
}

.cke_skin_office2003 .cke_dialog .cke_pastetext textarea {
    height: 170px;
    resize: none;
    width: 340px;
}

.cke_skin_office2003 .cke_dialog iframe.cke_pasteframe {
    background-color: white;
    border: 1px solid black;
    height: 130px;
    width: 346px;
}

.cke_skin_office2003 .cke_dialog .cke_dark_background {
    background-color: #eaead1;
    font-size: 14px;
    text-align: center;
}

.cke_skin_office2003 .cke_dialog .cke_light_background {
    background-color: #ffffbe;
    text-align: center;
}

.cke_skin_office2003 .cke_dialog .cke_hand { cursor: pointer; }

.cke_skin_office2003 .cke_disabled { color: #a0a0a0; }

.cke_skin_office2003 .cke_hc .cke_dialog_title, .cke_skin_office2003 .cke_hc .cke_dialog_tabs, .cke_skin_office2003 .cke_hc .cke_dialog_contents, .cke_skin_office2003 .cke_hc .cke_dialog_footer {
    border-left: 1px solid;
    border-right: 1px solid;
}

.cke_skin_office2003 .cke_hc .cke_dialog_title { border-top: 1px solid; }

.cke_skin_office2003 .cke_hc .cke_dialog_footer { border-bottom: 1px solid; }

.cke_skin_office2003 .cke_hc .cke_dialog_close_button span {
    cursor: pointer;
    display: inline;
    font-weight: bold;
    position: relative;
    top: 3px;
}

.cke_skin_office2003 .cke_dialog_body .cke_label { display: none; }

.cke_skin_office2003 .cke_dialog_body label.cke_required { font-weight: bold; }

.cke_skin_office2003 .cke_hc .cke_dialog_body .cke_label {
    cursor: inherit;
    display: inline;
}

.cke_skin_office2003 .cke_hc a.cke_btn_locked, .cke_skin_office2003 .cke_hc a.cke_btn_unlocked, .cke_skin_office2003 .cke_hc a.cke_btn_reset {
    border-style: solid;
    float: left;
    height: auto;
    padding: 0 2px;
    width: auto;
}

.cke_skin_office2003 .cke_hc a.cke_btn_locked .cke_icon { display: inline; }

.cke_skin_office2003 .cke_rtl.cke_hc a.cke_btn_locked, .cke_skin_office2003 .cke_rtl.cke_hc a.cke_btn_unlocked, .cke_skin_office2003 .cke_rtl.cke_hc a.cke_btn_reset { float: right; }

.cke_skin_office2003 .cke_dialog_contents a.colorChooser {
    display: block;
    margin-left: 10px;
    margin-top: 12px;
    width: 40px;
}

.cke_skin_office2003 .cke_dialog_contents a.colorChooser .cke_dialog_ui_button { width: 100%; }

.cke_skin_office2003 .cke_rtl .cke_dialog_contents a.colorChooser { margin-right: 10px; }

.cke_skin_office2003 .cke_browser_gecko .cke_dialog_ui_checkbox_input:focus, .cke_skin_office2003 .cke_browser_gecko .cke_dialog_ui_radio_input:focus, .cke_skin_office2003 .cke_browser_opera .cke_dialog_ui_checkbox_input:focus, .cke_skin_office2003 .cke_browser_opera .cke_dialog_ui_radio_input:focus, .cke_skin_office2003 .cke_browser_gecko .cke_dialog_ui_input_select:focus, .cke_skin_office2003 .cke_browser_gecko .cke_btn_over, .cke_skin_office2003 .cke_browser_opera .cke_btn_over, .cke_skin_office2003 .cke_browser_ie .cke_btn_over { outline: 1px dotted #696969; }

.cke_skin_office2003 .cke_browser_ie .cke_dialog_ui_checkbox_input, .cke_skin_office2003 .cke_browser_ie .cke_dialog_ui_ratio_input, .cke_skin_office2003 .cke_browser_ie .cke_btn_reset, .cke_skin_office2003 .cke_browser_ie .cke_btn_locked, .cke_skin_office2003 .cke_browser_ie .cke_btn_unlocked {
    -border: 1px solid red !important;
    -filter: chroma(color=red);
    *border: 1px solid transparent !important;
}

.cke_skin_office2003 .cke_browser_ie .cke_dialog_ui_focused, .cke_skin_office2003 .cke_browser_ie .cke_btn_over { *border: 1px dotted #696969 !important; }

.cke_skin_office2003 .cke_iframe_shim {
    display: block;
    filter: alpha(opacity=0);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.cke_dialog label {
    cursor: default;
    display: inline;
    margin-bottom: auto;
}