﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@Styles.Render("~/AdminContent/dataTables-bootstrap")
@Styles.Render("~/AdminContent/responsive-bootstrap")
@Styles.Render("~/AdminContent/scroller-bootstrap")
<div id="pagesList" class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <div class="pageFilter">
                <a href="#" data-bind="click:setFilter.bind($data,0),style:{textDecoration: isTotalCreated() ? 'underline':'none'}">
                    <span data-bind="style:{textDecoration: isTotalCreated() ? 'underline':'none'}">
                @Html.T("All"): </span><strong>
                        <span data-bind="text:totalCreated"></span></strong>
                </a>
                <a href="#" data-bind="click:setFilter.bind($data,1),style:{textDecoration: isTotalPublished() ? 'underline':'none'}">
                    <span data-bind="style:{textDecoration: isTotalPublished() ? 'underline':'none'}">
                @Html.T("TotalPublished"): </span><strong>
                        <span data-bind="text:totalPublished"></span></strong>
                </a>
                <a href="#" data-bind="click:setFilter.bind($data,2),style:{textDecoration: isTotalDraft() ? 'underline':'none'}">
                    <span data-bind="style:{textDecoration: isTotalDraft() ? 'underline':'none'}">
                @Html.T("Draft"): </span><strong>
                        <span data-bind="text:totalDraft"></span></strong>
                </a>
                <a href="#" data-bind="click:setFilter.bind($data,3),style:{textDecoration: isTotalWaiting() ? 'underline':'none'}">
                    <span data-bind="style:{textDecoration: isTotalWaiting() ? 'underline':'none'}">
                @Html.T("Waiting"): </span><strong>
                        <span data-bind="text:totalWaiting"></span></strong>
                </a>
            </div>
            <table id="datatable-checkbox" class="table table-striped table-bordered jambo_table bulk_action">
                <thead>
                <tr>
                    <th class="nosort">@Html.T("Name")</th>
                    <th class="nosort">@Html.T("Title")</th>
                    <th class="nosort">@Html.T("Url")</th>
                    <th class="nosort">@Html.T("Language")</th>
                    <th class="nosort" style="width: 10%">@Html.T("Status")</th>
                    <th class="nosort" style="width: 25%"></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: pages">
                <tr>
                    <td>
                        <label data-bind="text:name"></label>
                    </td>
                    <td>
                        <label data-bind="text:title"></label>
                    </td>
                    <td>
                        <label data-bind="text:url"></label>
                    </td>
                    <td>
                        <label data-bind="text:language().Native"></label>
                    </td>
                    <td>
                        <!-- ko if: published -->
                        <a class="btn btn-success btn-xs" data-bind="click:$parent.publishPage.bind($data),text:buttonTextPublish" href="#"> @Html.T("Published")</a>
                        <!-- /ko -->
                        <!-- ko ifnot: published -->
                        <a class="btn btn-danger btn-xs" data-bind="click:$parent.publishPage.bind($data),text:buttonTextNotPublish" href="#"> @Html.T("Not Published")</a>
                        <!-- /ko -->

                    </td>
                    <td>
                        <a href="#" class="btn btn-primary btn-xs" data-bind="attr: {'href':manageWidgetsUrl}">
                            <i class="fa fa-clone"></i> @Html.T("Widgets")</a>
                        <a href="#" class="btn btn-info btn-xs" data-bind="attr: {'href':editPageUrl}">
                            <i class="fa fa-pencil"></i> @Html.T("Edit")</a>
                        <a href="#" class="btn btn-danger btn-xs" data-bind="click: function() { $root.showModal($data); }">
                            <i class="fa fa-trash-o"></i> @Html.T("Delete")</a>
                        <a href="#" class="btn btn-info btn-xs" data-bind="click: function() { $root.showCloneModal($data); }">
                            <i class="fa fa-copy"></i> @Html.T("Clone")
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
    <div data-bind="bootstrapModal:modal" class="modal fade" id="deleteConfirmModel" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
    <div data-bind="bootstrapcloneModal:cloneModal" class="modal fade" id="inputCloneModel" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
    @Html.Partial(MVC.Admin.Templates.Views.ViewNames.Confirm)
    @Html.Partial(MVC.Admin.Templates.Views.ViewNames.CloneInput)



    @Html.GetJsonResources(new[] {"Admin"}, "DisplayPages")
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/dataTables-bootstrap")
@Scripts.Render("~/bundles/dataTables-keyTable")
@Scripts.Render("~/bundles/dataTables-responsive")
@Scripts.Render("~/bundles/responsive-bootstrap")
@Scripts.Render("~/bundles/datatables-scroller")

@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/PagesModel")
<script>
    var $datatable;
    var pageSize = 10;
    var currentPage = 0;
    var filter = '';
    $(document).ready(function() {
        var pagesViewModel = new PagesModel(
            '@Url.Action(MVC.Admin.Page.ActionNames.PageList, MVC.Admin.Page.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.Page.ActionNames.LanguageList, MVC.Admin.Page.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.Page.ActionNames.CheckLanguageAvailability, MVC.Admin.Page.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.Page.ActionNames.CheckNameAvailability, MVC.Admin.Page.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.Page.ActionNames.ClonePage, MVC.Admin.Page.Name, new {area = Constants.DefaultArea})');
        ko.applyBindings(pagesViewModel, document.getElementById('pagesList'));
        $datatable = $('#datatable-checkbox');
        $datatable
            .on('order.dt', function() {
            })
            .on('search.dt', function() {
                var value = $('.dataTables_filter input').val();
                pagesViewModel.actionFilter(value);
                pagesViewModel.actionCurrentPage(0);
                pagesViewModel.loadData(pagesViewModel.actionPageSize(), 0, pagesViewModel.actionFilter());
                pagesViewModel.loadLanguages();
            })
            .on('page.dt', function() {
            })
            .dataTable({
                "bJQueryUI": false,
                "bAutoWidth": false,
                "oLanguage": {
                    "sEmptyTable": DisplayPages.No_Data, //when empty
                    "sSearch": "<span>" + DisplayPages.Search + ":</span> _INPUT_", //search
                    "sLengthMenu": "<span>" + DisplayPages.Showing + ":</span> _MENU_", //label
                    "oPaginate": { "sFirst": DisplayPages.First, "sLast": DisplayPages.Last, "sNext": DisplayPages.Next, "sPrevious": DisplayPages.Previous } //pagination
                },
                "columnDefs": [{ 'bSortable': false, 'aTargets': ['nosort'] }]
            });

        $("[name='datatable-checkbox_length']").change(function() {
            pagesViewModel.actionPageSize($(this).val());
            pagesViewModel.loadData(pagesViewModel.actionPageSize, 0, pagesViewModel.actionFilter);
        });
    });
</script>