﻿@using System.Web.Optimization
@using Oxide.Core.Helpers
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@Styles.Render("~/AdminContent/iCheckGreen")

@using (Html.BeginForm(MVC.Admin.Page.ActionNames.UpdateTemplatePage, MVC.Admin.Page.Name, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
{
    <span class="section">@Html.T("General Information")</span>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Name") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="name" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Name" data-validate-length-range="6" data-validate-words="1" name="name" required="required" type="text">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
            @Html.T("Title") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="title" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Title" data-validate-length-range="6" data-validate-words="1" name="title" required="required" type="text">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="url">
            @Html.T("Url")<span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="url" name="url" required="required" value="@Model.Parameters.Url" placeholder="main\examplepage" class="form-control col-md-7 col-xs-12">
        </div>
    </div>
    <span class="section">@Html.T("Language & Layout")</span>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="LanguageSelected">
            <span>@Html.T("Page Language")</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="width: 200px">
                @Html.DropDownList("LanguageSelected", new SelectList(@Model.Parameters.LanguageSelectList, "Value", "Text", @Model.Parameters.LanguageId), new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="MainLayoutId">
            <span>@Html.T("Main Layout")</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="width: 200px">
                @Html.DropDownList("MainLayoutId", new SelectList(OxideUtils.GetMainLayoutSelectList(), "Value", "Text", @Model.Parameters.MainLayoutId), new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="InnerLayoutId">
            <span>@Html.T("Inner Layout")</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="width: 200px">
                @Html.DropDownList("InnerLayoutId", new SelectList(OxideUtils.GetInnerLayoutSelectList(), "Value", "Text", @Model.Parameters.InnerLayoutId), new {@class = "form-control"})
            </div>
        </div>
    </div>
    
    <input type="hidden" name="Id" value='@Model.Parameters.Id'/>
    <input type="hidden" name="BasePageId" value='@Model.Parameters.BasePageId'/>
     <input type="hidden" name="BasePageId" value='@Model.Parameters.ActivePageUrl'/>
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Update Template")</button>
            <a id="cancel" type="submit" href="@Url.Action(MVC.Admin.Page.ActionNames.DisplayPages, MVC.Admin.Page.Name, new {area = Constants.DefaultArea})" class="btn btn-danger alignRight">
                <i class="fa fa-times"></i> @Html.T("Cancel")</a>
        </div>
    </div>
}
@Scripts.Render("~/bundles/validator")

@Html.GetJsonResources(new[] {"Admin"}, "EditPage")
<script>
    $(document).ready(function() {
        validator.message.date = EditPage.not_a_valid_date;
        $('form')
            .on('blur', 'input[required], input.optional, select.required', validator.checkField)
            .on('change', 'select.required', validator.checkField)
            .on('keypress', 'input[required][pattern]', validator.keypress);
        $('.multi.required').on('keyup blur', 'input', function() {
            validator.checkField.apply($(this).siblings().last()[0]);
        });
        $('form').submit(function(e) {
            e.preventDefault();
            var submit = true;
            if (!validator.checkAll($(this))) {
                submit = false;
            }
            if (submit)
                this.submit();
            return false;
        });

    })
</script>