﻿@using System.Web.Optimization
@using Oxide.Core.Helpers
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@Styles.Render("~/AdminContent/iCheckGreen")

@using (Html.BeginForm(MVC.Admin.Page.ActionNames.CreatePage, MVC.Admin.Page.Name, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <div id="newPage">
        <span class="section">@Html.T("General Information")</span>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                @Html.T("Name") <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="name" required="required" type="text">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
                @Html.T("Title") <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="title" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="title" required="required" type="text">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pageKey">
                @Html.T("Page Key") <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="pageKey" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="pageKey" required="required" type="text">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Order">
                @Html.T("Order") <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="number" id="Order" name="Order" value="0" required="required" data-validate-minmax="0,99999999" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="url">
                @Html.T("Url") <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="url" name="url" required="required" placeholder="main\examplepage" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="homePage">
                <span>@Html.T("Home Page")</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="homePage" value="true" name="homePage" type="checkbox" class="flat">
            </div>
        </div>
        <span class="section">SEO Information</span>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tag">
                @Html.T("Tag") <span></span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="tag" name="tag" class="tags form-control" data-validate-length-range="2" data-validate-words="1" type="text">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">
                @Html.T("Description") <span></span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea id="description" name="description" class="form-control col-md-7 col-xs-12"></textarea>
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="visibleForSite">
                <span>@Html.T("Visible For Site")</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="visibleForSite" value="true" name="visibleForSite" type="checkbox" class="flat" checked>
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="VisibleForSeo">
                <span>@Html.T("Visible For Search Engine")</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="VisibleForSeo" value="true" name="VisibleForSeo" type="checkbox" class="flat" checked>
            </div>
        </div>

        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="siteMapFrequncySelected">
                <span>@Html.T("Update Frequency")</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div style="width: 200px">
                    @Html.DropDownList("siteMapFrequncySelected", OxideUtils.GetFrequncyWithTranslations(), @Html.T("Select Frequency"), new {@class = "form-control"})
                </div>
            </div>
        </div>

        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="priority">
                <span>@Html.T("Priority")</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="number" step=0.1 id="priority" name="priority" value="0" required="required" min="0" max="10" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <span class="section">@Html.T("Language & Layout")</span>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="languageSelected">
                <span>@Html.T("Page Language")</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div style="width: 200px">
                    @Html.DropDownList("languageSelected", new SelectList(@Model.Parameters.LanguageSelectList, "Value", "Text", ""), new {@class = "form-control"})
                </div>
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mainLayoutId">
                <span>@Html.T("Main Layout")</span>
            </label>
            <div class="col-md-1 col-sm-4 col-xs-6">
                <div style="width: 200px">
                    @Html.DropDownList("mainLayoutId", OxideUtils.GetMainLayoutSelectList(), @Html.T("Select Layout"), new {@class = "form-control"})
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#" style="float: right" data-bind="click: function() { $root.showModal(0); }" class="btn btn-info">
                    <i class="fa fa-search"></i> @Html.T("Preview")
                </a>
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="innerLayoutId">
                <span>@Html.T("Inner Layout")</span>
            </label>
            <div class="col-md-1 col-sm-4 col-xs-6">
                <div style="width: 200px">
                    @Html.DropDownList("innerLayoutId", OxideUtils.GetInnerLayoutSelectList(), @Html.T("Select Layout"), new {@class = "form-control"})
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#" style="float: right" data-bind="click: function() { $root.showModal(1); }" class="btn btn-info">
                    <i class="fa fa-search"></i> @Html.T("Preview")
                </a>
            </div>
        </div>
        <span class="section">@Html.T("Publish Settings")</span>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="publishImd">
                <span> @Html.T("Publish Immediately")</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="publishImd" value="true" name="publishImd" type="checkbox" class="flat" checked>
                <input type="hidden" id="isPublishImd" name="isPublishImd" value="">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="publishLater">
                <span>@Html.T("Publish Later")</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="publishLater" value="false" name="publishLater" type="checkbox" class="flat">
                <input type="hidden" id="isPublishLater" name="isPublishLater" value="">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="publisDt">
                <span>@Html.T("Publish Date")</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" id="publisDt" placeholder="Publish Date" aria-describedby="inputSuccess2Status">
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                    <input type="hidden" id="selectedDate" name="selectedDate" value="">
                </div>
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="aggresiveCacheEnabled">
                <span>@Html.T("Aggresive Cache")</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="aggresiveCacheEnabled" value="true" name="aggresiveCacheEnabled" type="checkbox" class="flat">
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="item form-group">
            <div class="col-md-6 col-md-offset-3">
                <button id="send" type="submit" class="btn btn-dark">
                    <i class="fa fa-check"></i> @Html.T("Create Page")</button>
                <a id="cancel" type="submit" href="@Url.Action(MVC.Admin.Page.ActionNames.DisplayPages, MVC.Admin.Page.Name, new {area = Constants.DefaultArea})" class="btn btn-danger alignRight">
                    <i class="fa fa-times"></i> @Html.T("Cancel")</a>
            </div>
        </div>
        <div data-bind="bootstrapModal:modal" class="modal fade" id="previewModel" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
        @Html.Partial(MVC.Admin.Templates.Views.ViewNames.ImagePreview)
    </div>
}




@Scripts.Render("~/bundles/validator")
@Scripts.Render("~/bundles/tagsinput")
@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/LayoutPreviewModel")
@Scripts.Render("~/bundles/daterangepicker")


@Html.GetJsonResources(new[] {"Admin"}, "NewPage")
<script>
    $(document).ready(function() {
        var layoutsViewModel = new LayoutsPreviewModel('@Url.Action(MVC.Admin.Layouts.ActionNames.GetLayoutsPreview, MVC.Admin.Layouts.Name, new {area = Constants.Admin})');
        ko.applyBindings(layoutsViewModel, document.getElementById('newPage'));

        validator.message.date = NewPage.not_a_valid_date;
        $('form')
            .on('blur', 'input[required], input.optional, select.required', validator.checkField)
            .on('change', 'select.required', validator.checkField)
            .on('keypress', 'input[required][pattern]', validator.keypress);
        $('.multi.required').on('keyup blur', 'input', function() {
            validator.checkField.apply($(this).siblings().last()[0]);
        });
        $('#tag').tagsInput({
            width: 'auto'
        });
        $('form').submit(function(e) {
            e.preventDefault();
            var submit = true;
            if (!validator.checkAll($(this))) {
                submit = false;
            }
            if (submit)
                this.submit();
            return false;
        });

        $('#publishLater').iCheck('uncheck');
        $("#publisDt").prop("disabled", true);

        $('#publishImd').on('ifChecked', function() {
            $('#publishLater').iCheck('uncheck');
            $("#publisDt").prop("disabled", true);
            $('#isPublishImd').val('true');
            $('#isPublishLater').val('false');
        });
        $('#publishImd').on('ifUnchecked', function() {
            $('#publishLater').iCheck('check');
            $("#publisDt").prop("disabled", false);
            $('#isPublishImd').val('false');
            $('#isPublishLater').val('true');
        });

        $('#publishLater').on('ifChecked', function() {
            $('#publishImd').iCheck('uncheck');
            $("#publisDt").prop("disabled", false);
            $('#isPublishImd').val('false');
            $('#isPublishLater').val('true');

        });
        $('#homePage').on('ifChecked', function() {
            $("#url").prop("disabled", true);
            $('#url').val('/');
        });
        $('#homePage').on('ifUnchecked', function() {
            $("#url").prop("disabled", false);
            $('#url').val('');
        });

        $('#publisDt').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_1"
        }, function(start, end, label) {
            $('#selectedDate').val(start.toISOString());
            $('input[name="selectedDate"]').val(start.toISOString());
            console.log(start.toISOString(), end.toISOString(), label);
        });
    })
</script>