﻿<!-- Content List Template -->
<script id="contentList" class="modal-dialog" type="text/html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click:close" aria-hidden="true">&times;</button>
                <h4 data-bind="html:header" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="widgetPanel" class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" id="txtContentSearch" data-bind="textInput:filterText,event:{ keyup:function() {filter(filterText);} }" placeholder="Search for..." class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default">Search</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" data-bind="template: { name: contentItemTemplate, foreach: contentList  }"></div>
                    <div>
                        <div class="cssload-container" data-bind="visible:isContentLoading">
                            <div class="cssload-speeding-wheel"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bind="click:close,html:closeLabel">Cancel</button>
            </div>
        </div>
    </div>
</script>