﻿<!-- Content Item For Content List -->
<script id="contentItem" type="text/html">
    <div class="col-md-12 col-sm-12 col-xs-12 profile_details">
        <div class="well profile_view col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2>
                        <label data-bind="text:Name"></label>
                    </h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 bottom text-center">
                <a href="#" class="btn btn-primary  alignRight" style="float: right" data-bind="click: function() {selectContent($data);},html:primaryLabel"><i class="fa fa-times"></i>Select</a>
            </div>
        </div>
    </div>
</script>