﻿@using System.Web.Optimization
<div id="contentHolder">
    <a href="#" class="btn btn-primary" data-bind="click: function() { $root.showModal();}"><i class="fa fa-plus"></i> Select </a>
    <div data-bind="modalContent:modalContent" class="modal fade" id="modalContent" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
    <ul class="list-unstyled msg_list" data-bind="template: { name: contentSelectListTemplate, foreach: selectedContent  }"></ul>

    @Html.Partial(MVCOxideFundamentals.Shared.Views.ViewNames.SelectedContentItemx)
    @Html.Partial(MVCOxideFundamentals.Shared.Views.ViewNames.ContentList)
    @Html.Partial(MVCOxideFundamentals.Shared.Views.ViewNames.ContentItem)
</div>


@Scripts.Render("~/models/ContentSelecter")
<script>
    $(document).ready(function() {
        var contentViewModel = new ContentModel('@Model.LoadContentUrl', '@Model.ContentName', true);
        contentViewModel.contentSelectListTemplate('selectedContentItem');
        contentViewModel.contentListTemplate('contentList');
        contentViewModel.contentItemTemplate('contentItem');

        ko.applyBindings(contentViewModel, document.getElementById('contentHolder'));

    });
</script>