﻿@using Oxide.Fundamentals.ViewModels.Menu
@if (@Model.SubMenus.Count > 0)
{
    <li class="dropdown">
        <a data-toggle="dropdown" aria-expanded="false" href='@Model.Url' target='@Model.Target' class="dropdown-toggle page-scroll">
            @Model.Name<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-left" role="menu">
            @foreach (var subMenu in @Model.SubMenus)
            {
                @Html.Partial("CoolMenuItem", (CoolMenuViewModel) subMenu)
            }
        </ul>
    </li>
}
else
{
    <li role="presentation">
        <a href='@Model.Url' target='@Model.Target' class="page-scroll">@Model.Name </a>
    </li>
}