﻿@using Oxide.Fundamentals.ViewModels.Menu
@if (@Model.SubMenus.Count > 0)
{
    <li class="dropdown">

        @if (@Model.Active)
        {
            <a class="dropdown-toggle active" data-toggle="dropdown" aria-expanded="false" href='@Model.Url' target='@Model.Target'>
                @Model.Name <span class="caret"></span></a>
        }
        else
        {
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href='@Model.Url' target='@Model.Target'>
                @Model.Name <span class="caret"></span></a>
        }
        <ul class="dropdown-menu" role="menu">
            @foreach (var subMenu in @Model.SubMenus)
            {
                @Html.Partial("MenuItem", (NavigationMenuViewModel) subMenu)
            }
        </ul>
    </li>
}
else
{
    if (@Model.Active)
    {
        <li class="active" role="presentation">
            <a href='@Model.Url' target='@Model.Target'>@Model.Name</a>
        </li>
    }
    else
    {
        <li role="presentation">
            <a href='@Model.Url' target='@Model.Target'>@Model.Name</a>
        </li>
    }
}