﻿<!-- Modal template -->
<script id="nodeItem" type="text/html">
    <li class="treeViewNode">
        <i class="fa fa-square blue"></i>
        <span class="nodeItem disable-select" data-bind="text: Name,click: function() { $root.selectNode($data);},attr: {id: 'item_' + Id}"></span>
        <ul data-bind="template: { name: 'nodeItem', foreach: $data.Childeren }"></ul>
    </li>
</script>