﻿<!-- Content Item For Content List -->
<script id="selectedContentItem" type="text/html">
    <li>
        <a>
            <span>
                    <span><label data-bind="text:Name"></label></span>
                </span>
        </a>
        <a href="#" class="btn btn-danger btn-xs" style="float: right" data-bind="click: function() { $root.removeSelected($data); }"><i class="fa fa-trash-o"></i> Delete </a>
    </li>
</script>