﻿@using System.Web.Optimization
@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
<div class="row" id="messages">
    <div class="col-sm-3 mail_list_column">
        <a id="compose" class="btn btn-sm btn-success btn-block" href="@Url.Action(MVC.Admin.Messages.ActionNames.NewMessage, MVC.Admin.Messages.Name, new {area = Constants.DefaultArea})">@Html.T("Compose")</a>
        <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" id="txtMessageSearch" placeholder=@Html.T("Search for...") class="form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default">@Html.T("Search")</button>
                </span>
            </div>
        </div>
        <div data-bind="foreach:messages">
            <a href="#" data-bind="click:$parent.displayMessage.bind($data)">
                <div class="mail_list">
                    <div class="left">
                        <!-- ko ifnot: status -->
                        <i class="fa fa-circle"></i>
                        <!-- /ko -->
                    </div>
                    <div class="right">
                        <h3>
                            <label data-bind="text:senderUser"></label> <small>
                                <label data-bind="text:moment(dateTime()).format('DD.MM.YYYY HH:mm')"></label>
                            </small>
                        </h3>
                        <p data-bind="text:title"></p>
                    </div>
                </div>
            </a>
        </div>
        <div>
            <div class="left">
                <div class="" id="datatable-checkbox_info" role="status" aria-live="polite"></div>
            </div>
            <ul class="pagination alignright">
                <li class="paginate_button previous disabled" id="datatable-checkbox_previous">
                    <a href="#" aria-controls="datatable-checkbox" data-dt-idx="0" tabindex="0">@Html.T("Previous")</a>
                </li>
                <li class="paginate_button next" id="datatable-checkbox_next">
                    <a href="#" aria-controls="datatable-checkbox" data-dt-idx="1" tabindex="0">@Html.T("Next")</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="col-sm-9 mail_view">
        <div class="inbox-body">
            <div class="mail_heading row">
                <div class="col-md-8">
                    <div class="btn-group">
                        <span>
                            @using (Html.BeginForm(MVC.Admin.Messages.ActionNames.ReplyMessage, MVC.Admin.Messages.Name, FormMethod.Post, new {@class = "messageButtonForm", area = Constants.DefaultArea}))
                            {
                                <input type="hidden" name="messageId" data-bind="value:activeMessageId()">
                                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-reply"></i> @Html.T("Reply")</button>
                            }
                            @using (Html.BeginForm(MVC.Admin.Messages.ActionNames.ForwardMessage, MVC.Admin.Messages.Name, FormMethod.Post, new {@class = "messageButtonForm", area = Constants.DefaultArea}))
                            {
                                <input type="hidden" name="forwardMessageId" data-bind="value:activeMessageId()">
                                <button class="btn btn-sm btn-default" type="submit" data-placement="top" data-toggle="tooltip" data-original-title="@Html.T("Forward")"><i class="fa fa-share"></i></button>
                            }
                            <a class="btn btn-sm btn-default" href="#" data-placement="top" data-toggle="tooltip" data-original-title="@Html.T("Delete")" data-bind="click:showConfirmModal.bind($data)"><i class="fa fa-trash-o"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <p class="date" data-bind="text:moment(activeMessageDate()).format('DD.MM.YYYY HH:mm')"></p>
                </div>
                <div class="col-md-12">
                    <h4>
                        <label data-bind="text:activeMessageTitle"></label>
                    </h4>
                </div>
            </div>
            <div class="sender-info">
                <div class="row">
                    <div class="col-md-12">
                        <strong>
                            <label data-bind="text:activeMessageUserName"></label>
                        </strong> to
                        <strong>me</strong>
                        <a class="sender-dropdown">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="view-mail">
                <div data-bind="html:activeMessage()"></div>
            </div>

        </div>

    </div>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
    <div data-bind="bootstrapModal:confirmModal" class="modal fade" id="confirmModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
    @Oxd.RenderConfirmHelper()
</div>


@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/MessagesModel")
@Html.GetJsonResources(new[] {"Admin"}, "Messages")
<script>
    var $datatable;
    var pageSize = 10;
    var currentPage = 0;
    var filter = '';
    $(document).ready(function() {
        var logViewModel = new MessagesModel(
            '@Url.Action(MVC.Admin.Messages.ActionNames.MessageList, MVC.Admin.Messages.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.Messages.ActionNames.DeleteMessage, MVC.Admin.Messages.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.Messages.ActionNames.GetMessageContent, MVC.Admin.Messages.Name, new {area = Constants.DefaultArea})');
        ko.applyBindings(logViewModel, document.getElementById('messages'));
        logViewModel.loadMessages(logViewModel.actionPageSize(), 0, logViewModel.actionFilter());
        logViewModel.loadFirst(@Model.Parameters);
        $('#txtMessageSearch').on('input', function() {
            logViewModel.actionFilter(this.value);
            logViewModel.loadMessages(logViewModel.actionPageSize(), 0, logViewModel.actionFilter());
        });

    });
</script>