﻿@using System.Web.Optimization
@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@Styles.Render("~/AdminContent/iCheckGreen")

@using (Html.BeginForm(MVC.Admin.Messages.ActionNames.SendMessage, MVC.Admin.Messages.Name, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <span>
        @Html.T("Title") <span class="required">*</span>
        <input id="title" class="form-control" data-validate-length-range="6" data-validate-words="1" name="title" required="required" type="text">
    </span>
    <br/>
    <span>
        @Html.T("To User") <span class="required">*</span>
        @Oxd.RenderContentSelecter("to", "AdminUser", MVC.Admin.Templates.Views.UserSelecter, true)
    </span>
    <span>
        @Html.T("Or To User Role (Message will be sent for all users which are defined under this role)") <span></span>
        @Oxd.RenderContentSelecter("toRole", "AdminRole", MVC.Admin.Templates.Views.UserSelecter, true)
    </span>
    @Html.T("Message")
    <span class="required">*</span>
    <div id="wysiwygPanel" class="item form-group">
        @Oxd.RenderEditor("template", null, "400px");
    </div>
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <a id="cancel" type="submit" href="@Url.Action(MVC.Admin.Messages.ActionNames.Inbox, MVC.Admin.Messages.Name, new {area = Constants.DefaultArea})" class="btn btn-danger alignRight">
                <i class="fa fa-times"></i> @Html.T("Cancel")</a>

            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Send")</button>
        </div>
    </div>
}