﻿<!-- Modal template -->
<script id="widgetDashboardListTemplate" class="modal-dialog" type="text/html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click:close" aria-hidden="true">&times;</button>
                <h4 data-bind="html:header" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="widgetPanel" class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" id="txtWidgetSearch" data-bind="textInput:filterText,attr: {placeholder: searchLabelPlaceHolder},event:{ keyup:function() {filter(filterText);} }" class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-bind="html:searchLabel"></button>
                            </span>
                        </div>
                    </div>
                    <div id="widgetListPanel" class="col-md-12" data-bind="foreach: widgetList">
                        <div class="col-md-12 col-sm-12 col-xs-12 profile_details">
                            <div class="well profile_view">
                                <div class="col-sm-12">
                                    <h4 class="brief">
                                        <i>
                                            <label data-bind="text:category"></label>
                                        </i>
                                    </h4>
                                    <div class="left col-xs-7">
                                        <h2>
                                            <label data-bind="text:title"></label>
                                        </h2>
                                        <p>
                                            <strong>
                                                <label data-bind="text:name"></label>
                                            </strong> <label data-bind="text:description"></label>
                                        </p>
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        <img data-bind="attr:{'src':previewImageUrl}" alt="" class="img-circle img-responsive alignright"/>
                                    </div>
                                </div>
                                <div class="col-xs-12 bottom text-center">
                                    <a href="#" class="btn btn-primary  alignRight" style="float: right" data-bind="html:primaryLabel,click: function() {addWidget($data);}"><i class="fa fa-times"></i> Add Widget</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="loadingContainerInner" data-bind="visible:isWidgetLoading">
                            <div class="loading-24 loading-ring loading-center"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bind="click:close,html:closeLabel">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</script>