﻿@using System.Web.Optimization
@Styles.Render("~/AdminContent/fontAwesome")
<h2 class="text-center">@Model.Header</h2>
<p class="text-center">@Model.ErrorMessage </p>
<span style="margin: 0 auto 0 50%;" ><i class="fa fa-exclamation fa-4x"></i></span>