﻿<!-- Modal template -->
<script id="imagePreviewTemplate" class="modal-dialog" type="text/html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click:close" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <img class="layoutPreviewImage lazy" data-original="images/example.jpg" src="/Areas/Admin/Content/Images/hourglass.svg" width="300" height="300" data-bind="attr:{'data-original':previewImage()} " alt=""/>
                <br/><br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click:close,html:closeLabel">Close</button>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</script>