﻿<!-- Modal template -->
<script id="inputTemplate" class="modal-dialog" type="text/html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click:close" aria-hidden="true">&times;</button>
                <h4 data-bind="html:header" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p data-bind="html:message"></p>
                <input id="name" class="form-control col-md-7 col-xs-12" data-bind="value:currentValue" type="text">
                <br/><br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click:close,html:closeLabel">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click:action,html:primaryLabel" id="save-changes">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</script>