﻿@using Oxide.Core.Managers.ResourceManager
@{
    var contentPickerId = Guid.NewGuid();
    var selectedContentTemplateId = Guid.NewGuid();
    var contentListTemplateId = Guid.NewGuid();
    var contentListItemTemplateId = Guid.NewGuid();
}
<!-- Content picker -->
<div id="@contentPickerId" class="x_panel">
    <a href="#" class="btn btn-primary userSelectButton" data-bind="click: function() { $root.showModal();}">@Html.T("Select")</a>
    <div data-bind="modalContent:modalContent" class="modal fade" id="modalContent" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
    <ul class="list-unstyled" data-bind="sortable:{data:selectedContent, allowDrop: $root.canDrop}">
        <li class="userList" data-bind="template: { name: $root.contentSelectListTemplate }"></li>
    </ul>
    <input type="hidden" data-bind="attr: { id:elementId(),name:elementId()},value:selectedContentValues">
    <!-- Elements of content picker -->
    @Html.Partial(MVC.Admin.Templates.Views.ViewNames.UserSelectedItem, selectedContentTemplateId)
    @Html.Partial(MVC.Admin.OxideUi.Views.ViewNames.ContentList, contentListTemplateId)
    @Html.Partial(MVC.Admin.OxideUi.Views.ViewNames.ContentListItem, contentListItemTemplateId)
    <!-- Elements of content picker -->
</div>
@Html.GetJsonResources(new[] {"Admin"}, "ContentSelecter")
<!-- /Content picker -->
<script>
    $(document).ready(function() {
        var contentViewModel = new ContentModel(
            '@Model.ElementId',
            '@Model.LoadContentUrl',
            '@Model.ContentName',
            '@Model.Multiple',
            null,
            @Html.Raw(Model.SelectedRecords));
        contentViewModel.contentSelectListTemplate('@selectedContentTemplateId');
        contentViewModel.contentListTemplate('@contentListTemplateId');
        contentViewModel.contentItemTemplate('@contentListItemTemplateId');
        ko.applyBindings(contentViewModel, document.getElementById('@contentPickerId'));
    });
</script>