﻿<!-- Selected Content Item For Content List -->
<script id="@Model" type="text/html">
    <div class="userListItem btn btn-round btn-primary btn-xs">
        <a>
            <span><label data-bind="text:content().Name"></label></span></a>
        <a href="#" class="userDeleteButton" data-bind="click: function() { $root.removeSelected($data); }">
            <i class="fa fa-remove"></i>
        </a>
    </div>
</script>
<!-- /Selected Content Item For Content List -->