﻿@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
<form class="form-horizontal form-label-left">
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Title") <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="col-md-7 col-xs-12">@Model.Parameters.Title</label>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Log Time") <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="form-control col-md-7 col-xs-12">@Model.Parameters.DateTimeInfo</label>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Module") <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="form-control col-md-7 col-xs-12">@Model.Parameters.ModuleName</label>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Log Info") <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label>@Model.Parameters.Description</label>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Log Info") <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label>@Model.Parameters.InnerException</label>
        </div>
    </div>

    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <a id="ok"href="@Url.Action(MVC.Admin.Log.ActionNames.DisplayLogs, MVC.Admin.Log.Name, new {area = Constants.DefaultArea})" class="btn btn-dark alignRight">
                <i class="fa fa-check"></i> @Html.T("Ok")</a>
        </div>
    </div>
</form>