﻿@using System.Web.Optimization
@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@Styles.Render("~/AdminContent/dataTables-bootstrap")
@Styles.Render("~/AdminContent/responsive-bootstrap")
@Styles.Render("~/AdminContent/scroller-bootstrap")


<div id="logs" class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <button id="send" type="submit" class="btn btn-danger alignRight" data-bind="click: function() { $root.showConfirmModal(); }"href="#">
                <i class="fa fa-check"></i> @Html.T("Clear All Logs")</button>
            <table id="datatable-checkbox" class="table table-striped table-bordered jambo_table bulk_action">
                <thead>
                <tr>
                    <th class="nosort">@Html.T("Title")</th>
                    <th class="nosort">@Html.T("Log Time")</th>
                    <th class="nosort">@Html.T("Module")</th>
                    <th class="nosort" style="width: 10%">@Html.T("Log Type")</th>
                    <th class="nosort" style="width: 10%"></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: logItems">
                <tr>
                    <td>
                        <label data-bind="text:title"></label>
                    </td>
                    <td>

                        <label data-bind="text:moment(dateTimeInfo()).format('DD.MM.YYYY HH:mm')"></label>
                    </td>
                    <td>
                        <label data-bind="text:moduleName"></label>
                    </td>
                    <td>
                        <label data-bind="text:logTypeTitle"></label>
                    </td>
                    <td>
                        <a href="#" class="btn btn-info btn-xs" data-bind="attr: {'href': '@Url.Action(MVC.Admin.Log.ActionNames.DisplayLogInfo, MVC.Admin.Log.Name, new {area = Constants.DefaultArea})/' + id()}">
                            <i class="fa fa-code"></i> @Html.T("Log Info")
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
    <div data-bind="bootstrapModal:confirmModal" class="modal fade" id="confirmModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
</div>
<!--Dialog Helpers-->
@Oxd.RenderConfirmHelper()


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/dataTables-bootstrap")
@Scripts.Render("~/bundles/dataTables-keyTable")
@Scripts.Render("~/bundles/dataTables-responsive")
@Scripts.Render("~/bundles/responsive-bootstrap")
@Scripts.Render("~/bundles/datatables-scroller")
@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/LogsModel")
@Html.GetJsonResources(new[] {"Admin"}, "Logs")
<script>
    var $datatable;
    var pageSize = 10;
    var currentPage = 0;
    var filter = '';
    $(document).ready(function() {
        var logViewModel = new LogsModel(
            '@Url.Action(MVC.Admin.Log.ActionNames.LogList, MVC.Admin.Log.Name, new {area = Constants.DefaultArea})', '@Url.Action(MVC.Admin.Log.ActionNames.ClearLogs, MVC.Admin.Log.Name, new {area = Constants.DefaultArea})');
        ko.applyBindings(logViewModel, document.getElementById('logs'));
        $datatable = $('#datatable-checkbox');
        $datatable
            .on('order.dt', function() {
            })
            .on('search.dt', function() {
                var value = $('.dataTables_filter input').val();
                logViewModel.actionFilter(value);
                logViewModel.actionCurrentPage(0);
                logViewModel.loadData(logViewModel.actionPageSize(), 0, logViewModel.actionFilter());
            })
            .on('page.dt', function() {
            })
            .dataTable({
                "bJQueryUI": false,
                "bAutoWidth": false,
                "oLanguage": {
                    "sEmptyTable": Logs.No_Data, //when empty
                    "sSearch": "<span>" + Logs.Search + ":</span> _INPUT_", //search
                    "sLengthMenu": "<span>" + Logs.Showing + ":</span> _MENU_", //label
                    "oPaginate": { "sFirst": Logs.First, "sLast": Logs.Last, "sNext": Logs.Next, "sPrevious": Logs.Previous } //pagination
                },
                "columnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    }
                ]
            });
        $('select').change(function() {
            logViewModel.actionPageSize($(this).val());
            logViewModel.actionCurrentPage(0);
            logViewModel.loadData(logViewModel.actionPageSize, 0, logViewModel.actionFilter);
        });
    });
</script>