﻿@using Oxide.Core.Engines
@model Oxide.Core.ViewModels.PageViewModels.RenderPage
@Oxd.RenderSector("Header", @Model)
<div class="container">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @{ Html.RenderPartial(@Model.InnerPageLayout, @Model); }
        </div>
    </div>

</div>
@Oxd.RenderSector("Footer", @Model)