﻿.tree {
    -moz-border-radius: 4px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: #fbfbfb;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    min-height: 510px;
    overflow: auto;
    padding: 2px;
}

.tree li {
    list-style-type: none;
    margin: 0;
    padding: 5px 5px 0 5px;
    position: relative;
}

.tree li::before, .tree li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto
}

.tree li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px
}

.tree li::after {
    border-top: 1px solid #999;
    height: 20px;
    top: 20px;
    width: 25px
}

.tree li span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none
}

.tree li.parent_li > span { cursor: pointer }

.tree > ul > li::before, .tree > ul > li::after { border: 0 }

.tree li:last-child::before { height: 20px }

.tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
    background: #eee;
    border: 1px solid #94a0b4;
    color: #000
}

.tree li > label {
    cursor: pointer;
    margin-left: 8px;
}


.fileManagerToolbar {
    display: block;
    height: 75px;
    position: relative;
    width: 100%;
}


.browser {
    -moz-border-radius: 4px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: #fbfbfb;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    display: block;
    min-height: 400px;
    width: 100%;
}

.startTree {
    left: -40px;
    position: relative;
}

.directoryLabel:hover { color: black; }

.selectedDirectory:hover { color: #2e6da4; }


#fileBrowser .dataTables_length {
    padding-left: 5px;
    padding-top: 5px;
}

#fileBrowser .dataTables_filter {
    padding-right: 5px;
    padding-top: 5px;
}

#fileBrowser .dataTables_info {
    padding-left: 5px;
    padding-top: 10px;
}

#fileBrowser .dataTables_paginate {
    padding-right: 5px;
    padding-top: 5px;
}

#fileBrowser .fileIcon { width: 10px; }

#fileBrowser .iconHolder {
    left: 5px;
    position: relative;
    width: 10px;
}

#datatable-checkbox-selectedFiles .iconHolder {
    left: 0px;
    position: relative;
    width: 10px;
}

#fileBrowser #datatable-checkbox .selectedRow {
    background-color: #5a738e;
    color: white;
}

.multiSelection {
    float: right;
    margin-right: 15px;
    position: relative;
    top: 20px;
}

.multiSelection span.switchery {
    max-height: 15px;
    max-width: 30px;
}

.multiSelection span.switchery small {
    max-height: 15px;
    max-width: 15px;
}

.pathLabel { font-size: 12px; }

.mediaSelectedListItem { float: left; }

.selectedMediaItemIcon { text-align: center; }

.selectedContentItemIcon { float: right; }

.imageListItem {
    display: block;
    float: left;
    height: 250px;
    width: 225px;
}

.imageListItem .imageName {
    -moz-text-overflow: ellipsis;
    font-size: 9px;
    overflow: hidden !important;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}

.imageListItem img {
    cursor: pointer;
    height: 200px;
    width: 225px;
}

.imageListItem.imageSelectButton {
    display: block;
    position: relative
}

.contentNavigator {
    float: right;
    position: relative;
    top: -20px;
}

.navigaterBar {
    height: 70px;
    width: 100%;
}

.contentItem { cursor: pointer; }