﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@{
    var elementHolderId = Guid.NewGuid();
}
@Styles.Render("~/AdminContent/custom")
<div id="@elementHolderId">
    <a href="#" class="btn btn-primary btn-xs widgetAdd" style="float: right" data-bind="click: function() { $root.showModal($data);}">
        <i class="fa fa-plus"></i> @Html.T("Add Widget")
    </a>
    <ul data-bind="sortable:{ data:widgets,afterMove:$root.afterMove,beforeMove:$root.beforeMove}">
        <li class="x_panel tile  dashboardWidget overflow_hidden margin_right">
            <div class="cssload-container" data-bind="visible:isActivating">
                <div class="cssload-speeding-wheel-inner_widget"></div>
            </div>
            <div class="x_title">
                <h2>
                    <label data-bind="text:title"></label>
                </h2>
                <ul class="nav panel_toolbox ">
                    <li data-bind="visible:manageable" class="alignright">
                        <a data-bind="attr:{href:manageUrl}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </li>
                    <li class="alignright">
                        <a class="close-link" data-bind="click: function() { $root.showConfirmModal($data);}">
                            <i class="fa fa-close"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div data-bind="html:data"></div>
            </div>
        </li>
    </ul>
    <div class="cssload-container" data-bind="visible:isLoading">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div data-bind="bootstrapModal:modal" class="modal fade" id="widgetListModel" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
    <div data-bind="confirmModal:confirmModal" class="modal fade" id="confirmModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>

    @Html.Partial(MVC.Admin.Templates.Views.ViewNames.DashboardWidgetList)
    @Html.Partial(MVC.Admin.Templates.Views.ViewNames.Confirm)
</div>


@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/DashboardModel")
@Html.GetJsonResources(new[] {"Admin"}, "Dashboard")

<script>
    $(document).ready(function() {
        var dashboardModel = new DashboardModel(
            '@Url.Action(MVC.Admin.Dashboard.ActionNames.DashboardWidgetList, MVC.Admin.Dashboard.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.Dashboard.ActionNames.DashboardWidgetLisForPopup, MVC.Admin.Dashboard.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.Dashboard.ActionNames.AddDashboardWidget, MVC.Admin.Dashboard.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.Dashboard.ActionNames.DeleteDashboardWidget, MVC.Admin.Dashboard.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.Dashboard.ActionNames.OrderDashboardWidget, MVC.Admin.Dashboard.Name, new {area = Constants.DefaultArea})');
        ko.applyBindings(dashboardModel, document.getElementById('@elementHolderId'));
        dashboardModel.loadWidgets();
    });
</script>