﻿<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    @Html.Raw(@Model.Data)
                </div>
            </div>
        </div>
    </div>
</div>