﻿@using Oxide.Core.Managers.ResourceManager
<table id="datatable-checkbox" class="table table-striped table-bordered jambo_table">
    <thead>
    <tr>
        <th class="nosort">@Html.T("Type")</th>
        <th class="nosort" style="width: 10%">@Html.T("Total")</th>
        <th class="nosort" style="width: 10%">@Html.T("Percent")</th>
    </tr>
    </thead>
    <tbody >
    @{
        foreach (var file in Model.Files)
        {
            <tr>
                <td>
                    <label class="maxWidth-200 ellipsis">
                        @file.Type
                    </label>
                </td>
                <td>
                    <label>
                        @file.Total
                    </label>
                </td>
                <td>
                    <label>
                        @file.Percent
                    </label>
                </td>
            </tr>
        }
    }

    </tbody>
</table>


<div class="ln_solid"></div>
<table class="tile_info">
    <tbody>
    <tr>
        <td>
            <strong>Total</strong>
        </td>
        <td>
            <strong>@Model.Total</strong>
        </td>
        <td>
            <strong></strong>
        </td>
    </tr>
    </tbody>
</table>