﻿<div class="row tile_count">
    <div class="col-md-4 col-sm-4 col-xs-4 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Online Users</span>
        <div class="count">@Model.TotalOnlineUsers</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4  tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
        <div class="count">@Model.TotalOfflineUsers</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Average Time</span>
        <div class="count">@Model.AverageTime</div>
    </div>
</div>