﻿<table class="tile_info">
    <tbody>
    @{
        for (var dIndex = 0; dIndex <= @Model.Pages.Count - 1; dIndex++)
        {
            <tr>
                <td>
                    <p class="maxWidth-200 ellipsis">
                        @{
                            switch (dIndex)
                            {
                                case 0:
                                {
                                    <a href="@Model.Pages[dIndex].Url" target="_blank">
                                        <i class="fa fa-square blue"></i>@Model.Pages[dIndex].PageName
                                    </a>
                                    break;
                                }
                                case 1:
                                {
                                    <a href="@Model.Pages[dIndex].Url" target="_blank">
                                        <i class="fa fa-square green"></i>@Model.Pages[dIndex].PageName
                                    </a>
                                    break;
                                }
                                case 2:
                                {
                                    <a href="@Model.Pages[dIndex].Url" target="_blank">
                                        <i class="fa fa-square purple"></i>@Model.Pages[dIndex].PageName
                                    </a>
                                    break;
                                }
                                case 3:
                                {
                                    <a href="@Model.Pages[dIndex].Url" target="_blank">
                                        <i class="fa fa-square aero"></i>@Model.Pages[dIndex].PageName
                                    </a>
                                    break;
                                }
                                case 4:
                                {
                                    <a href="@Model.Pages[dIndex].Url" target="_blank">
                                        <i class="fa fa-square red"></i>@Model.Pages[dIndex].PageName
                                    </a>
                                    break;
                                }
                            }
                        }

                    </p>
                </td>
                <td>@Model.Pages[dIndex].TotalVisit</td>
                <td> -(@Model.Pages[dIndex].Percent%)</td>
            </tr>
        }
    }
    </tbody>
</table>
<div class="ln_solid"></div>
<table class="tile_info">
    <tbody>
    <tr>
        <td>
            <strong>Total</strong>
        </td>
        <td>
            <strong>@Model.TotalVisit</strong>
        </td>
    </tr>
    </tbody>
</table>