﻿@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@using (Html.BeginForm(MVC.Admin.Robot.ActionNames.SaveRobotValue, MVC.Admin.Robot.Name, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="robot">
            @Html.T("Robot.txt")<span></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea id="robot" rows="30" name="robot" class="form-control">@Model.Parameters</textarea>
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Update Robot.txt")</button>
            <a id="cancel" type="submit" href="@Url.Action(MVC.Admin.Robot.ActionNames.Index, MVC.Admin.Robot.Name, new {area = Constants.DefaultArea})" class="btn btn-danger alignRight">
                <i class="fa fa-times"></i> @Html.T("Cancel")</a>
        </div>
    </div>
}