﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@Styles.Render("~/AdminContent/dataTables-bootstrap")
@Styles.Render("~/AdminContent/responsive-bootstrap")
@Styles.Render("~/AdminContent/scroller-bootstrap")
<div id="cacheItems" class="col-md-12 col-sm-12 col-xs-12">

    <button id="send" type="submit" data-bind="click:clearAllCache.bind()" class="btn btn-danger alignRight">
        <i class="fa fa-trash-o"></i> @Html.T("Clear All Cache")</button>

    <div class="x_panel">
        <div class="x_content">
            <table id="datatable-checkbox" class="table table-striped table-bordered jambo_table bulk_action">
                <thead>
                <tr>
                    <th class="nosort">@Html.T("Title")</th>
                    <th class="nosort">@Html.T("Last Update")</th>
                    <th class="nosort" style="width: 10%">@Html.T("Period")</th>
                    <th class="nosort" style="width: 5%">@Html.T("Status")</th>
                    <th class="nosort" style="width: 10%"></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: cacheItems">
                <tr>
                    <td>
                        <label data-bind="text:title"></label>
                    </td>
                    <td>

                        <label data-bind="text:moment(lastUpdate()).startOf('minute').fromNow() "></label>
                    </td>
                    <td>
                        <label data-bind="text:value"></label>
                    </td>
                    <td>
                        <!-- ko if: status -->
                        <label class="btn btn-success btn-xs">Cached</label>
                        <!-- /ko -->
                        <!-- ko if: status()==false -->
                        <label class="btn btn-danger btn-xs">Cleared</label>
                        <!-- /ko -->
                    </td>
                    <td>
                        <a class="btn btn-danger btn-xs" data-bind="click:$parent.clearCache.bind($data)" href="#">@Html.T("Clear Cache")</a>
                        <div class="loadingContainerInner" data-bind="visible:isWorking">
                            <div class="loading-24 loading-ring loading-center"></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/dataTables-bootstrap")
@Scripts.Render("~/bundles/dataTables-keyTable")
@Scripts.Render("~/bundles/dataTables-responsive")
@Scripts.Render("~/bundles/responsive-bootstrap")
@Scripts.Render("~/bundles/datatables-scroller")
@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/CacheItemsModel")
@Html.GetJsonResources(new[] {"Admin"}, "CacheItems")
<script>
    var $datatable;
    var pageSize = 10;
    var currentPage = 0;
    var filter = '';
    $(document).ready(function() {
        var pagesViewModel = new CacheItemsModel(
            '@Url.Action(MVC.Admin.CacheItem.ActionNames.CacheItemList, MVC.Admin.CacheItem.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.CacheItem.ActionNames.ClearAllCacheItems, MVC.Admin.CacheItem.Name, new {area = Constants.DefaultArea})');
        ko.applyBindings(pagesViewModel, document.getElementById('cacheItems'));
        $datatable = $('#datatable-checkbox');
        $datatable
            .on('order.dt', function() {
            })
            .on('search.dt', function() {
                var value = $('.dataTables_filter input').val();
                pagesViewModel.actionFilter(value);
                pagesViewModel.actionCurrentPage(0);
                pagesViewModel.loadData(pagesViewModel.actionPageSize(), 0, pagesViewModel.actionFilter());
            })
            .on('page.dt', function() {
            })
            .dataTable({
                "bJQueryUI": false,
                "bAutoWidth": false,
                "oLanguage": {
                    "sEmptyTable": CacheItems.No_Data, //when empty
                    "sSearch": "<span>" + CacheItems.Search + ":</span> _INPUT_", //search
                    "sLengthMenu": "<span>" + CacheItems.Showing + ":</span> _MENU_", //label
                    "oPaginate": { "sFirst": CacheItems.First, "sLast": CacheItems.Last, "sNext": CacheItems.Next, "sPrevious": CacheItems.Previous } //pagination
                },
                "columnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    }
                ]
            });
        $('select').change(function() {
            pagesViewModel.actionPageSize($(this).val());
            pagesViewModel.actionCurrentPage(0);
            pagesViewModel.loadData(pagesViewModel.actionPageSize, 0, pagesViewModel.actionFilter);
        });
    });
</script>