﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Models.Base
@using Oxide.Extra.Keywords
<!-- Action Message -->
@{
    var modelx = TempData[Keys.TimelineItem] as OxideModel;
}
@if (modelx != null)
{
    if (modelx.SuccessMessage != string.Empty)
    {
        <h5 class="successMessage">@modelx.SuccessMessage </h5>
    }
    if (modelx.ErrorMessage != string.Empty)
    {
        <h5 class="errorMessage">@modelx.ErrorMessage </h5>
    }
}
<!-- /Action Message -->
@using (Html.BeginForm("SaveTeamlineItem", "Timeline", new {area = "Oxide.Extra"}, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dateTitle">
            @Html.T("Date Title") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="dateTitle" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Name" data-validate-length-range="6" data-validate-words="1" name="dateTitle" required="required" type="text">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
            @Html.T("Title") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="title" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Title" data-validate-length-range="6" data-validate-words="1" name="title" type="text">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">
            @Html.T("Description")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea id="description" name="description" class="form-control col-md-7 col-xs-12">@Model.Parameters.Description</textarea>
        </div>
    </div>
    <div class="item form-group">
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if ((Model.Parameters.ImageId != null))
            {
                @Oxd.RenderMediaSelecter("mediaSelecter", false, @Model.Parameters.ImageId.ToString())
            }
            else
            {
                @Oxd.RenderMediaSelecter("mediaSelecter")
            }

        </div>
    </div>
    <input type="hidden" id="pageUrl" name="pageUrl" value="@Model.Parameters.ActiveUrl">
    <button id="send" type="submit" class="btn btn-dark">
        <i class="fa fa-check"></i> @Html.T("Save")
    </button>
}