﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@Styles.Render("~/AdminContent/dataTables-bootstrap")
@Styles.Render("~/AdminContent/responsive-bootstrap")
@Styles.Render("~/AdminContent/scroller-bootstrap")

<div id="layoutList" class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <table id="datatable-layouts" class="table table-striped table-bordered jambo_table bulk_action">
                <thead>
                <tr>
                    <th class="nosort">@Html.T("Name")</th>
                    <th class="nosort">@Html.T("Layouts")</th>
                    <th class="nosort" style="width: 15%"></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: mainLayouts">
                <tr>
                    <td>
                        <label data-bind="text:name"></label>
                    </td>
                    <td>
                        <label data-bind="text:layouts"></label>
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary btn-xs" data-bind="attr: {'href':manageWidgetsUrl}">
                            <i class="fa fa-clone"></i> @Html.T("Manage Widgets")</a>
                        <a href="#" style="float: right" data-bind="click: function() { $root.showModal($data); }" class="btn btn-info btn-xs">
                            <i class="fa fa-search"></i> @Html.T("Preview")
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
    <div data-bind="bootstrapModal:modal" class="modal fade" id="previewModel" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
    @Html.Partial(MVC.Admin.Templates.Views.ViewNames.ImagePreview)
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/dataTables-bootstrap")
@Scripts.Render("~/bundles/dataTables-keyTable")
@Scripts.Render("~/bundles/dataTables-responsive")
@Scripts.Render("~/bundles/responsive-bootstrap")
@Scripts.Render("~/bundles/datatables-scroller")

@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/LayoutModel")

@Html.GetJsonResources(new[] {"Admin"}, "Layouts")


<script>
    var $datatable;
    var pageSize = 10;
    var currentPage = 0;
    var filter = '';
    $(document).ready(function() {
        var layoutsViewModel = new LayoutsModel('@Url.Action(MVC.Admin.Layouts.ActionNames.LayoutList, MVC.Admin.Layouts.Name, new {area = Constants.Admin})');
        ko.applyBindings(layoutsViewModel, document.getElementById('layoutList'));
        $datatable = $('#datatable-layouts');
        $datatable
            .on('order.dt', function() {
            })
            .on('search.dt', function() {
                var value = $('.dataTables_filter input').val();
                layoutsViewModel.actionFilter(value);
                layoutsViewModel.actionCurrentPage(0);
                layoutsViewModel.loadData(layoutsViewModel.actionPageSize(), 0, layoutsViewModel.actionFilter());
            })
            .on('page.dt', function() {
            })
            .dataTable({
                "bJQueryUI": false,
                "bAutoWidth": false,
                "oLanguage": {
                    "sEmptyTable": Layouts.No_Data, //when empty
                    "sSearch": "<span>" + Layouts.Search + ":</span> _INPUT_", //search
                    "sLengthMenu": "<span>" + Layouts.Showing + ":</span> _MENU_", //label
                    "oPaginate": { "sFirst": Layouts.First, "sLast": Layouts.Last, "sNext": Layouts.Next, "sPrevious": Layouts.Previous } //pagination
                },
                "columnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    }
                ]
            });
        $('select').change(function() {
            layoutsViewModel.actionPageSize($(this).val());
            layoutsViewModel.actionCurrentPage(0);
            layoutsViewModel.loadData(layoutsViewModel.actionPageSize, 0, layoutsViewModel.actionFilter);
        });
    });
</script>