﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
<div id="elementHolder">
    <div class="cultureHolderAdmin">
        <label class="cultureSelecterAdmin alignright" for="culture">
            @Html.DropDownList("culture", new SelectList(@Model.Parameters.LanguageSelectList, "Value", "Text", ""), new {@class = "form-control", data_bind = "event:{ change:setCulture}"})
        </label>
    </div>
    <div class="accordion" role="tablist" aria-multiselectable="true" data-bind="foreach: elements">
        <a href="#" class="btn btn-primary btn-xs widgetAdd" style="float: right" data-bind="click: function() { $root.showModal($data);}">
            <i class="fa fa-plus"></i> @Html.T("Add Widget")
        </a>
        <div class="panel">
            <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-bind="attr: { href: '#pnl_' + id() }" data-parent="#accordion" aria-expanded="false" aria-controls="attr: { href: 'pnl_' + id() }">
                <h4 class="panel-title" data-bind="text:title"></h4>
            </a>

            <div data-bind="attr: { id: 'pnl_' + id()}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <ul id="widgetListPanel" class="list-unstyled msg_list sortablePanel" data-bind="sortable:{ data:widgets,afterMove:$root.afterMove,beforeMove:$root.beforeMove}">
                        <li class="itemFull" data-bind="visible:isDummy">
                            <div class="widgetPanel">
                                <div class="widgetPageImage">
                                    <img width="75" height="75" data-bind="attr:{'src':previewImageUrl}" alt="img">
                                </div>
                                <div class="widgetListTitle">
                                    <label data-bind="text:title"></label>
                                </div>
                                <div class="widgetDecription">
                                    <p data-bind="text:description"></p>
                                </div>
                                <div class="widgetButton">
                                    <a href="#" data-bind="attr: {'href':manageWidgetUrl}" style="float: right" class="btn btn-success btn-xs">
                                        <i class="fa fa-desktop"></i> @Html.T("Manage")</a>
                                    <a href="#" data-bind="attr: {'href':editWidgetUrl}" style="float: right" class="btn btn-info btn-xs">
                                        <i class="fa fa-pencil"></i> @Html.T("Edit")
                                    </a>
                                    <a href="#" data-bind="click: function() { $root.showConfirmModal($data,$parent);}" style="float: right" class="btn btn-danger btn-xs">
                                        <i class="fa fa-trash-o"></i> @Html.T("Delete")
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
    <div data-bind="bootstrapModal:modal" class="modal fade" id="widgetListModel" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
    <div data-bind="confirmModal:confirmModal" class="modal fade" id="confirmModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>

    @Html.Partial(MVC.Admin.Templates.Views.ViewNames.WidgetList)
    @Html.Partial(MVC.Admin.Templates.Views.ViewNames.Confirm)
</div>
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/WidgetPageModelMain")
@Html.GetJsonResources(new[] {"Admin"}, "MainWidgets")
<script>
    $(document).ready(function() {
        var pageLayoutViewModel = new LayoutModel(
            '@Url.Action(MVC.Admin.Layouts.ActionNames.GetLayoutsWithWidgets, MVC.Admin.Layouts.Name, new {area = Constants.Admin})',
            '@Model.Parameters.MainLayoutId', '@Url.Action(MVC.Admin.Widget.ActionNames.GetActiveWidgets, MVC.Admin.Widget.Name, new {area = Constants.Admin})', '@Model.Parameters.Culture');
        ko.applyBindings(pageLayoutViewModel, document.getElementById('elementHolder'));
        pageLayoutViewModel.loadData();
    });
</script>