﻿.buttonSetRight {
    display: block;
    float: right;
    width: 300px;
}


.loadingDiv {
    display: block;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
}

.alignLeft { float: left; }


.alignLeftWitMargin {
    float: left;
    margin-left: 5px
}

.alignRight { float: right; }

.rightMargin { margin-right: 15px }


.leftMargin { margin-left: 15px }


.panelLogo {
    display: block;
    height: 50px;
    margin: auto;
    position: relative;
    width: 40px;
}


.loginLogo {
    display: block;
    height: 150px;
    margin: auto;
    position: relative;
    width: 120px;
}

.widgetPageImage {
    float: left;
    height: 75px;
    position: relative;
    width: 75px;      
}

.widgetListTitle {
    left: 20px;
    position: relative;
}

.widgetDecription {
    display: block;
    float: left;
    padding-left: 20px;
    position: relative;
}

.widgetButton {
    float: right;
    position: relative;
}

.widgetPanel { width: 100%; }

.buttonDeleteContentRight {
    display: block;
    float: right;
    margin-right: 40px;
    position: absolute;
    right: 0;     
}

.treeViewNode {
    list-style: none;
    margin-bottom: 10px;
}

.treeViewNode .nodeItem {
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 10px;
}

.disable-select {
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.node-label {
    color: white;
    cursor: pointer;
}

.node-toggle {
    cursor: pointer;
    display: inline-block;
    width: 1em;
}

.fullWidth { width: 100%; }

.paddingTop { padding: 10px; }

.paddingLeft { padding-left: 10px; }

.alignLeft { float: left; }

.alignRight { float: right; }

.successMessage { color: #1ABB9C; }

.errorMessage { color: #d43f3a; }

.draggable { cursor: move; }

.sortablePanel { min-height: 200px }

.widgetAdd {
    position: relative;
    top: 15px;
}


.moduleItemImage {
    float: right;
    height: 75px;
    width: 75px;
}

.modalInfo { float: left; }

.pageFilter {
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    font-size: 14px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    z-index: 999;
}

.pageFilter a { margin-left: 10px }

.cultureSelecterAdmin {
    display: block;
    position: relative;
    width: 200px;
}

.cultureHolderAdmin {
    display: block;
    height: 70px;
    position: relative;
    width: 100%;
}

.layoutPreviewImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    width: 100%;
}

.fixed_min_height_320 { height: 320px; }

.margin_right { margin-right: 25px; }

.dashboardWidget_Tools {
    float: right;
    position: relative;
    right: -30px;
}

.dashboardWidget {
    float: left;
    min-height: 250px;
    min-width: 250px;
    width: auto !important;
}

.maxWidth-200 { max-width: 200px !important; }

.ellipsis {
    -moz-text-overflow: ellipsis !important;
    text-overflow: ellipsis !important;
}

.onlineUserTitle { font-size: 18px !important; }

.moduleListItem {
    float: left;
    min-height: 250px;
    width: 400px;
}

/*Loading animations*/

.loading-24 {
    background-size: 100% 100%;
    height: 24px;
    width: 24px;
}

.loading-48 {
    background-size: 100% 100%;
    height: 48px;
    width: 48px;
}

.loading-64 {
    background-size: 100% 100%;
    height: 64px;
    width: 64px;
}

.loading-128 {
    background-size: 100% 100%;
    height: 128px;
    width: 128px;
}


.loading-256 {
    background-size: 100% 100%;
    height: 256px;
    width: 256px;
}

.loading-center { margin: 0 auto; }

.loadingContainerFullScreen {
    height: auto;
    min-width: 100%;
    position: absolute;
    top: 50%;
    width: auto;
    z-index: 99999;
}

.loadingContainerInner {
    float: right;
    z-index: 99999;
}

.loading-ring { background-image: url('/Areas/Admin/Content/Images/loading.svg'); }

.loading-hourglass { background-image: url('/Areas/Admin/Content/Images/hourglass.svg'); }

.loading-ripple { background-image: url('/Areas/Admin/Content/Images/ripple.svg'); }

/*Image Content List Item*/

.imageContententItem { padding-bottom: 7px; }


/*User Selecter*/

.userList { float: left; }

.userListItem {
    float: left;
    width: auto;
}

.userListItem a { color: white; }

.userListItem label {
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.userListItem a.userDeleteButton { padding-right: 5px; }

.userSelectButton { float: right; }

.messageButtonForm { display: inline-table; }

.quickMessageTitle {
    float: left;
    padding-left: 20px;
}