﻿@charset "UTF-8";

.left_col { background: #2A3F54; }

.nav-sm .container.body .col-md-3.left_col {
    min-height: 100%;
    padding: 0;
    position: absolute;
    width: 70px;
    z-index: 9999;
}

.nav-sm .container.body .col-md-3.left_col.menu_fixed {
    height: 100%;
    position: fixed;
}

.nav-sm .container.body .col-md-3.left_col .mCSB_container,
.nav-sm .container.body .col-md-3.left_col .mCustomScrollBox { overflow: visible; }

.nav-sm .hidden-small { visibility: hidden; }

.nav-sm .container.body .right_col {
    margin-left: 70px;
    padding: 10px 20px;
    z-index: 2;
}

.nav-sm .navbar.nav_title { width: 70px; }

.nav-sm .navbar.nav_title a span { display: none; }

.nav-sm .navbar.nav_title a i {
    font-size: 27px;
    margin: 13px 0 0 3px;
}

.site_title i {
    border: 1px solid #EAEAEA;
    border-radius: 50%;
    padding: 5px 6px;
}

.nav-sm .main_container .top_nav {
    display: block;
    margin-left: 70px;
    z-index: 2;
}

.nav-sm .nav.side-menu li a {
    font-size: 10px;
    font-weight: 400;
    padding: 10px 5px;
    text-align: center !important;
}

.nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm { border-right: 5px solid #1ABB9C; }

.nav-sm ul.nav.child_menu ul,
.nav-sm .nav.side-menu li.active-sm ul ul {
    background: none;
    position: static;
    width: 200px;
}

.nav-sm > .nav.side-menu > li.active-sm > a { color: #1ABB9C !important; }

.nav-sm .nav.side-menu li a i.toggle-up { display: none !important; }

.nav-sm .nav.side-menu li a i {
    font-size: 25px !important;
    margin-bottom: 5px;
    text-align: center;
    width: 100% !important;
}

.nav-sm ul.nav.child_menu {
    background: #3E5367;
    display: none;
    left: 100%;
    position: absolute;
    top: 0;
    width: 210px;
    z-index: 4000;
}

.nav-sm ul.nav.child_menu li { padding: 0 10px; }

.nav-sm ul.nav.child_menu li a { text-align: left !important; }

.nav-sm .profile { display: none; }

.menu_section { margin-bottom: 35px; }

.menu_section h3 {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .5px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 23px;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
}

.menu_section > ul { margin-top: 10px; }

.profile_pic {
    float: left;
    width: 35%;
}

.img-circle.profile_img {
    background: #fff;
    border: 1px solid rgba(52, 73, 94, 0.44);
    margin-left: 15%;
    margin-top: 20px;
    padding: 4px;
    position: inherit;
    width: 70%;
    z-index: 1000;
}

.profile_info {
    float: left;
    padding: 25px 10px 10px;
    width: 65%;
}

.profile_info span {
    color: #BAB8B8;
    font-size: 13px;
    line-height: 30px;
}

.profile_info h2 {
    color: #ECF0F1;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.profile.img_2 { text-align: center; }

.profile.img_2 .profile_pic { width: 100%; }

.profile.img_2 .profile_pic .img-circle.profile_img {
    margin: 10px 0 0;
    width: 50%;
}

.profile.img_2 .profile_info {
    float: left;
    margin-bottom: 10px;
    padding: 15px 10px 0;
    width: 100%;
}

.main_menu span.fa {
    color: #C4CFDA;
    float: right;
    font-size: 10px;
    margin-top: 5px;
    min-width: inherit;
    text-align: center;
}

.active a span.fa {
    margin-right: 4px;
    text-align: right !important;
}

.nav-sm .menu_section { margin: 0; }

.nav-sm span.fa,
.nav-sm .menu_section h3 { display: none; }

.nav-sm li li span.fa { display: inline-block; }

.nav_menu {
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    float: left;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

@media (min-width: 480px) {
    .nav_menu { position: static; }
}

.nav-md .container.body .col-md-3.left_col {
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    padding: 0;
    position: absolute;
    width: 230px;
    z-index: 1;
}

.nav-md .container.body .col-md-3.left_col.menu_fixed {
    height: 100%;
    position: fixed;
}

body .container.body .right_col { background: #F7F7F7; }

.nav-md .container.body .right_col {
    margin-left: 230px;
    padding: 10px 20px 0;
}

.nav_title {
    background: #2A3F54;
    border-radius: 0;
    float: left;
    height: 57px;
    margin-top: 20px;
    width: 230px;
}

@media (max-width: 991px) {
    .nav-md .container.body .right_col, .nav-md .container.body .top_nav {
        margin: 0;
        width: 100%;
    }

    .nav-md .container.body .col-md-3.left_col { display: none; }

    .nav-md .container.body .right_col {
        padding-right: 0;
        width: 100%;
    }

    .right_col { padding: 10px !important; }
}

@media (max-width: 1200px) {
    .x_title h2 {
        font-size: 17px;
        width: 62%;
    }

    .tile, .graph {
        height: inherit;
        zoom: 85%;
    }
}

@media (max-width: 1270px) and (min-width: 192px) {
    .x_title h2 small { display: none; }
}

.left_col .mCSB_scrollTools { width: 6px; }

.left_col .mCSB_dragger { max-height: 400px !important; }

/**  ------------------------------------------  **/

.blue { color: #3498DB; }

.purple { color: #9B59B6; }

.green { color: #1ABB9C; }

.aero { color: #9CC2CB; }

.red { color: #E74C3C; }

.dark { color: #34495E; }

.border-blue { border-color: #3498DB !important; }

.border-purple { border-color: #9B59B6 !important; }

.border-green { border-color: #1ABB9C !important; }

.border-aero { border-color: #9CC2CB !important; }

.border-red { border-color: #E74C3C !important; }

.border-dark { border-color: #34495E !important; }

.bg-white {
    background: #fff !important;
    border: 1px solid #fff !important;
    color: #73879C;
}

.bg-green {
    background: #1ABB9C !important;
    border: 1px solid #1ABB9C !important;
    color: #fff;
}

.bg-red {
    background: #E74C3C !important;
    border: 1px solid #E74C3C !important;
    color: #fff;
}

.bg-blue {
    background: #3498DB !important;
    border: 1px solid #3498DB !important;
    color: #fff;
}

.bg-orange {
    background: #F39C12 !important;
    border: 1px solid #F39C12 !important;
    color: #fff;
}

.bg-purple {
    background: #9B59B6 !important;
    border: 1px solid #9B59B6 !important;
    color: #fff;
}

.bg-blue-sky {
    background: #50C1CF !important;
    border: 1px solid #50C1CF !important;
    color: #fff;
}

.container {
    padding: 0;
    width: 100%;
}

.navbar-nav > li > a, .navbar-brand, .navbar-nav > li > a { color: #fff !important; }

.top_nav .nav > li > a:focus, .top_nav .nav > li > a:hover, .top_nav .nav .open > a, .top_nav .nav .open > a:focus, .top_nav .nav .open > a:hover { background: #D9DEE4; }

body {
    background: #2A3F54;
    color: #73879C;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

.main_container .top_nav {
    display: block;
    margin-left: 230px;
}

.no-padding { padding: 0 !important; }

.page-title {
    height: 65px;
    padding: 10px 0;
    width: 100%;
}

.page-title .title_left {
    display: block;
    float: left;
    width: 45%;
}

.page-title .title_left h3 { margin: 9px 0; }

.page-title .title_right {
    display: block;
    float: left;
    width: 55%;
}

.page-title .title_right .pull-right { margin: 10px 0; }

.fixed_height_320 { height: 320px; }

.fixed_height_390 { height: 390px; }

.fixed_height_200 { height: 200px; }

.overflow_hidden { overflow: hidden; }

.progress-bar-dark { background-color: #34495E !important; }

.progress-bar-gray { background-color: #BDC3C7 !important; }

table.no-margin .progress { margin-bottom: 0; }

.main_content { padding: 10px 20px; }

.col-md-55 {
    margin-bottom: 10px;
    width: 50%;
}

@media (min-width: 768px) {
    .col-md-55 { width: 20%; }
}

@media (min-width: 992px) {
    .col-md-55 { width: 20%; }
}

@media (min-width: 1200px) {
    .col-md-55 { width: 20%; }
}

@media (min-width: 192px) and (max-width: 1270px) {
    table.tile_info span.right {
        float: left;
        margin-right: 7px;
    }
}

.center-margin {
    float: none !important;
    margin: 0 auto;
}

.col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.grid_slider .col-md-6 { padding: 0 40px; }

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

a {
    color: #5A738E;
    text-decoration: none;
}

a, a:visited, a:focus, a:active, :visited, :focus, :active, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus { outline: 0; }

a:hover, a:focus { text-decoration: none; }

.navbar { margin-bottom: 0; }

.navbar-header { background: #34495E; }

.navbar-right { margin-right: 0; }

.top_nav .navbar-right {
    float: right;
    margin: 0;
    width: 70%;
}

.top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static;
}

@media (min-width: 480px) {
    .top_nav .navbar-right li { position: relative; }
}

.top_nav .dropdown-menu li { width: 100%; }

.top_nav .dropdown-menu li a {
    padding: 12px 20px;
    width: 100%;
}

.top_nav li a i { font-size: 15px; }

.navbar-static-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.sidebar-header {
    border-bottom: 0;
    margin-top: 46px;
}

.sidebar-header:first-of-type { margin-top: 0; }

.nav.side-menu > li {
    cursor: pointer;
    display: block;
    position: relative;
}

.nav.side-menu > li > a { margin-bottom: 6px; }

.nav.side-menu > li > a:hover { color: #F2F5F7 !important; }

.nav.side-menu > li > a:hover, .nav > li > a:focus {
    background: transparent;
    text-decoration: none;
}

.nav.child_menu { display: none; }

.nav.child_menu li:hover,
.nav.child_menu li.active { background-color: rgba(255, 255, 255, 0.06); }

.nav.child_menu li { padding-left: 36px; }

.nav-md ul.nav.child_menu li:before {
    background: #425668;
    border-radius: 50%;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
}

.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}

.nav.side-menu > li > a, .nav.child_menu > li > a {
    color: #E7E7E7;
    font-weight: 500;
}

.nav.child_menu li li:hover,
.nav.child_menu li li.active { background: none; }

.nav.child_menu li li a:hover,
.nav.child_menu li li a.active { color: #fff; }

.nav > li > a {
    display: block;
    padding: 13px 15px 12px;
    position: relative;
}

.nav.side-menu > li.current-page, .nav.side-menu > li.active { border-right: 5px solid #1ABB9C; }

.nav li.current-page { background: rgba(255, 255, 255, 0.05); }

.nav li li li.current-page { background: none; }

.nav li li.current-page a { color: #fff; }

.nav.side-menu > li.active > a {
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
}

.navbar-brand, .navbar-nav > li > a {
    color: #ECF0F1 !important;
    font-weight: 500;
    line-height: 32px;
    margin-left: 0 !important;
}

.site_title {
    color: #ECF0F1 !important;
    display: block;
    font-size: 22px;
    font-weight: 400;
    height: 55px;
    line-height: 59px;
    margin: 0;
    margin-left: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; 
}

.site_title:hover, .site_title:focus { text-decoration: none; }

.nav.navbar-nav > li > a { color: #515356 !important; }

.nav.top_menu > li > a {
    color: #34495E !important;
    display: block;
    padding: 10px 15px;
    position: relative;
}

.nav > li > a:hover, .nav > li > a:focus { background-color: transparent; }

.top_search { padding: 0; }

.top_search .form-control {
    border: 1px solid rgba(221, 226, 232, 0.49);
    border-radius: 25px 0px 0px 25px;
    border-right: 0;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
    padding-left: 20px;
}

.top_search .form-control:focus {
    border: 1px solid rgba(221, 226, 232, 0.49);
    border-right: 0;
}

.top_search .input-group-btn button {
    border: 1px solid rgba(221, 226, 232, 0.49);
    border-left: 0;
    border-radius: 0px 25px 25px 0px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #93A2B2;
    margin-bottom: 0 !important;
}

.toggle {
    float: left;
    margin: 0;
    padding-top: 16px;
    width: 70px;
}

.toggle a {
    cursor: pointer;
    margin: 0;
    padding: 15px 15px 0;
}

.toggle a i { font-size: 26px; }

.nav.child_menu > li > a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
    padding: 9px;
}

.panel_toolbox {
    float: right;
    min-width: 70px;
}

.panel_toolbox > li {
    cursor: pointer;
    float: left;
}

.panel_toolbox > li > a {
    color: #C5C7CB;
    font-size: 14px;
    padding: 5px;
}

.panel_toolbox > li > a:hover { background: #F5F7FA; }

.line_30 { line-height: 30px; }

.main_menu_side { padding: 0; }

.bs-docs-sidebar .nav > li > a {
    display: block;
    padding: 4px 6px;
}

footer {
    background: #fff;
    display: block;
    padding: 15px 20px;
}

.nav-sm footer { margin-left: 70px; }

.footer_fixed footer {
    bottom: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
}

@media (min-width: 768px) {
    .footer_fixed footer { margin-left: 0; }
}

@media (min-width: 768px) {
    .footer_fixed .nav-sm footer { margin-left: 0; }
}

.tile-stats.sparkline {
    padding: 10px;
    text-align: center;
}

.jqstooltip {
    background: #34495E !important;
    height: 22px !important;
    text-decoration: none;
    width: 30px !important;
}

.tooltip { display: block !important; }

.tiles {
    border-top: 1px solid #ccc;
    margin-bottom: 0;
    margin-top: 15px;
    padding-top: 5px;
}

.tile { overflow: hidden; }

.top_tiles { margin-bottom: 0; }

.top_tiles .tile h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    margin: 3px 0 7px;
}

article.media { width: 100%; }

/* *********  custom accordion  **************************** */

*, *:before, *:after { box-sizing: border-box; }

#integration-list {
    display: table;
    margin: 0 auto;
    width: 100%;
}

#integration-list ul {
    color: #555;
    margin: 20px 0;
    padding: 0;
}

#integration-list ul > li {
    border-top: 1px solid #ddd;
    display: block;
    list-style: none;
    overflow: hidden;
    padding: 15px;
}

#integration-list ul:last-child { border-bottom: 1px solid #ddd; }

#integration-list ul > li:hover { background: #efefef; }

.expand {
    color: #555;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.expand h2 {
    float: left;
    width: 85%;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

#left, #right { display: table; }

#sup {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
}

.detail a {
    border: 1px solid #C0392B;
    color: #C0392B;
    font-size: 13px;
    margin-right: 7px;
    padding: 6px 10px 5px;
    text-decoration: none;
}

.detail {
    display: none;
    height: 150px;
    line-height: 22px;
    margin: 10px 0 10px 0px;
}

.detail span { margin: 0; }

.right-arrow {
    float: right;
    font-size: 20px;
    font-weight: bold;
    width: 10px;
}

.accordion .panel {
    border-bottom: 1px solid #efefef;
    border-radius: 0;
    margin-bottom: 5px;
}

.accordion .panel-heading {
    display: block;
    padding: 13px;
    width: 100%;
}

.accordion .panel:hover { background: #F2F5F7; }

.x_panel {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    background: #fff;
    border: 1px solid #E6E9ED;
    column-break-inside: avoid;
    display: inline-block;
    margin-bottom: 10px;
    opacity: 1;
    padding: 10px 17px;
    position: relative;
    transition: all .2s ease;
    width: 100%;
}

.x_title {
    border-bottom: 2px solid #E6E9ED;
    margin-bottom: 10px;
    padding: 1px 5px 6px;
}

.x_title .filter {
    float: right;
    width: 40%;
}

.x_title h2 {
    display: block;
    float: left;
    margin: 5px 0 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.x_title h2 small { margin-left: 10px; }

.x_title span { color: #BDBDBD; }

.x_content {
    clear: both;
    float: left;
    margin-top: 5px;
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
}

.x_content h4 {
    font-size: 16px;
    font-weight: 500;
}

legend { padding-bottom: 7px; }

.demo-placeholder { height: 280px; }

/** Contacts **/

.profile_details:nth-child(3n) { clear: both; }

.profile_details .profile_view {
    background: #fff;
    display: inline-block;
    padding: 10px 0 0;
}

.profile_details .profile_view .divider {
    border-top: 1px solid #e5e5e5;
    margin-top: 5px;
    padding-top: 5px;
}

.profile_details .profile_view .ratings { margin-bottom: 0; }

.profile_details .profile_view .bottom {
    background: #F2F5F7;
    border-top: 1px solid #E6E9ED;
    padding: 9px 0;
}

.profile_details .profile_view .left { margin-top: 20px; }

.profile_details .profile_view .left p { margin-bottom: 3px; }

.profile_details .profile_view .right {
    margin-top: 0px;
    padding: 10px;
}

.profile_details .profile_view .img-circle {
    border: 1px solid #E6E9ED;
    padding: 2px;
}

.profile_details .profile_view h2 { margin: 5px 0; }

.profile_details .profile_view .ratings {
    font-size: 16px;
    text-align: left;
}

.profile_details .profile_view .brief {
    font-weight: 300;
    margin: 0;
}

.profile_details .profile_left { background: white; }

.pagination.pagination-split li {
    display: inline-block;
    margin-right: 3px;
}

.pagination.pagination-split li a {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #768399;
}

/** Contacts **/

/* *********  /custom accordion  **************************** */

/* *********  dashboard widget  **************************** */

table.tile h3, table.tile h4, table.tile span {
    font-weight: bold;
    vertical-align: middle !important;
}

table.tile th, table.tile td { text-align: center; }

table.tile th { border-bottom: 1px solid #E6ECEE; }

table.tile td { padding: 5px 0; }

table.tile td ul {
    padding-left: 0;
    text-align: left;
}

table.tile td ul li {
    list-style: none;
    width: 100%;
}

table.tile td ul li a { width: 100%; }

table.tile td ul li a big {
    float: right;
    margin-right: 13px;
    right: 0;
}

table.tile_info { width: 100%; }

table.tile_info td {
    font-size: 15px;
    padding: 1px;
    text-align: left;
}

table.tile_info td p {
    line-height: 28px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.tile_info td i {
    float: left;
    font-size: 17px;
    line-height: 28px;
    margin-right: 8px;
    width: 18px;
}

table.tile_info td:first-child { width: 83%; }

td span { line-height: 28px; }

.sidebar-widget { overflow: hidden; }

.error-number {
    font-size: 90px;
    line-height: 90px;
    margin: 20px 0;
}

.col-middle { margin-top: 5%; }

.mid_center {
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    width: 370px;
}

h3.degrees {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.degrees:after {
    content: "o";
    font-size: 13px;
    font-weight: 300;
    position: relative;
    top: -12px;
}

.daily-weather .day {
    border-bottom: 2px solid rgba(115, 135, 156, 0.36);
    border-top: 2px solid rgba(115, 135, 156, 0.36);
    font-size: 14px;
    padding: 5px 0;
    text-align: center;
}

.weather-days .col-sm-2 {
    overflow: hidden;
    width: 16.66666667%;
}

.weather .row { margin-bottom: 0; }

/* *********  tables styling  ******************************* */

.bulk-actions { display: none; }

table.countries_list { width: 100%; }

table.countries_list td {
    border-top: 1px solid #eeeeee;
    line-height: 30px;
    padding: 0 10px;
}

.dataTables_paginate a {
    background: #ddd !important;
    border-color: #ddd !important;
    padding: 6px 9px !important;
}

.paging_full_numbers a.paginate_active {
    background-color: rgba(38, 185, 154, 0.59) !important;
    border-color: rgba(38, 185, 154, 0.59) !important;
}

button.DTTT_button, div.DTTT_button, a.DTTT_button {
    background: #E7E7E7 !important;
    border: 1px solid #E7E7E7 !important;
    box-shadow: none !important;
}

table.jambo_table { border: 1px solid rgba(221, 221, 221, 0.78); }

table.jambo_table thead {
    background: rgba(52, 73, 94, 0.94);
    color: #ECF0F1;
}

table.jambo_table tbody tr:hover td {
    background: rgba(38, 185, 154, 0.07);
    border-bottom: 1px solid rgba(38, 185, 154, 0.11);
    border-top: 1px solid rgba(38, 185, 154, 0.11);
}

table.jambo_table tbody tr.selected { background: rgba(38, 185, 154, 0.16); }

table.jambo_table tbody tr.selected td {
    border-bottom: 1px solid rgba(38, 185, 154, 0.4);
    border-top: 1px solid rgba(38, 185, 154, 0.4);
}

.dataTables_paginate a { background: #ff0000; }

.dataTables_wrapper {
    clear: both;
    position: relative;
    zoom: 1;
}

.dataTables_processing {
    background-color: white;
    border: 1px solid #ddd;
    color: #999;
    font-size: 14px;
    height: 30px;
    left: 50%;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 250px;
}

.dataTables_length {
    float: left;
    width: 40%;
}

.dataTables_filter {
    float: right;
    text-align: right;
    width: 50%;
}

.dataTables_info {
    float: left;
    width: 60%;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}

table.dataTable th.focus,
table.dataTable td.focus {
    outline: 2px solid #1ABB9C !important;
    outline-offset: -1px;
}

table.display {
    clear: both;
    margin: 0 auto;
    width: 100%;
}

table.display thead th {
    border-bottom: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 18px 8px 10px;
}

table.display tfoot th {
    border-top: 1px solid black;
    font-weight: bold;
    padding: 3px 18px 3px 10px;
}

table.display tr.heading2 td { border-bottom: 1px solid #aaa; }

table.display td { padding: 3px 10px; }

table.display td.center { text-align: center; }

table.display thead th:active, table.display thead td:active { outline: none; }

.dataTables_scroll { clear: both; }

.dataTables_scrollBody {
    -webkit-overflow-scrolling: touch;
    *margin-top: -1px;
}

.top .dataTables_info { float: none; }

.clear { clear: both; }

.dataTables_empty { text-align: center; }

tfoot input {
    color: #444;
    margin: 0.5em 0;
    width: 100%;
}

tfoot input.search_init { color: #999; }

td.group {
    background-color: #d1cfd0;
    border-bottom: 2px solid #A19B9E;
    border-top: 2px solid #A19B9E;
}

td.details {
    background-color: #d1cfd0;
    border: 2px solid #A19B9E;
}

.example_alt_pagination div.dataTables_info { width: 40%; }

.paging_full_numbers {
    height: 22px;
    line-height: 22px;
    width: 400px;
}

.paging_full_numbers a:active { outline: none; }

.paging_full_numbers a:hover { text-decoration: none; }

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #aaa;
    cursor: pointer;
    margin: 0 3px;
    padding: 2px 5px;
}

.paging_full_numbers a.paginate_button { background-color: #ddd; }

.paging_full_numbers a.paginate_button:hover {
    background-color: #ccc;
    text-decoration: none !important;
}

.paging_full_numbers a.paginate_active { background-color: #99B3FF; }

table.display tr.even.row_selected td { background-color: #B0BED9; }

table.display tr.odd.row_selected td { background-color: #9FAFD1; }

div.box {
    background-color: #E5E5FF;
    border: 1px solid #8080FF;
    height: 100px;
    overflow: auto;
    padding: 10px;
}

/* *********  /tables styling  ****************************** */

/* *********  /dashboard widget  **************************** */

/* *********  widgets  *************************************** */

ul.msg_list li {
    display: -ms-flexbox;
    display: flex;
    margin: 6px 6px 0;
    padding: 5px;
    width: 96% !important;
}

ul.msg_list li:last-child {
    margin-bottom: 6px;
    padding: 10px;
}

ul.msg_list li a { padding: 3px 5px !important; }

ul.msg_list li a .image img {
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    float: left;
    margin-right: 10px;
    width: 11%;
}

ul.msg_list li a .time {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 35px;
}

ul.msg_list li a .message {
    display: block !important;
    font-size: 11px;
}

.dropdown-menu.msg_list span { white-space: normal; }

.dropdown-menu {
    border: medium none;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 9998;
}

.dropdown-menu > li > a { color: #5A738E; }

.navbar-nav .open .dropdown-menu {
    -webkit-box-shadow: none;
    background: #fff;
    border: 1px solid #D9DEE4;
    left: auto;
    margin-top: 0;
    position: absolute;
    right: 0;
    width: 220px;
}

.navbar-nav .open .dropdown-menu.msg_list { width: 300px; }

.info-number .badge {
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 6px;
    position: absolute;
    right: 2px;
    top: 8px;
}

ul.to_do { padding: 0; }

ul.to_do li {
    background: #f3f3f3;
    border-radius: 3px;
    list-style: none;
    margin-bottom: 5px;
    padding: 7px;
    position: relative;
}

ul.to_do p { margin: 0; }

.dashboard-widget {
    background: #f6f6f6;
    border-radius: 3px;
    border-top: 5px solid #79C3DF;
    padding: 5px 10px 10px;
}

.dashboard-widget .dashboard-widget-title {
    border-bottom: 1px solid #c1cdcd;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 10px 0;
    padding-bottom: 5px;
    padding-left: 40px;
}

.dashboard-widget .dashboard-widget-title i {
    background: #fff;
    border: 1px solid #abd9ea;
    border-radius: 5px;
    color: #33a1c9;
    font-size: 100%;
    margin-left: -35px;
    margin-right: 10px;
    padding: 3px 6px;
}

ul.quick-list {
    display: inline-block;
    padding-left: 0;
    width: 45%;
}

ul.quick-list li {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-top: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.quick-list li i {
    color: #757679;
    padding-right: 10px;
}

.dashboard-widget-content { padding-top: 9px; }

.dashboard-widget-content .sidebar-widget {
    background: #fff;
    border: 1px solid #abd9ea;
    border-radius: 5px;
    display: inline-block;
    float: right;
    margin-top: 10px;
    padding: 2px;
    text-align: center;
    vertical-align: top;
    width: 50%;
}

.widget_summary {
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
}

.widget_summary .w_left {
    float: left;
    text-align: left;
}

.widget_summary .w_center { float: left; }

.widget_summary .w_right {
    float: left;
    text-align: right;
}

.widget_summary .w_right span { font-size: 20px; }

.w_20 { width: 20%; }

.w_25 { width: 25%; }

.w_55 { width: 55%; }

h5.graph_title {
    margin-left: 10px;
    text-align: left;
}

h5.graph_title i {
    font-size: 17px;
    margin-right: 10px;
}

span.right {
    float: right;
    font-size: 14px !important;
}

.tile_info a { text-overflow: ellipsis; }

.sidebar-footer {
    background: #2A3F54;
    bottom: 0px;
    clear: both;
    display: block;
    padding: 5px 0 0 0;
    position: fixed;
    width: 230px;
}

.sidebar-footer a {
    background: #172D44;
    display: block;
    float: left;
    font-size: 17px;
    padding: 7px 0 3px;
    text-align: center;
    width: 25%;
}

.sidebar-footer a:hover { background: #425567; }

/** top tiles  */

.tile_count {
    margin-bottom: 20px;
    margin-top: 20px;
}

.tile_count .tile_stats_count {
    border-bottom: 1px solid #D9DEE4;
    overflow: hidden;
    padding: 0 10px 0 20px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 992px) {
    footer { margin-left: 230px; }
}

@media (min-width: 992px) {
    .tile_count .tile_stats_count {
        border-bottom: 0;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}

.tile_count .tile_stats_count:before {
    border-left: 2px solid #ADB2B5;
    content: "";
    height: 65px;
    left: 0;
    margin-top: 10px;
    position: absolute;
}

@media (min-width: 992px) {
    .tile_count .tile_stats_count:first-child:before { border-left: 0; }
}

.tile_count .tile_stats_count .count {
    font-size: 30px;
    font-weight: 600;
    line-height: 47px;
}

@media (min-width: 768px) {
    .tile_count .tile_stats_count .count { font-size: 40px; }
}

@media (min-width: 992px) and (max-width: 1100px) {
    .tile_count .tile_stats_count .count { font-size: 30px; }
}

.tile_count .tile_stats_count span { font-size: 12px; }

@media (min-width: 768px) {
    .tile_count .tile_stats_count span { font-size: 13px; }
}

.tile_count .tile_stats_count .count_bottom i { width: 12px; }

/** /top tiles **/

.dashboard_graph {
    background: #fff;
    padding: 7px 10px;
}

.dashboard_graph .col-md-9, .dashboard_graph .col-md-3 { padding: 0; }

a.user-profile { color: #5E6974 !important; }

.user-profile img {
    border-radius: 50%;
    height: 29px;
    margin-right: 10px;
    width: 29px;
}

ul.top_profiles {
    height: 330px;
    width: 100%;
}

ul.top_profiles li {
    margin: 0;
    padding: 3px 5px;
}

ul.top_profiles li:nth-child(odd) { background-color: #eee; }

.media .profile_thumb {
    border: 1px solid;
    border-radius: 50%;
    height: 50px;
    margin: 5px 10px 5px 0;
    padding: 9px 12px;
    width: 50px;
}

.media .profile_thumb i { font-size: 30px; }

.media .date {
    background: #ccc;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px;
    width: 52px;
}

.media .date .month {
    color: #fff;
    margin: 0;
    text-align: center;
}

.media .date .day {
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    line-height: 27px;
    margin: 0;
    text-align: center;
}

.event .media-body a.title { font-weight: bold; }

.event .media-body p { margin-bottom: 0; }

h4.graph_title {
    margin: 7px;
    text-align: center;
}

/* *********  /widgets  *************************************** */

/* *********  iconts-display  **************************** */

.fontawesome-icon-list .fa-hover a:hover {
    background-color: #ddd;
    color: #fff;
    text-decoration: none;
}

.fontawesome-icon-list .fa-hover a {
    border-radius: 4px;
    display: block;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
}

.fontawesome-icon-list .fa-hover a:hover .fa {
    font-size: 28px;
    vertical-align: -6px;
}

.fontawesome-icon-list .fa-hover a .fa {
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    text-align: right;
    width: 32px;
}

.main_menu .fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    opacity: .99;
    width: 26px;
}

/* *********  /iconts-display  **************************** */

/** tile stats **/

.tile-stats {
    -moz-background-clip: padding;
    -moz-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 5px;
    background: #FFF;
    background-clip: padding-box;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    display: block;
    margin-bottom: 12px;
    overflow: hidden;
    padding-bottom: 5px;
    position: relative;
    transition: all 300ms ease-in-out;
}

.tile-stats:hover .icon i {
    -moz-animation-duration: .5s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: tansformAnimation;
    -moz-animation-timing-function: ease;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: tansformAnimation;
    -webkit-animation-timing-function: ease;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: tansformAnimation;
    animation-timing-function: ease;
    color: rgba(58, 58, 58, 0.41);
}

.tile-stats .icon {
    color: #BAB8B8;
    height: 20px;
    position: absolute;
    right: 53px;
    top: 22px;
    width: 20px;
    z-index: 1;
}

.tile-stats .icon i {
    font-size: 60px;
    line-height: 0;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.tile-stats .count {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.65857;
}

.tile-stats .count, .tile-stats h3, .tile-stats p {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    position: relative;
    z-index: 5;
}

.tile-stats h3 { color: #BAB8B8; }

.tile-stats p {
    font-size: 12px;
    margin-top: 5px;
}

.tile-stats > .dash-box-footer {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    margin-top: 5px;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

.tile-stats > .dash-box-footer:hover {
    background: rgba(0, 0, 0, 0.15);
    color: #fff;
}

.tile-stats > .dash-box-footer:hover {
    background: rgba(0, 0, 0, 0.15);
    color: #fff;
}

table.tile_info { padding: 10px 15px; }

table.tile_info span.right {
    float: right;
    margin-right: 0;
    position: absolute;
    right: 4%;
}

.tile:hover { text-decoration: none; }

.tile_header {
    background: #E7E7E7;
    border-bottom: transparent;
    margin-bottom: 15px;
    padding: 7px 15px;
}

.tile_head h4 {
    margin-bottom: 5px;
    margin-top: 0;
}

.tiles-bottom {
    background: rgba(194, 194, 194, 0.3);
    margin-top: 10px;
    padding: 5px 10px;
    text-align: left;
}

/** /tile stats **/

/** inbox **/

a.star { color: #428bca !important; }

.mail_content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    margin-top: 20px;
    min-height: 500px;
    padding: 10px 11px;
    width: 100%;
}

.list-btn-mail { margin-bottom: 15px; }

.list-btn-mail.active {
    border-bottom: 1px solid #39B3D7;
    padding: 0 0 14px;
}

.list-btn-mail > i {
    float: left;
    font-size: 18px;
    font-style: normal;
    width: 33px;
}

.list-btn-mail > .cn {
    background: none repeat scroll 0 0 #39B3D7;
    border-radius: 12px;
    color: #FFFFFF;
    float: right;
    font-style: normal;
    padding: 0 5px;
}

.button-mail {
    margin: 0 0 15px !important;
    text-align: left;
    width: 100%;
}

button,
.buttons,
.btn,
.modal-footer .btn + .btn {
    margin-bottom: 5px;
    margin-right: 5px;
}

.btn-group-vertical .btn, .btn-group .btn {
    margin-bottom: 0;
    margin-right: 0;
}

.mail_list_column { border-left: 1px solid #DBDBDB; }

.mail_view { border-left: 1px solid #DBDBDB; }

.mail_list {
    border-bottom: 1px solid #DBDBDB;
    display: inline-block;
    margin-bottom: 2px;
    width: 100%;
}

.mail_list .left {
    float: left;
    margin-right: 3%;
    width: 5%;
}

.mail_list .right {
    float: left;
    width: 90%;
}

.mail_list h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0px 0 6px;
}

.mail_list h3 small {
    color: #ADABAB;
    float: right;
    font-size: 11px;
    line-height: 20px;
}

.mail_list .badge {
    background: #BAB7B7;
    font-size: 8px;
    padding: 3px 6px;
}

@media (max-width: 767px) {
    .mail_list {
        display: inline-block;
        margin-bottom: 5px;
    }
}

.mail_heading h4 {
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.attachment { margin-top: 30px; }

.attachment ul {
    display: inline-block;
    list-style: none;
    margin-bottom: 30px;
    padding-left: 0;
    width: 100%;
}

.attachment ul li {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
}

.attachment ul li img {
    border: 1px solid #ddd;
    height: 150px;
    margin-bottom: 10px;
    padding: 5px;
}

.attachment ul li span { float: right; }

.attachment .file-name { float: left; }

.attachment .links {
    display: inline-block;
    width: 100%;
}

.compose {
    background: #fff;
    border: 1px solid #D9DEE4;
    border-bottom: 0;
    border-right: 0;
    border-top-left-radius: 5px;
    bottom: 0;
    display: none;
    padding: 0;
    position: fixed;
    right: 0;
    z-index: 9999;
}

.compose .compose-header {
    background: #169F85;
    border-top-left-radius: 5px;
    color: #fff;
    padding: 5px;
}

.compose .compose-header .close {
    line-height: .8;
    text-shadow: 0 1px 0 #ffffff;
}

.compose .compose-body .editor.btn-toolbar { margin: 0; }

.compose .compose-body .editor-wrapper {
    border-left: none;
    border-radius: 0;
    border-right: none;
    height: 100%;
    max-height: 180px;
    min-height: 50px;
    overflow: auto;
}

.compose .compose-footer { padding: 10px; }

/** /inbox **/

/* *********  form design  **************************** */

.editor.btn-toolbar {
    background: #F7F7F7;
    border: 1px solid #EFEFEF;
    margin: 5px 2px;
    padding: 3px 0;
    zoom: 1;
}

.input-group { margin-bottom: 10px; }

.ln_solid {
    background-color: #ffffff;
    border-top: 1px solid #e5e5e5;
    color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

span.section {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    display: block;
    font-size: 21px;
    line-height: inherit;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}

.form-control {
    border-radius: 0;
    width: 100%;
}

.form-horizontal .control-label { padding-top: 8px; }

.form-control:focus {
    border-color: #CCD0D7;
    box-shadow: none !important;
}

legend {
    color: inherit;
    font-size: 18px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-control-feedback {
    color: #bbb;
    font-size: 15px;
    height: 23px;
    line-height: 24px;
    margin-top: 8px;
}

.form-control-feedback.left {
    border-right: 1px solid #ccc;
    left: 13px;
}

.form-control-feedback.right {
    border-left: 1px solid #ccc;
    right: 13px;
}

.form-control.has-feedback-left { padding-left: 45px; }

.form-control.has-feedback-right { padding-right: 45px; }

.form-group { margin-bottom: 10px; }

.validate { margin-top: 10px; }

.invalid-form-error-message {
    margin-top: 10px;
    padding: 5px;
}

.invalid-form-error-message.filled { border-left: 2px solid #E74C3C; }

p.parsley-success {
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
    color: #468847;
}

p.parsley-error {
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
    color: #B94A48;
}

ul.parsley-errors-list {
    color: #E74C3C;
    list-style: none;
    padding-left: 0;
}

input.parsley-error, textarea.parsley-error, select.parsley-error {
    background: #FAEDEC;
    border: 1px solid #E85445;
}

.btn-group .parsley-errors-list { display: none; }

.bad input, .bad select, .bad textarea {
    -moz-animation: .7s 1 shake linear;
    -webkit-animation: 0.7s 1 shake linear;
    border: 1px solid #CE5454;
    box-shadow: 0 0 4px -2px #CE5454;
    left: 0;
    position: relative;
}

.item input, .item textarea { transition: 0.42s; }

/* alerts (when validation fails) */

.item .alert {
    background-color: #CE5454;
    border-radius: 3px 4px 4px 3px;
    color: #FFF;
    float: left;
    left: -15px;
    margin: 0 0 0 20px;
    max-width: 170px;
    opacity: 0;
    padding: 3px 10px;
    position: relative;
    transition: 0.15s ease-out;
    white-space: pre;
    z-index: 1;
}

.item .alert::after {
    border-color: transparent #CE5454 transparent transparent;
    border-style: solid;
    border-width: 11px 7px;
    content: '';
    display: block;
    height: 0;
    left: -13px;
    position: absolute;
    top: 1px;
    width: 0;
}

.item.bad .alert {
    left: 0;
    opacity: 1;
}

.inl-bl { display: inline-block; }

.well .markup {
    background: #fff;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: none;
    color: #777;
    margin: 15px 0 0 0;
    padding: 45px 15px 15px;
    position: relative;
}

.well .markup::after {
    color: #bbb;
    content: "Example";
    font-size: 12px;
    font-weight: bold;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
}

/* ***** autocomplete ***** */

.autocomplete-suggestions {
    background: #F4F4F4;
    border: 1px solid #e4e4e4;
    cursor: default;
    overflow: auto;
}

.autocomplete-suggestion {
    font-size: 1.2em;
    overflow: hidden;
    padding: 2px 5px;
    white-space: nowrap;
}

.autocomplete-selected { background: #f0f0f0; }

.autocomplete-suggestions strong {
    color: #3399ff;
    font-weight: normal;
    font-weight: bolder;
}

/* ***** /autocomplete *****/

/* ***** buttons ********/

.btn { border-radius: 3px; }

a.btn-success, a.btn-primary, a.btn-warning, a.btn-danger { color: #fff; }

.btn-success {
    background: #26B99A;
    border: 1px solid #169F85;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success { background: #169F85; }

.btn-dark {
    background-color: #4B5F71;
    border-color: #364B5F;
    color: #E9EDEF;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open .dropdown-toggle.btn-dark {
    background-color: #394D5F;
    border-color: #394D5F;
    color: #FFFFFF;
}

.btn-round { border-radius: 30px; }

.btn.btn-app {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    color: #666;
    font-size: 12px;
    height: 60px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    padding: 15px 5px;
    position: relative;
    text-align: center;
}

.btn.btn-app > .fa, .btn.btn-app > .glyphicon, .btn.btn-app > .ion {
    display: block;
    font-size: 20px;
}

.btn.btn-app:hover {
    background: #f4f4f4;
    border-color: #aaa;
    color: #444;
}

.btn.btn-app:active, .btn.btn-app:focus { box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn.btn-app > .badge {
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    right: -10px;
    top: -3px;
}

/* ***** /buttons *******/

/* *********  /form design  **************************** */

/* *********  form textarea  **************************** */

textarea {
    padding: 10px;
    vertical-align: top;
    width: 200px;
}

textarea:focus {
    outline-style: solid;
    outline-width: 2px;
}

.btn_ {
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 3px 9px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

/* *********  /form textarea  **************************** */

/* *********  glyphicons  **************************** */

.bs-glyphicons {
    margin: 0 -10px 20px;
    overflow: hidden;
}

.bs-glyphicons-list {
    list-style: none;
    padding-left: 0;
}

.bs-glyphicons li {
    background-color: #f9f9f9;
    border: 1px solid #fff;
    float: left;
    font-size: 10px;
    height: 115px;
    line-height: 1.4;
    padding: 10px;
    text-align: center;
    width: 25%;
}

.bs-glyphicons .glyphicon {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

.bs-glyphicons li:hover {
    background-color: #1ABB9C;
    color: #fff;
}

@media (min-width: 768px) {
    .bs-glyphicons {
        margin-left: 0;
        margin-right: 0;
    }

    .bs-glyphicons li {
        font-size: 12px;
        width: 12.5%;
    }
}

/* *********  /glyphicons  **************************** */

/* *********  form tags input  **************************** */

.tagsinput {
    background: #FFF;
    border: 1px solid #CCC;
    overflow-y: auto;
    padding: 6px 6px 0;
    width: 300px;
}

span.tag {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #1ABB9C;
    color: #F1F6F7;
    display: block;
    float: left;
    font-family: helvetica;
    font-weight: 500;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 9px;
    text-decoration: none;
}

span.tag a { color: #F1F6F7 !important; }

.tagsinput span.tag a {
    color: #82ad2b;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.tagsinput input {
    background: transparent;
    border: 1px solid transparent;
    color: #000;
    font-family: helvetica;
    font-size: 13px;
    margin: 0px;
    outline: 0px;
    padding: 3px;
    width: 80px;
}

.tagsinput div {
    display: block;
    float: left;
}

.tags_clear {
    clear: both;
    height: 0px;
    width: 100%;
}

.not_valid {
    background: #FBD8DB !important;
    color: #90111A !important;
}

/* *********  /form tags input  **************************** */

/** Tabs **/

ul.bar_tabs {
    background: #F5F7FA;
    border-bottom: 1px solid #E6E9ED;
    height: 25px;
    margin: 21px 0 14px;
    overflow: visible;
    padding-left: 14px;
    position: relative;
    width: 100%;
    z-index: 1;
}

ul.bar_tabs > li {
    background: #fff;
    border: 1px solid #E6E9ED;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    color: #333 !important;
    margin-left: 8px;
    margin-top: -17px;
}

ul.bar_tabs > li.active {
    border-right: 6px solid #D3D6DA;
    border-top: 0;
    margin-top: -15px;
}

ul.bar_tabs > li a {
    background: #F5F7FA;
    border-top-right-radius: 0;
    margin: 0;
    padding: 10px 17px;
}

ul.bar_tabs > li a:hover { border: 1px solid transparent; }

ul.bar_tabs > li.active a { border-bottom: none; }

ul.bar_tabs.right { padding-right: 14px; }

ul.bar_tabs.right li { float: right; }

a:focus { outline: none; }

/** /Tabs **/

/* *********  timeline  **************************** */

ul.timeline li {
    border-bottom: 1px solid #e8e8e8;
    clear: both;
    position: relative;
}

.timeline .block {
    border-left: 3px solid #e8e8e8;
    margin: 0;
    margin-left: 105px;
    overflow: visible;
    padding: 10px 15px;
}

.timeline.widget {
    max-width: inherit;
    min-width: 0;
}

.timeline.widget .block { margin-left: 5px; }

.timeline .tags {
    left: 0;
    position: absolute;
    top: 15px;
    width: 84px;
}

.timeline .tag {
    display: block;
    font-size: 13px;
    height: 30px;
    padding: 8px;
}

.timeline .tag span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.tag {
    background: #1ABB9C;
    color: #fff !important;
    line-height: 1;
}

.tag:after {
    border-bottom: 14px solid transparent;
    border-left: 11px solid #1ABB9C;
    border-top: 14px solid transparent;
    content: " ";
    height: 30px;
    left: 100%;
    margin: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 0;
}

.timeline h2.title {
    font-size: 16px;
    margin: 0;
    position: relative;
}

.timeline h2.title:before {
    background: #f9f9f9;
    border: 3px solid #d2d3d2;
    border-radius: 14px;
    content: "";
    display: block;
    height: 14px;
    left: -23px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.timeline .byline { padding: .25em 0; }

.byline {
    -webkit-font-smoothing: antialiased;
    color: #aab6aa;
    font-size: .9375em;
    font-style: italic;
    line-height: 1.3;
}

ul.social li { border: 0; }

/* *********  /timeline  **************************** */

/* *********  profile/social  **************************** */

.social-sidebar, .social-body { float: right; }

.social-sidebar {
    background: #EDEDED;
    width: 22%;
}

.social-body {
    border: 1px solid #ccc;
    width: 78%;
}

.thumb img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.chat .thumb img {
    border-radius: 50%;
    height: 27px;
    width: 27px;
}

.chat .status {
    border: 2px solid #FFF;
    border-radius: 50%;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 12px;
    margin: 16px 0 0 -16px;
    width: 12px;
    z-index: 12312;
}

.chat .status.online { background: #1ABB9C; }

.chat .status.away { background: #F39C12; }

.chat .status.offline { background: #ccc; }

.chat .media-body { padding-top: 5px; }

/* *********  /profile/social  **************************** */

/* *********  widgets  **************************** */

.dashboard_graph .x_title { padding: 5px 5px 7px; }

.dashboard_graph .x_title h3 {
    font-weight: normal;
    margin: 0;
}

.chart {
    display: inline-block;
    height: 110px;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
    text-align: center;
    width: 110px;
}

.chart canvas {
    left: 0;
    position: absolute;
    top: 0;
}

.percent {
    display: inline-block;
    font-size: 18px;
    line-height: 110px;
    z-index: 2;
}

.percent:after {
    content: '%';
    font-size: .8em;
    margin-left: 0.1em;
}

.angular { margin-top: 100px; }

.angular .chart { margin-top: 0; }

.widget {
    max-width: 310px;
    min-width: 250px;
}

.widget_tally_box .btn-group button { text-align: center; }

.widget_tally_box .btn-group button {
    background-color: #f5f5f5;
    border: 1px solid #e7e7e7;
    color: inherit;
    font-weight: 500;
}

ul.widget_tally, ul.widget_tally li { width: 100%; }

ul.widget_tally li {
    border-bottom: 1px solid #ECECEC;
    padding: 2px 10px;
    padding-bottom: 4px;
}

ul.widget_tally .month {
    float: left;
    width: 70%;
}

ul.widget_tally .count {
    float: left;
    text-align: right;
    width: 30%;
}

.pie_bg {
    border-bottom: 1px solid rgba(101, 204, 182, 0.16);
    border-radius: 4px;
    box-shadow: 0 4px 6px -6px #222;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    padding-bottom: 15px;
    padding-bottom: 10px;
}

.widget_tally_box .flex {
    display: -ms-flexbox;
    display: flex;
}

ul.widget_profile_box {
    background: #ececec;
    height: 42px;
    margin-left: 1px;
    margin-top: 40px;
    padding: 3px;
    width: 100%;
}

ul.widget_profile_box li:first-child {
    float: left;
    width: 25%;
}

ul.widget_profile_box li:first-child a { float: left; }

ul.widget_profile_box li:last-child {
    float: right;
    width: 25%;
}

ul.widget_profile_box li:last-child a { float: right; }

ul.widget_profile_box li a {
    border: 1px solid rgba(52, 73, 94, 0.44);
    border-radius: 50%;
    display: block;
    font-size: 22px;
    height: 35px;
    padding: 0px;
    text-align: center;
    width: 35px;
}

ul.widget_profile_box li a:hover {
    border: 1px solid #26b99a;
    color: #1ABB9C !important;
}

ul.widget_profile_box li .profile_img {
    height: 85px;
    margin: 0;
    margin-top: -28px;
    width: 85px;
}

.widget_tally_box p, .widget_tally_box span { text-align: center; }

.widget_tally_box .name {
    margin: 25px;
    text-align: center;
}

.widget_tally_box .name_title {
    margin: 5px;
    text-align: center;
}

.widget_tally_box ul.legend { margin: 0; }

.widget_tally_box ul.legend p, .widget_tally_box ul.legend span { text-align: left; }

.widget_tally_box ul.legend li .icon {
    float: left;
    font-size: 20px;
    width: 14px;
}

.widget_tally_box ul.legend li .name {
    float: left;
    font-size: 14px;
    margin: 5px 0 0 14px;
    text-overflow: ellipsis;
}

.widget_tally_box ul.legend p {
    display: inline-block;
    margin: 0;
}

.widget_tally_box ul.verticle_bars li {
    height: 140px;
    width: 23%;
}

.widget .verticle_bars li .progress.vertical.progress_wide { width: 65%; }

ul.count2 {
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    margin-left: 1px;
    padding: 10px 0;
    width: 100%;
}

ul.count2 li {
    text-align: center;
    width: 30%;
}

ul.count2 li h3 {
    font-weight: 400;
    margin: 0;
}

ul.count2 li span { font-weight: 300; }

/* *********  /widgets  **************************** */

.divider {
    border-bottom: 1px solid #ddd;
    margin: 10px;
}

.divider-dashed {
    background-color: #ffffff;
    border-top: 1px dashed #e7eaec;
    height: 1px;
    margin: 10px 0;
}

ul.messages {
    list-style: none;
    padding: 0;
}

ul.messages li, .tasks li {
    border-bottom: 1px dotted #e6e6e6;
    padding: 8px 0;
}

ul.messages li img.avatar, img.avatar {
    background: #f7f7f7;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    display: inline-block;
    float: left;
    height: 32px;
    padding: 2px;
    width: 32px;
}

ul.messages li .message_date {
    float: right;
    text-align: right;
}

ul.messages li .message_wrapper {
    margin-left: 50px;
    margin-right: 40px;
}

ul.messages li .message_wrapper h4.heading {
    cursor: pointer;
    font-weight: 600;
    line-height: 100%;
    margin: 0;
    margin-bottom: 10px;
}

ul.messages li .message_wrapper blockquote {
    border-left: 5px solid #eee;
    margin: 0;
    padding: 0px 10px;
}

ul.user_data li { margin-bottom: 6px; }

ul.user_data li p { margin-bottom: 0; }

ul.user_data li .progress { width: 90%; }

.project_progress .progress {
    margin-bottom: 3px !important;
    margin-top: 5px;
}

.projects .list-inline { margin: 0; }

.profile_title {
    background: #F5F7FA;
    border: 0;
    display: -ms-flexbox;
    display: flex;
    padding: 7px 0;
}

ul.stats-overview {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

ul.stats-overview li {
    border-right: 1px solid #e8e8e8;
    display: inline-block;
    font-size: 14px;
    padding: 0 15px;
    text-align: center;
    width: 30%;
}

ul.stats-overview li:last-child { border-right: 0; }

ul.stats-overview li .name { font-size: 12px; }

ul.stats-overview li .value {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

ul.stats-overview li:first-child { padding-left: 0; }

ul.project_files li { margin-bottom: 5px; }

ul.project_files li a i { width: 20px; }

.project_detail p { margin-bottom: 10px; }

.project_detail p.title {
    font-weight: bold;
    margin-bottom: 0;
}

.avatar img {
    border-radius: 50%;
    max-width: 45px;
}

/* *********  pricing  **************************** */

.pricing { background: #fff; }

.pricing .title {
    background: #1ABB9C;
    color: #fff;
    height: 110px;
    padding: 15px 0 0;
    text-align: center;
}

.pricing .title h2 {
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    text-transform: capitalize;
}

.pricing .title h1 {
    font-size: 30px;
    margin: 12px;
}

.pricing .title span {
    background: rgba(51, 51, 51, 0.28);
    padding: 2px 5px;
}

.pricing_features {
    background: #FAFAFA;
    font-size: 13.5px;
    min-height: 230px;
    padding: 20px 15px;
}

.pricing_features ul li { margin-top: 10px; }

.pricing_footer {
    background-color: #f5f5f5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
    text-align: center;
}

.pricing_footer p {
    display: block;
    font-size: 13px;
    padding: 10px 0 2px;
}

.ui-ribbon-container { position: relative; }

.ui-ribbon-container .ui-ribbon-wrapper {
    height: 88px;
    overflow: hidden;
    position: absolute;
    right: -3px;
    top: -3px;
    width: 85px;
}

.ui-ribbon-container.ui-ribbon-primary .ui-ribbon { background-color: #5b90bf; }

.ui-ribbon-container .ui-ribbon {
    background-color: #555;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 700;
    left: -5px;
    line-height: 20px;
    padding: 7px 0;
    position: relative;
    text-align: center;
    top: 15px;
    transform: rotate(45deg);
    width: 120px;
}

.ui-ribbon-container.ui-ribbon-primary .ui-ribbon:after, .ui-ribbon-container.ui-ribbon-primary .ui-ribbon:before { border-top: 2px solid #5b90bf; }

.ui-ribbon-container .ui-ribbon:before {
    bottom: -1px;
    left: 0;
}

.ui-ribbon-container .ui-ribbon:before { right: 0; }

.ui-ribbon-container .ui-ribbon:after, .ui-ribbon-container .ui-ribbon:before {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 2px solid #555;
    content: " ";
    line-height: 0;
    position: absolute;
}

/* *********  /pricing  **************************** */

/* *********  media gallery  **************************** */

.thumbnail .image {
    height: 120px;
    overflow: hidden;
}

.caption {
    background: #F7F7F7;
    padding: 9px 5px;
}

.caption p { margin-bottom: 5px; }

.thumbnail {
    height: 190px;
    overflow: hidden;
}

.view {
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.view .mask, .view .content {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.view img {
    display: block;
    position: relative;
}

.view .tools {
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
    font-size: 17px;
    margin: 43px 0 0 0;
    padding: 3px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.mask.no-caption .tools { margin: 90px 0 0 0; }

.view .tools a {
    color: #FFF;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4px;
}

.view p {
    color: #fff;
    font-family: Georgia, serif;
    font-size: 12px;
    font-style: italic;
    padding: 10px 20px 20px;
    position: relative;
    text-align: center;
}

.view a.info {
    background: #000;
    box-shadow: 0 0 1px #000;
    color: #fff;
    display: inline-block;
    padding: 7px 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.view-first img { transition: all 0.2s linear; }

.view-first .mask {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.view-first .tools {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 0.2s ease-in-out;
}

.view-first p {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.2s linear;
}

.view-first:hover img { transform: scale(1.1); }

.view-first:hover .mask { opacity: 1; }

.view-first:hover .tools, .view-first:hover p {
    opacity: 1;
    transform: translateY(0px);
}

.view-first:hover p { transition-delay: 0.1s; }

/* *********  /media gallery  **************************** */

/* *********  verticle tabs  **************************** */

/*!
 * bootstrap-vertical-tabs - v1.2.1
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2014-11-07
 * Copyright (c) 2014 İsmail Demirbilek
 * License: MIT
 */

.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}

.tabs-left { border-right: 1px solid #F7F7F7; }

.tabs-right { border-left: 1px solid #F7F7F7; }

.tabs-left > li, .tabs-right > li {
    float: none;
    margin-bottom: 2px;
}

.tabs-left > li { margin-right: -1px; }

.tabs-right > li { margin-left: -1px; }

.tabs-left > li.active > a, .tabs-left > li.active > a:hover, .tabs-left > li.active > a:focus {
    border-bottom-color: #F7F7F7;
    border-right-color: transparent;
}

.tabs-right > li.active > a, .tabs-right > li.active > a:hover, .tabs-right > li.active > a:focus {
    border-bottom: 1px solid #F7F7F7;
    border-left-color: transparent;
}

.tabs-left > li > a {
    background: #F7F7F7;
    border-radius: 4px 0 0 4px;
    display: block;
    margin-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabs-right > li > a {
    background: #F7F7F7;
    border-radius: 0 4px 4px 0;
    margin-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sideways {
    border: none;
    margin-top: 50px;
    position: relative;
}

.sideways > li {
    height: 20px;
    margin-bottom: 100px;
    width: 120px;
}

.sideways > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0px 0px;
    border-right-color: transparent;
    text-align: center;
}

.sideways > li.active > a, .sideways > li.active > a:hover, .sideways > li.active > a:focus {
    border-bottom-color: transparent;
    border-left-color: #ddd;
    border-right-color: #ddd;
}

.sideways.tabs-left { left: -50px; }

.sideways.tabs-right { right: -50px; }

.sideways.tabs-right > li { transform: rotate(90deg); }

.sideways.tabs-left > li { transform: rotate(-90deg); }

/* *********  /verticle tabs  **************************** */

/* *********  moris  **************************** */

.morris-hover {
    position: absolute;
    z-index: 1000;
}

.morris-hover.morris-default-style {
    background: rgba(243, 242, 243, 0.8);
    border: solid 2px rgba(195, 194, 196, 0.8);
    color: #666;
    font-family: sans-serif;
    font-size: 12px;
    padding: 6px;
    text-align: center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: bold;
    margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
    margin: 0.1em 0;
    white-space: nowrap;
}

/* *********  /moris  **************************** */

/* *********  ecommerce  **************************** */

.price {
    color: #26B99A;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

.prod_title {
    border-bottom: 1px solid #DFDFDF;
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0;
    padding-bottom: 5px;
}

.product-image img { width: 90%; }

.prod_color li { margin: 0 10px; }

.prod_color li p { margin-bottom: 0; }

.prod_size li { padding: 0; }

.prod_color .color {
    border: 2px solid rgba(51, 51, 51, 0.28) !important;
    border-radius: 50px;
    height: 25px;
    padding: 2px;
    width: 25px;
}

.product_gallery a {
    border: 1px solid #e5e5e5;
    float: left;
    height: 100px;
    margin: 10px;
    width: 100px;
}

.product_gallery a img {
    margin-top: 15px;
    width: 100%;
}

.product_price {
    background-color: #FFFFFF;
    border: 2px dashed #E0E0E0;
    margin: 20px 0;
    padding: 5px 10px;
    text-align: left;
}

.price-tax { font-size: 18px; }

.product_social { margin: 20px 0; }

.product_social ul li a i { font-size: 35px; }

/* *********  /ecommerce  **************************** */

/** login **/

.login { background: #F7F7F7; }

.login .fa-paw { font-size: 26px; }

a.hiddenanchor { display: none; }

.login_wrapper {
    margin: 0px auto;
    margin-top: 5%;
    max-width: 350px;
    position: relative;
    right: 0px;
}

.registration_form, .login_form {
    position: absolute;
    top: 0px;
    width: 100%;
}

.registration_form {
    opacity: 0;
    width: 100%;
    z-index: 21;
}

.login_form { z-index: 22; }

#signup:target ~ .login_wrapper .registration_form, #signin:target ~ .login_wrapper .login_form {
    animation-delay: .1s;
    animation-name: fadeInLeft;
    z-index: 22;
}

#signup:target ~ .login_wrapper .login_form, #signin:target ~ .login_wrapper .registration_form { animation-name: fadeOutLeft; }

.animate {
    -moz-animation-duration: 0.5s;
    -moz-animation-fill-mode: both;
    -moz-animation-timing-function: ease;
    -ms-animation-duration: 0.5s;
    -ms-animation-fill-mode: both;
    -ms-animation-timing-function: ease;
    -o-animation-duration: 0.5s;
    -o-animation-fill-mode: both;
    -o-animation-timing-function: ease;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: ease;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

/** /login **/

/** signup **/

.login_box {
    margin: auto;
    padding: 20px;
}

.left { float: left; }

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.clearfix:after, form:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.login_content {
    margin: 0 auto;
    min-width: 280px;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}

.login_content a,
.login_content .btn-default:hover { text-decoration: none; }

.login_content a:hover { text-decoration: underline; }

.login_content h1 {
    font: normal 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}

.login_content h1:before, .login_content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 27%;
}

.login_content h1:after {
    background: #7e7e7e;
    background: linear-gradient(left, #7e7e7e 0%, white 100%);
    right: 0;
}

.login_content h1:before {
    background: #7e7e7e;
    background: linear-gradient(right, #7e7e7e 0%, white 100%);
    left: 0;
}

.login_content h1:before, .login_content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 20%;
}

.login_content h1:after {
    background: #7e7e7e;
    background: linear-gradient(left, #7e7e7e 0%, white 100%);
    right: 0;
}

.login_content h1:before {
    background: #7e7e7e;
    background: linear-gradient(right, #7e7e7e 0%, white 100%);
    left: 0;
}

.login_content form {
    margin: 20px 0;
    position: relative;
}

.login_content form input[type="text"], .login_content form input[type="email"], .login_content form input[type="password"] {
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    color: #777;
    margin: 0 0 20px;
    width: 100%;
}

.login_content form input[type="text"]:focus, .login_content form input[type="email"]:focus, .login_content form input[type="password"]:focus {
    -ms-box-shadow: 0 0 2px #ed1c24 inset;
    -o-box-shadow: 0 0 2px #ed1c24 inset;
    background-color: #fff;
    border: 1px solid #A878AF;
    box-shadow: 0 0 2px #A97AAD inset;
    outline: none;
}

#username { background-position: 10px 10px !important; }

#password { background-position: 10px -53px !important; }

.login_content form div a {
    font-size: 12px;
    margin: 10px 15px 0 0;
}

.reset_pass { margin-top: 10px !important; }

.login_content div .reset_pass {
    float: right;
    margin-right: 39px;
    margin-top: 13px !important;
}

.separator {
    border-top: 1px solid #D8D8D8;
    margin-top: 10px;
    padding-top: 10px;
}

.button {
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    background: #f7f9fa;
    background: linear-gradient(top, #f7f9fa 0%, #f0f0f0 100%);
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #CFD5D9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f9fa', endColorstr='#f0f0f0', GradientType=0);
    padding: 15px 0;
}

.login_content form input[type="submit"], #content form .submit {
    float: left;
    margin-left: 38px;
}

.button a {
    background: url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;
    color: #7E7E7E;
    font-size: 17px;
    padding: 2px 0 2px 40px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.button a:hover {
    background-position: 0 -135px;
    color: #00aeef;
}

header { width: 100%; }

/** signup **/

/** NProgress **/

#nprogress .bar { background: #1ABB9C; }

#nprogress .peg { box-shadow: 0 0 10px #1ABB9C, 0 0 5px #1ABB9C; }

#nprogress .spinner-icon {
    border-left-color: #1ABB9C;
    border-top-color: #1ABB9C;
}

/** /NProgress **/

/** bootstrap-wysiwyg **/

.editor-wrapper {
    background-color: white;
    border: 1px solid #cccccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-collapse: separate;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.07451) 0px 1px 1px 0px inset;
    box-sizing: content-box;
    min-height: 250px;
    outline: none;
    overflow: scroll;
    padding: 4px;
}

.voiceBtn {
    -moz-transform: scale(2, 2);
    -webkit-box-shadow: none;
    -webkit-transform: scale(2, 2);
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    color: transparent;
    cursor: pointer;
    transform: scale(2, 2);
    width: 20px;
}

div[data-role="editor-toolbar"] {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.dropdown-menu a { cursor: pointer; }

/** /bootstrap-wysiwyg **/

/** Select2 **/

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    min-height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #73879C;
    padding-top: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered { padding-top: 3px; }

.select2-container--default .select2-selection--single .select2-selection__arrow { height: 36px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    border: none;
    border-radius: 0;
    margin-top: 2px;
    padding: 3px 5px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple { border: 1px solid #ccc; }

/** /Select2 **/

/** Switchery **/

.switchery {
    height: 20px;
    width: 32px;
}

.switchery > small {
    height: 20px;
    width: 20px;
}

/** /Switchery **/

/** Normalize.css **/

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

/** /Normalize.css **/

/** Cropper **/

.cropper .img-container,
.cropper .img-preview {
    background-color: #f7f7f7;
    text-align: center;
    width: 100%;
}

.cropper .img-container {
    margin-bottom: 20px;
    max-height: 516px;
    min-height: 200px;
}

@media (min-width: 768px) {
    .cropper .img-container { min-height: 516px; }
}

.cropper .img-container > img { max-width: 100%; }

.cropper .docs-preview { margin-right: -15px; }

.cropper .img-preview {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.cropper .img-preview > img { max-width: 100%; }

.cropper .preview-lg {
    height: 148px;
    width: 263px;
}

.cropper .preview-md {
    height: 78px;
    width: 139px;
}

.cropper .preview-sm {
    height: 39px;
    width: 69px;
}

.cropper .preview-xs {
    height: 20px;
    margin-right: 0;
    width: 35px;
}

.cropper .docs-data > .input-group { margin-bottom: 10px; }

.cropper .docs-data > .input-group > label { min-width: 80px; }

.cropper .docs-data > .input-group > span { min-width: 50px; }

.cropper .docs-buttons > .btn,
.cropper .docs-buttons > .btn-group,
.cropper .docs-buttons > .form-control {
    margin-bottom: 10px;
    margin-right: 5px;
}

.cropper .docs-toggles > .btn,
.cropper .docs-toggles > .btn-group,
.cropper .docs-toggles > .dropdown { margin-bottom: 10px; }

.cropper .docs-tooltip {
    display: block;
    margin: -6px -12px;
    padding: 6px 12px;
}

.cropper .docs-tooltip > .icon {
    margin: 0 -3px;
    vertical-align: top;
}

.cropper .tooltip-inner { white-space: normal; }

.cropper .btn-upload .tooltip-inner,
.cropper .btn-toggle .tooltip-inner { white-space: nowrap; }

.cropper .btn-toggle { padding: 6px; }

.cropper .btn-toggle > .docs-tooltip {
    margin: -6px;
    padding: 6px;
}

@media (max-width: 400px) {
    .cropper .btn-group-crop { margin-right: -15px !important; }

    .cropper .btn-group-crop > .btn {
        padding-left: 5px;
        padding-right: 5px;
    }

    .cropper .btn-group-crop .docs-tooltip {
        margin-left: -5px;
        margin-right: -5px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.cropper .docs-options .dropdown-menu { width: 100%; }

.cropper .docs-options .dropdown-menu > li { padding: 3px 20px; }

.cropper .docs-options .dropdown-menu > li:hover { background-color: #f7f7f7; }

.cropper .docs-options .dropdown-menu > li > label { display: block; }

.cropper .docs-cropped .modal-body { text-align: center; }

.cropper .docs-cropped .modal-body > img,
.cropper .docs-cropped .modal-body > canvas { max-width: 100%; }

.cropper .docs-diagram .modal-dialog { max-width: 352px; }

.cropper .docs-cropped canvas { max-width: 100%; }

/** /Cropper **/

/** jQuery Smart Wizard  **/

.form_wizard .stepContainer {
    border: 0 solid #CCC;
    display: block;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    position: relative;
}

.wizard_horizontal ul.wizard_steps {
    display: table;
    list-style: none;
    margin: 0 0 20px;
    position: relative;
    width: 100%;
}

.wizard_horizontal ul.wizard_steps li {
    display: table-cell;
    text-align: center;
}

.wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
    -moz-opacity: 1;
    color: #666;
    display: block;
    filter: alpha(opacity=100);
    opacity: 1;
    position: relative;
}

.wizard_horizontal ul.wizard_steps li a:before {
    background: #ccc;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 4;
}

.wizard_horizontal ul.wizard_steps li a.disabled .step_no { background: #ccc; }

.wizard_horizontal ul.wizard_steps li a .step_no {
    border-radius: 100px;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 5px;
    position: relative;
    text-align: center;
    width: 40px;
    z-index: 5;
}

.wizard_horizontal ul.wizard_steps li a.selected:before, .step_no {
    background: #34495E;
    color: #fff;
}

.wizard_horizontal ul.wizard_steps li a.done:before, .wizard_horizontal ul.wizard_steps li a.done .step_no {
    background: #1ABB9C;
    color: #fff;
}

.wizard_horizontal ul.wizard_steps li:first-child a:before { left: 50%; }

.wizard_horizontal ul.wizard_steps li:last-child a:before {
    left: auto;
    right: 50%;
    width: 50%;
}

.wizard_verticle .stepContainer {
    float: left;
    padding: 0 10px;
    width: 80%;
}

.actionBar {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px 5px;
    text-align: right;
    width: 100%;
}

.actionBar .buttonDisabled {
    box-shadow: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: .65;
    pointer-events: none;
}

.actionBar a { margin: 0 3px; }

.wizard_verticle .wizard_content {
    float: left;
    padding-left: 20px;
    width: 80%;
}

.wizard_verticle ul.wizard_steps {
    display: table;
    float: left;
    list-style: none;
    margin: 0 0 20px;
    position: relative;
    width: 20%;
}

.wizard_verticle ul.wizard_steps li {
    display: list-item;
    text-align: center;
}

.wizard_verticle ul.wizard_steps li a { height: 80px; }

.wizard_verticle ul.wizard_steps li a:first-child { margin-top: 20px; }

.wizard_verticle ul.wizard_steps li a, .wizard_verticle ul.wizard_steps li:hover {
    -moz-opacity: 1;
    color: #666;
    display: block;
    filter: alpha(opacity=100);
    opacity: 1;
    position: relative;
}

.wizard_verticle ul.wizard_steps li a:before {
    background: #ccc;
    content: "";
    height: 100%;
    left: 49%;
    position: absolute;
    top: 20px;
    width: 4px;
    z-index: 4;
}

.wizard_verticle ul.wizard_steps li a.disabled .step_no { background: #ccc; }

.wizard_verticle ul.wizard_steps li a .step_no {
    border-radius: 100px;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 5px;
    position: relative;
    text-align: center;
    width: 40px;
    z-index: 5;
}

.wizard_verticle ul.wizard_steps li a.selected:before, .step_no {
    background: #34495E;
    color: #fff;
}

.wizard_verticle ul.wizard_steps li a.done:before, .wizard_verticle ul.wizard_steps li a.done .step_no {
    background: #1ABB9C;
    color: #fff;
}

.wizard_verticle ul.wizard_steps li:first-child a:before { left: 49%; }

.wizard_verticle ul.wizard_steps li:last-child a:before {
    left: 49%;
    left: auto;
    width: 0;
}

.form_wizard .loader { display: none; }

.form_wizard .msgBox { display: none; }

/** jQuery Smart Wizard  **/

/** bootstrap-progressbar  **/

.progress { border-radius: 0; }

.progress-bar-info { background-color: #3498DB; }

.progress-bar-success { background-color: #26B99A; }

.progress_summary .progress { margin: 5px 0 12px !important; }

.progress_summary .row { margin-bottom: 5px; }

.progress_summary .row .col-xs-2 { padding: 0; }

.progress_summary .more_info span {
    float: right;
    text-align: right;
}

.progress_summary .data span {
    float: right;
    text-align: right;
}

.progress_summary p {
    margin-bottom: 3px;
    width: 100%;
}

.progress_title .left {
    float: left;
    text-align: left;
}

.progress_title .right {
    float: right;
    font-weight: 300;
    text-align: right;
}

.progress.progress_sm {
    border-radius: 0;
    height: 10px !important;
    margin-bottom: 18px;
}

.progress.progress_sm .progress-bar { height: 10px !important; }

.dashboard_graph p { margin: 0 0 4px; }

ul.verticle_bars { width: 100%; }

ul.verticle_bars li {
    height: 200px;
    margin: 0;
    width: 23%;
}

.progress.vertical.progress_wide { width: 35px; }

/** bootstrap-progressbar  **/

/** PNotify **/

.alert-success {
    background-color: rgba(38, 185, 154, 0.88);
    border-color: rgba(38, 185, 154, 0.88);
    color: #ffffff;
}

.alert-info {
    background-color: rgba(52, 152, 219, 0.88);
    border-color: rgba(52, 152, 219, 0.88);
    color: #E9EDEF;
}

.alert-warning {
    background-color: rgba(243, 156, 18, 0.88);
    border-color: rgba(243, 156, 18, 0.88);
    color: #E9EDEF;
}

.alert-danger,
.alert-error {
    background-color: rgba(231, 76, 60, 0.88);
    border-color: rgba(231, 76, 60, 0.88);
    color: #E9EDEF;
}

.ui-pnotify.dark .ui-pnotify-container {
    background-color: rgba(52, 73, 94, 0.88);
    border-color: rgba(52, 73, 94, 0.88);
    color: #E9EDEF;
}

.custom-notifications {
    bottom: 0;
    float: right;
    margin: 15px;
    position: fixed;
    right: 0;
    width: 400px;
    z-index: 4000;
}

ul.notifications {
    display: block;
    float: right;
    margin-bottom: 7px;
    padding: 0;
    width: 100%;
}

.notifications li {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    float: right;
    margin: 3px;
    width: 36px;
}

.notifications li:last-child { margin-left: 0; }

.notifications a {
    display: block;
    padding: 9px 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.tabbed_notifications .text {
    border-radius: 7px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
    height: 140px;
    padding: 5px 15px;
}

.tabbed_notifications div p { display: inline-block; }

.tabbed_notifications h2 {
    display: block;
    float: left;
    font-weight: bold;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: 80%;
}

.tabbed_notifications .close {
    color: #E9EDEF;
    float: right;
    opacity: 1;
    padding: 5px;
}

/** /PNotify **/

/** bootstrap-daterangepicker **/

.daterangepicker.dropdown-menu {
    font-size: 13px;
    overflow: hidden;
    padding: 0;
}

.daterangepicker.picker_1 {
    background: #34495E;
    color: #ECF0F1;
}

.daterangepicker.picker_1 table.table-condensed thead tr:first-child { background: #1ABB9C; }

.daterangepicker table.table-condensed thead tr:first-child th {
    line-height: 28px;
    text-align: center;
}

.daterangepicker.picker_1 table.table-condensed thead tr { background: #213345; }

.daterangepicker table.table-condensed thead tr { line-height: 14px; }

.daterangepicker table.table-condensed tbody tr:first-child td { padding-top: 10px; }

.daterangepicker table.table-condensed th:first-child, .daterangepicker table.table-condensed td:first-child { padding-left: 12px; }

.daterangepicker table.table-condensed th:last-child, .daterangepicker table.table-condensed td:last-child { padding-right: 12px; }

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 5px 7px;
    text-align: center;
}

.daterangepicker table.table-condensed tbody tr:last-child td { padding-bottom: 10px; }

.daterangepicker.picker_2 table.table-condensed thead tr:first-child { color: inherit; }

.daterangepicker.picker_2 table.table-condensed thead tr { color: #1ABB9C; }

.daterangepicker.picker_3 table.table-condensed thead tr:first-child {
    background: #1ABB9C;
    color: #ECF0F1;
}

.daterangepicker.picker_4 table.table-condensed tbody td {
    background: #ECF0F1;
    border: 1px solid #fff;
    color: #34495E;
    padding: 4px 7px;
}

.daterangepicker.picker_4 table.table-condensed tbody td.active {
    background: #536A7F;
    color: #fff;
}

.daterangepicker.picker_4 table.table-condensed thead tr:first-child {
    background: #34495E;
    color: #ECF0F1;
}

.xdisplay_input {
    overflow: hidden;
    padding: 0;
    width: 240px;
}

.xdisplay {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    margin-bottom: 20px;
    overflow: hidden;
    width: 230px;
}

.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar, .daterangepicker.openscenter .ranges, .daterangepicker.openscenter .calendar { float: right; }

.daterangepicker table {
    margin: 0;
    width: 100%;
}

.daterangepicker td, .daterangepicker th {
    cursor: pointer;
    height: 20px;
    text-align: center;
    white-space: nowrap;
    width: 20px;
}

.daterangepicker td.off { color: #999; }

.daterangepicker td.disabled { color: #999; }

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background: #eee;
    color: #34495E;
}

.daterangepicker td.in-range {
    background: #E4E7EA;
    border-radius: 0;
}

.daterangepicker td.available + td.start-date { border-radius: 4px 0 0 4px; }

.daterangepicker td.in-range + td.end-date { border-radius: 0 4px 4px 0; }

.daterangepicker td.start-date.end-date { border-radius: 4px !important; }

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #536A7F;
    color: #fff;
}

.daterangepicker td.week, .daterangepicker th.week {
    color: #ccc;
    font-size: 80%;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
    border: 1px solid #ADB2B5;
    border-radius: 0px !important;
    cursor: default;
    font-size: 12px;
    height: auto;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 1px;
}

.daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%;
}

.daterangepicker select.yearselect { width: 40%; }

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.ampmselect {
    margin-bottom: 0;
    width: 50px;
}

.daterangepicker_start_input { float: left; }

.daterangepicker_end_input {
    float: left;
    padding-left: 11px;
}

.daterangepicker th.month { width: auto; }

.daterangepicker .daterangepicker_start_input label, .daterangepicker .daterangepicker_end_input label {
    color: #333;
    display: block;
    font-size: 11px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin-bottom: 2px;
    text-shadow: #fff 1px 1px 0px;
    text-transform: uppercase;
    width: 74px;
}

.daterangepicker .ranges input { font-size: 11px; }

.daterangepicker .ranges .input-mini {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    display: block;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    margin: 0 0 10px 0;
    padding: 0 6px;
    vertical-align: middle;
    width: 74px;
}

.daterangepicker .ranges .input-mini:hover { cursor: pointer; }

.daterangepicker .ranges ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.daterangepicker .ranges li {
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    color: #536A7F;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 8px;
    padding: 3px 12px;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
    background: #536A7F;
    border: 1px solid #536A7F;
    color: #fff;
}

.daterangepicker .calendar {
    display: none;
    max-width: 270px;
}

.daterangepicker.show-calendar .calendar { display: block; }

.daterangepicker .calendar.single .calendar-date { border: none; }

.daterangepicker.single .ranges, .daterangepicker.single .calendar { float: none; }

.daterangepicker .ranges {
    margin: 4px;
    text-align: left;
    width: 160px;
}

.daterangepicker .ranges .range_inputs > div { float: left; }

.daterangepicker .ranges .range_inputs > div:nth-child(2) { padding-left: 11px; }

.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
    float: left;
    margin: 4px;
}

.daterangepicker .icon {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}

/** bootstrap-daterangepicker **/

/** FullCalendar **/

.fc-state-default {
    background: #f5f5f5;
    color: #73879C;
}

.fc-state-down,
.fc-state-active {
    background: #ccc;
    color: #333;
}

/** /FullCalendar **/

/** Dropzone.js **/

.dropzone {
    border: 1px solid #e5e5e5;
    min-height: 300px;
}

/** /Dropzone.js **/