﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
<div id="themePanel" class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right top_search rightMargin">
        <div class="input-group">
            <input type="text" id="txtThemeSearch" placeholder=@Html.T("Search for...") class="form-control">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default">@Html.T("Search")</button>
            </span>
        </div>
    </div>
    <div id="widgetListPanel" class="col-md-12" data-bind="foreach: themes">
        <div class="col-md-6 col-sm-4 col-xs-12 profile_details">
            <div class="well profile_view">
                <div class="col-sm-12">
                    <h4 class="brief">
                        <i>
                            <label class="fa fa-square green" data-bind="visible:activeLabel "></label>
                            <label class="fa fa-square red" data-bind="visible:deActiveLabel "></label>
                        </i>
                    </h4>
                    <div class="left col-xs-7">
                        <h2>
                            <label data-bind="text:name"></label>
                        </h2>
                        <p>
                            <strong>
                                <label data-bind="visible:activeLabel ">@Html.T("Active Theme")</label>
                            </strong> <label ></label>
                        </p>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img data-bind="attr:{'src':previewImageUrl}" alt="" class="img-responsive"/>
                    </div>
                </div>
                <div class="col-xs-12 bottom text-center">
                    <div class="loadingContainerInner" data-bind="visible:isActivating">
                        <div class="loading-24 loading-ring loading-center"></div>
                    </div>
                    <a href="#" class="btn btn-primary btn-xs alignLeftWitMargin" data-bind="href:infoUrl">
                        <i class="fa fa-info-circle"></i> @Html.T("Information")
                    </a>
                    <a href="#" class="btn btn-success btn-xs alignRight" style="float: right" data-bind="click: changeStatus,visible:deActiveLabel">
                        <i class="fa fa-check"></i>@Html.T("Activate")</a>
                </div>
            </div>
        </div>
    </div>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
</div>
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/ThemeModel")
<script>
    $(document).ready(function() {
        var themeViewModel = new ThemesModel('@Url.Action(MVC.Admin.Theme.ActionNames.ThemeList, MVC.Admin.Theme.Name, new {area = Constants.DefaultArea})');
        ko.applyBindings(themeViewModel, document.getElementById('themePanel'));
        themeViewModel.loadData();

        $('#txtThemeSearch').on('input', function() {
            themeViewModel.loadData(this.value);
        });
    });
</script>