﻿@using System.Web.Optimization
@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@Styles.Render("~/AdminContent/dataTables-bootstrap")
@Styles.Render("~/AdminContent/responsive-bootstrap")
@Styles.Render("~/AdminContent/scroller-bootstrap")


<div id="emailTemplates" class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <table id="datatable-checkbox" class="table table-striped table-bordered jambo_table bulk_action">
                <thead>
                <tr>
                    <th class="nosort">@Html.T("Name")</th>
                    <th class="nosort">@Html.T("Title")</th>
                    <th class="nosort" style="width: 10%"></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: templateItems">
                <tr>
                    <td>
                        <label data-bind="text:name()"></label>
                    </td>
                    <td>
                        <label data-bind="text:title"></label>
                    </td>
                    <td>
                        <a href="#" class="btn btn-info btn-xs" data-bind="attr: {'href':editUrl}">
                            <i class="fa fa-pencil"></i> @Html.T("Edit")
                        </a>
                        <a href="#" class="btn btn-danger btn-xs" data-bind="click: function() { $root.showConfirmModal($data); }">
                            <i class="fa fa-trash-o"></i> @Html.T("Delete")
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
    <div data-bind="bootstrapModal:confirmModal" class="modal fade" id="confirmModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
</div>
<!--Dialog Helpers-->
@Oxd.RenderConfirmHelper()


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/dataTables-bootstrap")
@Scripts.Render("~/bundles/dataTables-keyTable")
@Scripts.Render("~/bundles/dataTables-responsive")
@Scripts.Render("~/bundles/responsive-bootstrap")
@Scripts.Render("~/bundles/datatables-scroller")
@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/EmailTemplatesModel")
@Html.GetJsonResources(new[] {"Admin"}, "EmailTmp")
<script>
    var $datatable;
    var pageSize = 10;
    var currentPage = 0;
    var filter = '';
    $(document).ready(function() {
        var templatesModel = new EmailTemplatesModel(
            '@Url.Action(MVC.Admin.EmailTemplate.ActionNames.EmailTemplateList, MVC.Admin.EmailTemplate.Name, new {area = Constants.DefaultArea})',
            '@Url.Action(MVC.Admin.EmailTemplate.ActionNames.DeleteEmailTemplate, MVC.Admin.EmailTemplate.Name, new {area = Constants.DefaultArea})');
        ko.applyBindings(templatesModel, document.getElementById('emailTemplates'));
        $datatable = $('#datatable-checkbox');
        $datatable
            .on('order.dt', function() {
            })
            .on('search.dt', function() {
                var value = $('.dataTables_filter input').val();
                templatesModel.actionFilter(value);
                templatesModel.actionCurrentPage(0);
                templatesModel.loadData(templatesModel.actionPageSize(), 0, templatesModel.actionFilter());
            })
            .on('page.dt', function() {
            })
            .dataTable({
                "bJQueryUI": false,
                "bAutoWidth": false,
                "oLanguage": {
                    "sEmptyTable": EmailTmp.No_Data, //when empty
                    "sSearch": "<span>" + EmailTmp.Search + ":</span> _INPUT_", //search
                    "sLengthMenu": "<span>" + EmailTmp.Showing + ":</span> _MENU_", //label
                    "oPaginate": { "sFirst": EmailTmp.First, "sLast": EmailTmp.Last, "sNext": EmailTmp.Next, "sPrevious": EmailTmp.Previous } //pagination
                },
                "columnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    }
                ]
            });
        $('select').change(function() {
            templatesModel.actionPageSize($(this).val());
            pagesViewModel.actionCurrentPage(0);
            templatesModel.loadData(templatesModel.actionPageSize, 0, templatesModel.actionFilter);
        });
    });
</script>