﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@Styles.Render("~/AdminContent/iCheckGreen")

@using (Html.BeginForm(MVC.Admin.EmailTemplate.ActionNames.UpdateEmailTemplate, MVC.Admin.EmailTemplate.Name, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Name") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="name" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Name" data-validate-length-range="6" data-validate-words="1" name="name" required="required" type="text">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
            @Html.T("Title") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="title" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Title" data-validate-length-range="6" data-validate-words="1" name="title" required="required" type="text">
        </div>
    </div>
    @Html.T("Template")
    <span class="required">*</span>
    <div id="wysiwygPanel" class="item form-group">
        <textarea id="template" name="template">@Model.Parameters.Template</textarea>
    </div>
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Update Email Template")</button>
            <a id="cancel" type="submit" href="@Url.Action(MVC.Admin.EmailTemplate.ActionNames.DisplayEmailTemplates, MVC.Admin.EmailTemplate.Name, new {area = Constants.DefaultArea})" class="btn btn-danger alignRight">
                <i class="fa fa-times"></i> @Html.T("Cancel")</a>
        </div>
    </div>
    <input type="hidden" name="Id" value='@Model.Parameters.Id'/>
}


<script type="text/javascript">
    var CKEDITOR_BASEPATH = '@Url.Content("~/Areas/Admin/Scripts/ckeditor/")';

</script>
@Scripts.Render("~/bundles/adminCkeditor")
<script>
    $(document).ready(function() {
        CKEDITOR.replace('template', {
        
        });
        CKEDITOR.config.extraPlugins = 'pastetext';
        CKEDITOR.config.forcePasteAsPlainText = true;
        CKEDITOR.config.skin = 'kama';
        CKEDITOR.config.filebrowserBrowseUrl = '/Oxide.Media/FileManager/DialogFileManager';
        CKEDITOR.config.filebrowserImageBrowseUrl = '/Oxide.Media/FileManager/DialogMediaManager';
    });
</script>