﻿@using System.Web.Optimization
@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
<div id="menuItems">
    <div class="alignRight">
        <a href="#" class="btn btn-primary" data-bind="attr: {'href': getAddParentUrl() }">
            <i class="fa fa-plus"></i> @Html.T("Add as Parent")
        </a>
        <a href="#" class="btn btn-primary" data-bind="attr: {'href': getAddUrl() }">
            <i class="fa fa-plus"></i> @Html.T("Add into Selected")</a>
        <a href="#" class="btn btn-primary" data-bind="attr: {'href': getEditUrl() }">
            <i class="fa fa-pencil"></i> @Html.T("Edit Selected")
        </a>
        <a href="#" class="btn btn-danger" data-bind="click: function() {$root.showModal();}">
            <i class="fa fa-trash-o"></i> @Html.T("Delete Selected")
        </a>
    </div>
    <ul data-bind="template: { name: 'nodeItem', foreach: nodes }"></ul>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
    <div data-bind="bootstrapModal:modal" class="modal fade" id="deleteConfirmModel" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
</div>
@Oxd.RenderConfirmHelper()
@Html.Partial(MVCOxideFundamentals.Shared.Views.ViewNames.Node)
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/MenuTree")
@Html.GetJsonResources(new[] {"Oxide.Fundamentals"}, "DisplayMenuItems")
<script>
    $(document).ready(function() {
        var treeViewx = new NodeView('@Url.Action("MenuItemList", "Menu", "Oxide.Fundamentals")', '@Model.Parameters.AddUrl', '@Model.Parameters.RemoveUrl', '@Model.Parameters.EditUrl');
        treeViewx.loadData('@Model.Parameters.MenuId');
        ko.applyBindings(treeViewx, document.getElementById('menuItems'));

    });
</script>