﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@Styles.Render("~/AdminContent/iCheckGreen")
@using (Html.BeginForm("UpdateMenu", "Menu", new {area = "Oxide.Fundamentals"}, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <span class="section">New Menu</span>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Name") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="name" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Name" data-validate-length-range="6" data-validate-words="1" name="name" required="required" type="text">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
            @Html.T("Title") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="title" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Title" data-validate-length-range="6" data-validate-words="1" name="title" required="required" type="text">
        </div>
    </div>
    <input type="hidden" name="Id" value='@Model.Parameters.Id'/>
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Update Menu")</button>
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-times"></i> @Html.T("Cancel")</button>
        </div>
    </div>
}