﻿@using System.Web.Optimization
@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@Styles.Render("~/AdminContent/iCheckGreen")
@using (Html.BeginForm("CreateMenuItem", "Menu", new {area = "Oxide.Fundamentals"}, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Name") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="name" required="required" type="text">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
            @Html.T("Title") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="title" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="title" required="required" type="text">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="LinkTypeSelected">
            <span>@Html.T("Menu Type")</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="width: 200px">
                @Html.DropDownList("linkTypeSelected", EnumHelper.GetSelectList(typeof (LinkTypes)), "Select Type", new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="openTypeSelected">
            <span>@Html.T("Link Open Type")</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="width: 200px">
                @Html.DropDownList("openTypeSelected", EnumHelper.GetSelectList(typeof (LinkOpenTypes)), "Select Type", new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="languageSelected">
            <span>@Html.T("Menu Language")</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="width: 200px">
                @Html.DropDownList("languageSelected", new SelectList(@Model.Parameters.LanguageSelectList, "Value", "Text", ""), new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contentSelecter">
            <span>@Html.T("Page")</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Oxd.RenderContentSelecter("selectedContents", "Page")
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="url">
            @Html.T("Url")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="url" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="title" type="text">
        </div>
    </div>
    <input type="hidden" id="menuId" name="menuId" value="@Model.Parameters.MenuId">
    <input type="hidden" id="parentId" name="parentId" value="@Model.Parameters.ParentId">
    <input type="hidden" id="top" name="top" value="@Model.Parameters.Top">
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Create Menu")</button>
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-times"></i> @Html.T("Cancel")</button>
        </div>
    </div>
}