﻿@using System.Web.Optimization
@using Oxide.Core.Helpers
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Models.Base
@using Oxide.Core.Syntax
<!-- Action Message -->
@{
    var modelx = TempData[Syntax.Keywords.RedirectionItem] as OxideModel;
    var redirectionId = Guid.NewGuid();
}
@if (modelx != null)
{
    if (modelx.SuccessMessage != string.Empty)
    {
        <h5 class="successMessage">@modelx.SuccessMessage </h5>
    }
    if (modelx.ErrorMessage != string.Empty)
    {
        <h5 class="errorMessage">@modelx.ErrorMessage </h5>
    }
}

<!-- /Action Message -->

@Styles.Render("~/AdminContent/iCheckGreen")

@using (Html.BeginForm(MVC.Admin.Redirection.ActionNames.UpdateRedirection, MVC.Admin.Redirection.Name, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
{
    <div id="@redirectionId">
        <span class="section">@Html.T("General Information")</span>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                @Html.T("Name") <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="name" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Name" data-validate-length-range="6" data-validate-words="1" name="name" required="required" type="text">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
                @Html.T("Title") <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="title" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Title" data-validate-length-range="6" data-validate-words="1" name="title" required="required" type="text">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="url">
                @Html.T("Url") <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="url" name="url" required="required" value="@Model.Parameters.Url" placeholder="main\examplepage" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="newUrl">
                @Html.T("New Url") <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="newUrl" name="newUrl" required="required" value="@Model.Parameters.NewUrl" placeholder="main\examplepage" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="statusCodeSelected">
                <span>@Html.T("Status Code")</span>
            </label>
            <div class="col-md-1 col-sm-4 col-xs-6">
                <div style="width: 200px">
                    @Html.DropDownList("statusCodeSelected", new SelectList(OxideUtils.GetRedirectionStatusList(), "Value", "Text", @Model.Parameters.StatusCodeSelected), new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="active">
                <span>@Html.T("Active")</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="active" value="true" name="active" type="checkbox" class="flat" @Model.Parameters.IsActive>
            </div>
        </div>
        <input type="hidden" name="Id" value='@Model.Parameters.Id' />
        <input type="hidden" id="pageUrl" name="pageUrl" value="@Model.Parameters.ReturUrl">
        <div class="ln_solid"></div>
        <div class="item form-group">
            <div class="col-md-6 col-md-offset-3">
                <button id="send" type="submit" class="btn btn-dark">
                    <i class="fa fa-check"></i> @Html.T("Update Redirection")
                </button>
                <a id="cancel" type="submit" href="@Url.Action(MVC.Admin.Redirection.ActionNames.Index, MVC.Admin.Redirection.Name, new {area = Constants.DefaultArea})" class="btn btn-danger alignRight">
                    <i class="fa fa-times"></i> @Html.T("Cancel")
                </a>
            </div>
        </div>
    </div>
}
