﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Models.Base
@using Oxide.Core.Syntax
<!-- Action Message -->
@{
    var modelx = TempData[Syntax.Keywords.RedirectionItem] as OxideModel;
    var redirectionId = Guid.NewGuid();
}
@if (modelx != null)
{
    if (modelx.SuccessMessage != string.Empty)
    {
        <h5 class="successMessage">@modelx.SuccessMessage </h5>
    }
    if (modelx.ErrorMessage != string.Empty)
    {
        <h5 class="errorMessage">@modelx.ErrorMessage </h5>
    }
}

<!-- /Action Message -->

<div class="item form-group">
    <div class="col-md-12">
        <a id="cancel" type="submit" href="@Url.Action(MVC.Admin.Redirection.ActionNames.NewRedireciton, MVC.Admin.Redirection.Name, new {area = Constants.DefaultArea})" class="btn btn-dark alignRight">
            <i class="fa fa-sitemap"></i> @Html.T("New Redirection")
        </a>
    </div>
</div>
@Oxd.RenderDataList("Redirection",
    Url.Action("EditRedirection", "Redirection", new { area = Constants.DefaultArea }),
    Url.Action("DeleteArticle", "Redirection", new { area = Constants.DefaultArea }), null,
    "Name,Title,StatusCode,Active")


