﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using (Html.BeginForm("UpdateSettings", "Settings", new {area = "Oxide.Media"}, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <div id="settingItems">
        <div class="col-md-12" data-bind="foreach: settings">
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" data-bind="text:title" for="name">
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="name" class="form-control col-md-7 col-xs-12" data-bind="attr:{id:key,name:key}, textInput:value">
                </div>
            </div>
        </div>
        <div class="cssload-container" data-bind="visible:isLoading">
            <div class="cssload-speeding-wheel"></div>
        </div>
    </div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Save Settings")
            </button>
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-times"></i> @Html.T("Cancel")</button>
        </div>
    </div>
}
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/SettingsModel")

<script>
    $(document).ready(function() {
        var settingsViewModel = new SettingsModel('@Model.Parameters');
        settingsViewModel.loadData();
        ko.applyBindings(settingsViewModel, document.getElementById('settingItems'));
    });
</script>