﻿<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@Model.Holder.Header</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@Model.Holder.Title</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @Model.Model
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>