﻿@using Oxide.Core.Syntax
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            @{ Html.RenderAction(MVC.Admin.Admin.ActionNames.RenderUserMenu, MVC.Admin.Admin.Name, new {area = Constants.DefaultArea}); }
        </nav>
    </div>
</div>