﻿@using System.Web.Optimization
@using Newtonsoft.Json
@{
    var jsonData = @Html.Raw(JsonConvert.SerializeObject(Model));
}
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu ">
    <div class="menu_section">
        <ul class="nav side-menu"></ul>
        <ul class="nav side-menu" data-bind="foreach: Menus">
            <li>
                <a>
                    <i data-bind="css:IconCss"></i> <label data-bind="text:Title"></label> <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu" data-bind="foreach: SubMenuItems">
                    <li>
                        <a data-bind="attr: {'href':UrlAddress}, text:Title,visible:!HasSubMenu()"></a>
                        <a data-bind="visible:HasSubMenu">
                            <label data-bind="text:Title"></label><span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu" data-bind="foreach: SubMenuItems,visible:HasSubMenu">
                            <li class="sub_menu">
                                <a data-bind="attr: {'href':UrlAddress}, text:Title"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/LeftMenuModel")
<script type="text/javascript">
    $(document).ready(function() {
        var viewModel = ko.mapping.fromJSON('@Html.Raw(jsonData)');
        ko.applyBindings(viewModel, document.getElementById('sidebar-menu'));
    });
</script>