﻿@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
<div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" href="@Url.Action(MVC.Admin.Settings.ActionNames.Index, MVC.Admin.Settings.Name, new {area = Constants.DefaultArea})" title="@Html.T("Settings")">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" onclick="toggleFullScreen()" title="@Html.T("Full Screen")" style="cursor: pointer">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="@Html.T("Inbox")" href="@Url.Action(MVC.Admin.Messages.ActionNames.Inbox, MVC.Admin.Messages.Name, new {area = Constants.DefaultArea})">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="@Html.T("Logout")" href="@Url.Action(MVC.Admin.Login.ActionNames.LogOut, MVC.Admin.Login.Name, new {area = Constants.DefaultArea})">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>