﻿@using Oxide.Core.Managers.ResourceManager
<div class="profile">
    <div class="profile_pic">
        @if (Model.ProfileImage != null)
        {
            <img src='@Model.UserProfileImageUrl' alt="@Model.UserRealName" class="img-circle profile_img" width="50" height="50">
        }
        else
        {
            <img src="/Areas/Admin/Content/Images/OxideSymbol.svg" alt="@Model.UserRealName" class="img-circle profile_img" width="50" height="50">
        }
    </div>
    <div class="profile_info">
        <span>@Html.T("Welcome")</span>
        <h2>@Model.UserRealName</h2>
    </div>
</div>