﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
<ul class="nav navbar-nav navbar-right">
    <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            @if (@Model.ProfileImage != null)
            {
                <img src='@Model.UserProfileImageUrl' alt="@Model.UserRealName" width="70" height="60">
                @Model.UserRealName
            }
            else
            {
                <img alt="@Model.UserRealName" width="70" height="60">
                @Model.UserRealName
            }

            <span class="fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li>
                <a href="@Url.Action(MVC.Admin.AdminUser.ActionNames.EditUser, MVC.Admin.AdminUser.Name, new {area = Constants.DefaultArea, adminUserId = @Model.Id})"> @Html.T("Profile") </a>
            </li>
            <li>
                <a id="send" type="submit" href="@Url.Action(MVC.Admin.Login.ActionNames.LogOut, MVC.Admin.Login.Name, new {area = Constants.DefaultArea})">
                    <i class="fa fa-sign-out pull-right"></i> @Html.T("Logout")</a>
            </li>
        </ul>
    </li>

    <li id="messageMenu" role="presentation" class="dropdown">
        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <!-- ko if: totalUnreadMessages()>0 -->
            <span class="badge bg-green" data-bind="text:totalUnreadMessages()"></span>
            <!-- /ko -->
        </a>
        <ul class="dropdown-menu list-unstyled msg_list" role="menu" data-bind="foreach:quickMessages">
            <li>
                <a data-bind="attr: { 'href': '@Url.Action(MVC.Admin.Messages.ActionNames.Inbox, MVC.Admin.Messages.Name, new {area = Constants.DefaultArea})/' + id() }">
                    <span class="image"><img width="50" height="30" data-bind="attr:{src:senderUserImage}" /></span>
                    <span>
                            <span data-bind="text:senderUser">John Smith</span>
                            <span class="time" data-bind="text:moment(dateTime()).format('DD.MM.YYYY HH:mm')"></span>
                        </span>
                    <span class="message" data-bind="text:title">
              </span>
                </a>
            </li>

            <!-- ko if: $parent.lastId()==id() -->
            <li>
                <a href="@Url.Action(MVC.Admin.Messages.ActionNames.Inbox, MVC.Admin.Messages.Name, new {area = Constants.DefaultArea})">
                    <strong>@Html.T("See All Messages")</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
            <!-- /ko -->
        </ul>
    </li>
</ul>


@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/QuickMessagesModel")

<script>
    var $datatable;
    var pageSize = 10;
    var currentPage = 0;
    var filter = '';
    $(document).ready(function() {
        var quickMessageModel = new QuickMessagesModel(
            '@Url.Action(MVC.Admin.Messages.ActionNames.QuickMessageList, MVC.Admin.Messages.Name, new {area = Constants.DefaultArea})');
        ko.applyBindings(quickMessageModel, document.getElementById('messageMenu'));
        quickMessageModel.loadQuickMessagePackage();

    });
</script>