﻿@using Oxide.Core.Managers.ResourceManager
<h2>@Html.T("You dont have permission to complette this action!")</h2>
<p>
    @Html.T("You dont have permission to complette this action!"),
    @Html.T("please contact with your administrator to extend your permission to complete this action.")

</p>