﻿@using Oxide.Core.Managers.ResourceManager
@using (Html.BeginForm(MVC.Admin.Login.ActionNames.Login, MVC.Admin.Login.Name, FormMethod.Post, new {area = "Admin", @class = "form-horizontal form-label-left"}))
{
    @Html.AntiForgeryToken()
    <div class="login">
        <div class="login_wrapper">
            <div class="animate form login_form">
                <div class="">
                    <form>
                        <img class="loginLogo" src="/Areas/Admin/Content/Images/OxideSymbol.svg" alt="Oxide Cms">
                        <h1>@Html.T("Login")</h1>
                        @if (@Model != null)
                        {
                            <h5 class="errorMessage">@Model.Message</h5>
                        }
                        <div class="item form-group">
                            @if (@Model != null)
                            {
                                <input type="text" class="form-control" placeholder=@Html.T("Username") name="userName" value="@Model.UserName" required=""/>
                            }
                            else
                            {
                                <input type="text" class="form-control" placeholder=@Html.T("Username") name="userName" required=""/>
                            }
                        </div>
                        <div class="item form-group">
                            <input type="password" class="form-control" placeholder=@Html.T("Password") name="password" required=""/>
                        </div>
                        <div class="item form-group">
                            <button id="send" type="submit" class="btn btn-default submit">@Html.T("Login")</button>
                            <a class="reset_pass" href="#">@Html.T("Lost your password?")</a>
                        </div>
                        @if (@Model != null)
                        {
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl"/>
                        }
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}