﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
<a id="send" type="submit" href="@Url.Action("NewAuditSetting", "Audit", new {area = "Oxide.Fundamentals"})" class="btn btn-dark alignRight">
    <i class="fa fa-check"></i> @Html.T("Create New Audit Setting")</a>


@Oxd.RenderDataList("AuditSettings", Url.Action("EditAuditSetting", "Audit", new {area = "Oxide.Fundamentals"}), Url.Action("DeleteAuditSetting", "Audit", new {area = "Oxide.Fundamentals"}), null, "Name,Title", null, false)