﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@Styles.Render("~/AdminContent/dataTables-bootstrap")
@Styles.Render("~/AdminContent/responsive-bootstrap")
@Styles.Render("~/AdminContent/scroller-bootstrap")
<div id="auditItems" class="col-md-12 col-sm-12 col-xs-12">

    <button id="send" type="submit" data-bind="click:clearAllAudits.bind()" class="btn btn-danger alignRight">
        <i class="fa fa-trash-o"></i> @Html.T("Clear All Audits")</button>

    <div class="x_panel">
        <div class="x_content">
            <table id="datatable-checkbox" class="table table-striped table-bordered jambo_table bulk_action">
                <thead>
                <tr>
                    <th class="nosort">@Html.T("Content Type")</th>
                    <th class="nosort">@Html.T("Event")</th>
                    <th class="nosort">@Html.T("Content Name")</th>
                    <th class="nosort">@Html.T("Action Time")</th>
                    <th class="nosort">@Html.T("User")</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: auditItems">
                <tr>
                    <td>
                        <label data-bind="text:contentType"></label>
                    </td>
                    <td>
                        <label data-bind="text:name"></label>
                    </td>
                    <td>
                        <label data-bind="text:title"></label>
                    </td>
                    <td>
                        <label data-bind="text:moment(actionDateTime()).format('DD.MM.YYYY HH:mm:ss') "></label>
                    </td>
                    <td>
                        <label data-bind="text:adminUser"></label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/dataTables-bootstrap")
@Scripts.Render("~/bundles/dataTables-keyTable")
@Scripts.Render("~/bundles/dataTables-responsive")
@Scripts.Render("~/bundles/responsive-bootstrap")
@Scripts.Render("~/bundles/datatables-scroller")
@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/AuditItemsModel")
@Html.GetJsonResources(new[] {"Oxide.Fundamentals"}, "Audit")

<script>
    var $datatable;
    var pageSize = 10;
    var currentPage = 0;
    var filter = '';
    $(document).ready(function() {
        var pagesViewModel = new AuditItemsModel(
            '@Url.Action("GetAudits", "Audit", new {area = "Oxide.Fundamentals"})',
            '@Url.Action("DeleteAudits", "Audit", new {area = "Oxide.Fundamentals"})');
        ko.applyBindings(pagesViewModel, document.getElementById('auditItems'));
        $datatable = $('#datatable-checkbox');
        $datatable
            .on('order.dt', function() {
            })
            .on('search.dt', function() {
                var value = $('.dataTables_filter input').val();
                pagesViewModel.actionFilter(value);
                pagesViewModel.actionCurrentPage(0);
                pagesViewModel.loadData(pagesViewModel.actionPageSize(), 0, pagesViewModel.actionFilter());
            })
            .on('page.dt', function() {
            })
            .dataTable({
                "bJQueryUI": false,
                "bAutoWidth": false,
                "oLanguage": {
                    "sEmptyTable": Audit.No_Data, //when empty
                    "sSearch": "<span>" + Audit.Search + ":</span> _INPUT_", //search
                    "sLengthMenu": "<span>" + Audit.Showing + ":</span> _MENU_", //label
                    "oPaginate": { "sFirst": Audit.First, "sLast": Audit.Last, "sNext": Audit.Next, "sPrevious": Audit.Previous } //pagination
                },
                "columnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    }
                ]
            });
        $('select').change(function() {
            pagesViewModel.actionPageSize($(this).val());
            pagesViewModel.loadData(pagesViewModel.actionPageSize, 0, pagesViewModel.actionFilter);
        });
    });
</script>