﻿@using Oxide.Core.Helpers
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Fundamentals.ViewModels.Audit
@{
    AuditSettingEditorViewModel auditModel = @Model.Parameters;
}

@using (Html.BeginForm("UpdateAuditSetting", "Audit", new {area = "Oxide.Fundamentals"}, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contentSelected">
            @Html.T("Content Type") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @(auditModel != null ? Html.DropDownList("contentSelected", new SelectList(@auditModel.Models, "Value", "Text", @auditModel.ContentSelected), new {@class = "form-control"}) : Html.DropDownList("contentSelected", new SelectList(@auditModel.Models, "Value", "Text", ""), new {@class = "form-control"}))

        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="eventType">
            @Html.T("Event Type") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="width: 200px">
                @if (auditModel != null)
                {
                    @Html.DropDownList("eventType", OxideUtils.GetEventTypesWithTranslations(auditModel.EventSelected.ToString()), new {@class = "form-control"})
                }


            </div>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="active">
            <span>@Html.T("Active")</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="active" value="true" name="active" type="checkbox" class="flat" @auditModel.IsActive>
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Update Audit Setting")</button>
            <a id="cancel" type="submit" href="@Url.Action("AuditSettings", "Audit", new {area = "Oxide.Fundamentals"})" class="btn btn-danger alignRight">
                <i class="fa fa-times"></i> @Html.T("Cancel")</a>
        </div>
    </div>
    <input type="hidden" name="Id" value='@auditModel.Id'/>
}