﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
@using (Html.BeginForm("SelectDialogFile", "FileManager", new {area = "Oxide.Media"}, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    @Oxd.RenderContentSelecter("fileSelecter", "File")
    <input type="hidden" id="funcNum" name="funcNum" value="">
    <div class="item form-group">
        <div class="alignright">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Insert")</button>
        </div>
    </div>
}
<script>
    $(document).ready(function() {
        var funcNum = @(Request["CKEditorFuncNum"] + ";");
        $('#funcNum').val(funcNum);
    });
</script>