﻿@using System.Web.Optimization
@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
@Styles.Render("~/AdminContent/dropzone")
@Styles.Render("~/AdminContent/dataTables-bootstrap")
@Styles.Render("~/AdminContent/responsive-bootstrap")
@Styles.Render("~/AdminContent/switch")
<div class="block" id="browser">

    <div class="row">
        <!--Directory Browser Toobar-->
        <div id="directoryBrowser" class="col-sm-3">
            <div class="fileManagerToolbar">
                <div class="btn-group fullWidth">
                    <button class="btn btn-sm btn-primary" data-bind="click: function() { $root.showCreateDirectoryDialog(); }" type="button">
                        <i class="fa fa-plus"></i> @Html.T("Create Directory")</button>
                    <button class="btn btn-sm btn-default" data-bind="click: function() { $root.showRenameDialog(); }" type="button" data-placement="top" data-toggle="tooltip" data-original-title="@Html.T("Rename")">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button class="btn btn-sm btn-default" data-bind="click: function() { $root.showConfirmModal(); }" type="button" data-placement="top" data-toggle="tooltip" data-original-title="@Html.T("Delete")">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
                <div class="btn-group fullWidth paddingTop pathLabel">
                    <span>@Html.T("Path:") </span> <label data-bind="text:$root.directoryLabel()"></label>
                </div>
            </div>
            <div class="tree well tags">
                <ul class="startTree" data-bind="template: { name: 'directoryItem', foreach: directories }"></ul>
            </div>

        </div>
        <!--File Browser Toobar-->
        <div id="fileBrowser" class="col-sm-9">

            <div class="fileManagerToolbar">
                <div class="btn-group fullWidth">
                    <button class="btn btn-sm btn-primary" data-bind="click: function() { $root.showUploadPanel(); }" type="button">
                        <i class="fa fa-cloud-upload"></i> @Html.T("Upload")</button>
                    <button class="btn btn-sm btn-primary" data-bind="click: function() { $root.downloadFiles(); }" type="button" data-placement="top" data-toggle="tooltip" data-original-title="@Html.T("Download")">
                        <i class="fa fa-cloud-download"></i> @Html.T("Download")
                    </button>
                    <button class="btn btn-sm btn-default" data-bind="click: function() { $root.displayFile(); }" type="button" data-placement="top" data-toggle="tooltip" data-original-title="@Html.T("Display")">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button class="btn btn-sm btn-default" data-bind="click: function() { $root.showRenameFileDialog(); }" type="button" data-placement="top" data-toggle="tooltip" data-original-title="@Html.T("Rename")">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button class="btn btn-sm btn-default" data-bind="click: function() { $root.showFileDeleteConfirmModal(); }" type="button" data-placement="top" data-toggle="tooltip" data-original-title="@Html.T("Delete")">
                        <i class="fa fa-trash-o"></i>
                    </button>
                    <button class="btn btn-sm btn-default" data-bind="click: function() { $root.showArchiveFileDialog(); }" type="button" data-placement="top" data-toggle="tooltip" data-original-title="@Html.T("Archive")">
                        <i class="fa fa-archive"></i>
                    </button>
                    <button class="btn btn-sm btn-default" data-bind="click: function() { $root.extractArchiveFile(); }" type="button" data-placement="top" data-toggle="tooltip" data-original-title="@Html.T("Extract Archive")">
                        <i class="fa fa-external-link"></i>
                    </button>
                    <button class="btn btn-sm btn-default" data-bind="click: function() { $root.keepForCopy(); }" type="button" data-placement="top" data-toggle="tooltip" data-original-title="@Html.T("Copy")">
                        <i class="fa fa-copy"></i>
                    </button>
                    <button class="btn btn-sm btn-default" data-bind="click: function() { $root.keepForCut(); }" type="button" data-placement="top" data-toggle="tooltip" data-original-title="@Html.T("Cut")">
                        <i class="fa fa-cut"></i>
                    </button>
                    <button class="btn btn-sm btn-default" data-bind="click: function() { $root.pasteFiles(); }" type="button" data-placement="top" data-toggle="tooltip" data-original-title="@Html.T("Paste") ">
                        <i class="fa fa-paste"></i>
                    </button>

                    <button class="btn btn-sm btn-default" data-bind="click: function() { $root.showSelectedFilesModal(); }" type="button" data-placement="top" data-toggle="tooltip" data-original-title="@Html.T("Selected Files")">
                        <i class="fa fa-list"></i>
                    </button>
                    <button class="btn btn-sm btn-danger" data-bind="click: function() { $root.showFileDeleteAllConfirmModal(); }" type="button" data-placement="top" data-toggle="tooltip" data-original-title="@Html.T("Delete All Files")">
                        <i class="fa fa-trash-o"></i> @Html.T("Delete All Files")
                    </button>
                    <span class="multiSelection">
                        <label   >
                            @Html.T("Multi Selection")
                            <input type="checkbox" name="multiSelection" checked data-size="mini"  data-bind="multiSelection: $root.multiSelectionOption" data-on-text=@Html.T("On") data-off-text=@Html.T("Off")>
                        </label>
                    </span>
                </div>
                <div class="btn-group fullWidth paddingTop pathLabel">
                    <span>@Html.T("Total Selected File(s):") </span> <label data-bind="text:$root.selectedFiles().length"></label>
                </div>
            </div>
            <div class="browser">
                <table id="datatable-checkbox" class="table table-striped table-bordered jambo_table bulk_action">
                    <thead>
                    <tr>
                        <th class="nosort fileIcon"></th>
                        <th class="nosort">@Html.T("Name")</th>
                        <th class="nosort">@Html.T("Size")</th>
                        <th class="nosort">@Html.T("Type")</th>
                        <th class="nosort">@Html.T("Last Modify")</th>
                    </tr>
                    <tbody data-bind="foreach: files">
                    <tr data-bind="attr: { id: 'row_' + id()},click: function() { $root.selectFile(this); }" class="fileRow">
                        <td>
                            <span class="iconHolder"><span data-bind="attr: {class: imageCss}"> </span></span></td>
                        <td>
                            <label data-bind="text:name"></label>
                        </td>
                        <td>
                            <label data-bind="text:mB"></label>
                        </td>
                        <td>
                            <label data-bind="text:type"></label>
                        </td>
                        <td>
                            <label data-bind="text:moment(modifyDateTime()).startOf('minute').fromNow()"></label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--Dialogs-->
            <div data-bind="bootstrapInputModal:newDirectoryModal" class="modal fade" id="renameConfirmModel" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
            <div data-bind="bootstrapInputModal:renameDirectoryModel" class="modal fade" id="renameDirectoryModel" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
            <div data-bind="bootstrapModal:confirmModal" class="modal fade" id="confirmModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
            <div data-bind="uploadModal:uploadPanel" class="modal fade" id="uploadPanel" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
            <div data-bind="selectedFilesModal:selectedFilesModal" class="modal fade" id="selectedFilesModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
            <div data-bind="bootstrapInputModal:renameFileModel" class="modal fade" id="renameFileModel" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
            <div data-bind="bootstrapModal:fileDeleteConfirmModal" class="modal fade" id="fileDeleteConfirmModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
            <div data-bind="bootstrapModal:fileDeleteAllConfirmModal" class="modal fade" id="fileDeleteAllConfirmModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
            <div data-bind="bootstrapInputModal:archiveInputModal" class="modal fade" id="archiveInputModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"></div>
        </div>
        <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
            <div class="loading-128 loading-ring loading-center"></div>
        </div>
    </div>
    @Html.GetJsonResources(new[] {"Oxide.Media"}, "FileManager")
    <!--Dialog Helpers-->
    @Oxd.RenderConfirmHelper()
    @Html.Partial(MVC.Admin.Templates.Views.ViewNames.Input)
    @Html.Partial("DirectoryItem")
    @Html.Partial("Upload")
    @Html.Partial("SelectedFiles")
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/bootstraptree")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/bundles/fileBrowser")
@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/dataTables-bootstrap")
@Scripts.Render("~/bundles/dataTables-keyTable")
@Scripts.Render("~/bundles/dataTables-responsive")
@Scripts.Render("~/bundles/responsive-bootstrap")
@Scripts.Render("~/bundles/dropzone")
@Scripts.Render("~/bundles/bootstrap-switch")
@Scripts.Render("~/bundles/moment")
<script>
    var $datatable;
    var pageSize = 10;
    var currentPage = 0;
    var filter = '';
    $(document).ready(function() {
        var directoryViewModel = new DirectoriesViewModel(
            '@Url.Action("DirectoryList", "FileManager", "Oxide.Media")',
            '@Url.Action("CreateDirectory", "FileManager", "Oxide.Media")',
            '@Url.Action("DeleteDirectory", "FileManager", "Oxide.Media")',
            '@Url.Action("RenameDirectory", "FileManager", "Oxide.Media")',
            '@Url.Action("FileList", "FileManager", "Oxide.Media")',
            '@Url.Action("RenameFile", "FileManager", "Oxide.Media")',
            '@Url.Action("DeleteFiles", "FileManager", "Oxide.Media")',
            '@Url.Action("PasteFiles", "FileManager", "Oxide.Media")',
            '@Url.Action("DeleteAllFiles", "FileManager", "Oxide.Media")',
            '@Url.Action("ArchiveFiles", "FileManager", "Oxide.Media")',
            '@Url.Action("ExtractArchiveFile", "FileManager", "Oxide.Media")',
            '@Url.Action("DownloadFiles", "FileManager", "Oxide.Media")',
            '@Url.Action("DirectorySubList", "FileManager", "Oxide.Media")'
        );

        ko.applyBindings(directoryViewModel, document.getElementById('browser'));
        directoryViewModel.loadDataDirectory();

        var $datatable = $('#datatable-checkbox');
        $datatable
            .on('order.dt', function() {
            })
            .on('search.dt', function() {
                var value = $('.dataTables_filter input').val();
                directoryViewModel.actionFilter(value);
                directoryViewModel.actionCurrentPage(0);
                directoryViewModel.loadFiles(directoryViewModel.actionPageSize(), 0, directoryViewModel.actionFilter());
            })
            .on('page.dt', function() {
            })
            .dataTable({
                "bJQueryUI": false,
                "bAutoWidth": false,
                "oLanguage": {
                    "sEmptyTable": FileManager.No_Data, //when empty
                    "sSearch": "<span>" + FileManager.Search + ":</span> _INPUT_", //search
                    "sLengthMenu": "<span>" + FileManager.Showing + ":</span> _MENU_", //label
                    "oPaginate": { "sFirst": FileManager.First, "sLast": FileManager.Last, "sNext": FileManager.Next, "sPrevious": FileManager.Previous } //pagination
                },
                "columnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    }
                ]
            });
        $('select').change(function() {
            directoryViewModel.actionPageSize($(this).val());
            directoryViewModel.loadFiles(directoryViewModel.actionPageSize, 0, directoryViewModel.actionFilter);
        });
        $("[name='multiSelection']").bootstrapSwitch();
    });
</script>