﻿<!-- Modal template -->
<script id="folderItem" type="text/html">
    <li>
        <span class="node-toggle" data-bind="visible: $data.expanded, click: $data.toggle">&ndash;</span>
        <span class="node-toggle" data-bind="visible: $data.collapsed, click: $data.toggle">+</span>
        <span class="node-label" data-bind="text: $data.Title, click: $root.selected"></span>

        <div data-bind="if: $data.expanded">
            <ul data-bind="template: {name: 'folderItem', foreach: $data.Subfolders}"></ul>
        </div>
    </li>
</script>