﻿<!-- Modal template -->
<script id="selectedFilesPanelTemplate" class="modal-dialog" type="text/html">
    <div class="modal-dialog x_content">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click:close" aria-hidden="true">&times;</button>
                <h4 data-bind="html:header" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p data-bind="html:message"></p>
                <div id="uplPanel" class="x_content">
                    <table id="datatable-checkbox-selectedFiles" class="table table-striped table-bordered jambo_table bulk_action">
                        <thead>
                        <tr>
                            <th class="nosort fileIcon"></th>
                            <th class="nosort">
                                <span data-bin="text:lblName"></span></th>
                            <th class="nosort">Size</th>
                            <th class="nosort">Type</th>
                            <th class="nosort">Last Modify</th>
                            <th class="nosort"></th>
                        </tr>
                        <tbody data-bind="foreach: selectedFiles">
                        <tr class="fileRow">
                            <td>
                                <span class="iconHolder"><span data-bind="attr: {class: imageCss}"> </span></span></td>
                            <td>
                                <label data-bind="text:name"></label>
                            </td>
                            <td>
                                <label data-bind="text:mB"></label>
                            </td>
                            <td>
                                <label data-bind="text:type"></label>
                            </td>
                            <td>
                                <label data-bind="text:moment(modifyDateTime()).startOf('minute').fromNow()"></label>
                            </td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs" data-bind="click: function() { $root.selectFile($data); }">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click:close,html:closeLabel">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click:close,html:primaryLabel" id="save-changes">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</script>