﻿<!-- Modal template -->
<script id="uploadPanelTemplate" class="modal-dialog" type="text/html">
    <div class="modal-dialog x_content">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click:close" aria-hidden="true">&times;</button>
                <h4 data-bind="html:header" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p data-bind="html:message"></p>
                <div id="uplPanel" class="x_content">
                    <br/><br/>
                    @using (Html.BeginForm("UploadFile", "FileManager", new {area = "Oxide.Media"}, FormMethod.Post, new {@class = "dropzone"}))
                    {
                        <input type="hidden" id="parentId" name="parentId" data-bind="value:parentId"/>
                    }
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click:close,html:closeLabel">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click:close,html:primaryLabel" id="save-changes">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</script>