﻿/* Team Widget */
#team .text-muted { color: #777; }

#team a, #team a.active, #team a:active, #team a:focus, #team a:hover { outline: 0; }

#team a.active, #team a:active, #team a:focus, #team a:hover { color: #fec503; }

section#team { padding: 100px 0; }

section#team h2.section-heading {
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 0;
}

section#team h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 75px;
    text-transform: none;
}

@media (min-width: 768px) {
    section#team { padding: 150px 0; }
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    border: 7px solid #fff;
    margin: 0 auto;
}

.team-member h4 {
    margin-bottom: 0;
    margin-top: 25px;
    text-transform: none;
}

.team-member p { margin-top: 0; }

#team ul.social-buttons { margin-bottom: 0; }

#team ul.social-buttons li a {
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    background-color: #222;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    outline: 0;
    transition: all .3s;
    width: 40px;
}

#team ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover { background-color: #fed136; }


/* Team Grid*/

.team-grid {
    background-color: #fff;
    color: #313437;
}

.team-grid p { color: #7d8285; }

.team-grid h2 {
    color: inherit;
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
}

@media (max-width: 767px) {
    .team-grid h2 {
        font-size: 24px;
        margin-bottom: 25px;
        padding-top: 25px;
    }
}

.team-grid .intro {
    font-size: 16px;
    margin: 0 auto;
    max-width: 500px;
}

.team-grid .intro p { margin-bottom: 0; }

.team-grid .people { padding: 50px 0; }

.team-grid .item { margin-bottom: 30px; }

.team-grid .item .box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.team-grid .item .cover {
    background-color: rgba(31, 148, 255, 0.75);
    color: #fff;
    height: 100%;
    left: 0;
    opacity: 0;
    padding-top: 80px;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    top: 0;
    transition: opacity 0.15s ease-in;
    width: 100%;
}

.team-grid .item:hover .cover { opacity: 1; }

.team-grid .item .name {
    font-weight: bold;
    margin-bottom: 8px;
}

.team-grid .item .title {
    color: #bbd8fb;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.team-grid .social { font-size: 18px; }

.team-grid .social a {
    color: inherit;
    display: inline-block;
    margin: 0 10px;
    opacity: 0.7;
}

.team-grid .social a:hover { opacity: 1; }


/*Team Boxed */

.team-boxed {
    background-color: #eef4f7;
    color: #313437;
}

.team-boxed p { color: #7d8285; }

.team-boxed h2 {
    color: inherit;
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
}

@media (max-width: 767px) {
    .team-boxed h2 {
        font-size: 24px;
        margin-bottom: 25px;
        padding-top: 25px;
    }
}

.team-boxed .intro {
    font-size: 16px;
    margin: 0 auto;
    max-width: 500px;
}

.team-boxed .intro p { margin-bottom: 0; }

.team-boxed .people { padding: 50px 0; }

.team-boxed .item { text-align: center; }

.team-boxed .item .box {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
}

.team-boxed .item .name {
    color: inherit;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 28px;
}

.team-boxed .item .title {
    color: #d0d0d0;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.team-boxed .item .description {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.team-boxed .item img { max-width: 160px; }

.team-boxed .social {
    color: #a2a8ae;
    font-size: 18px;
}

.team-boxed .social a {
    color: inherit;
    display: inline-block;
    margin: 0 10px;
    opacity: 0.7;
}

.team-boxed .social a:hover { opacity: 1; }


/* Team Clean */

.team-clean {
    background-color: #fff;
    color: #313437;
}

.team-clean p { color: #7d8285; }

.team-clean h2 {
    color: inherit;
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
}

@media (max-width: 767px) {
    .team-clean h2 {
        font-size: 24px;
        margin-bottom: 25px;
        padding-top: 25px;
    }
}

.team-clean .intro {
    font-size: 16px;
    margin: 0 auto;
    max-width: 500px;
}

.team-clean .intro p { margin-bottom: 0; }

.team-clean .people { padding-bottom: 40px; }

.team-clean .item {
    padding-top: 50px;
    text-align: center;
}

.team-clean .item .name {
    color: inherit;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 28px;
}

.team-clean .item .title {
    color: #d0d0d0;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.team-clean .item .description {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.team-clean .item img { max-width: 160px; }

.team-clean .social {
    color: #a2a8ae;
    font-size: 18px;
}

.team-clean .social a {
    color: inherit;
    display: inline-block;
    margin: 0 10px;
    opacity: 0.7;
}

.team-clean .social a:hover { opacity: 1; }


/*Timeline Widget*/

#section-timeline .text-muted { color: #777; }

section#section-timeline { padding: 100px 0; }

section#section-timeline h2.section-heading {
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 0;
}

section#section-timeline h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 75px;
    text-transform: none;
}

@media (min-width: 768px) {
    section#section-timeline { padding: 150px 0; }
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline:before {
    background-color: #f1f1f1;
    bottom: 0;
    content: "";
    left: 40px;
    margin-left: -1.5px;
    position: absolute;
    top: 0;
    width: 2px;
}

.timeline > li {
    margin-bottom: 50px;
    min-height: 50px;
    position: relative;
}

.timeline > li:after, .timeline > li:before {
    content: " ";
    display: table;
}

.timeline > li:after { clear: both; }

.timeline > li .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left;
    width: 100%;
}

.timeline > li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li .timeline-image {
    background-color: #fed136;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    color: #fff;
    height: 80px;
    left: 0;
    margin-left: 0;
    position: absolute;
    text-align: center;
    width: 80px;
    z-index: 100;
}

.timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li:last-child { margin-bottom: 0; }

.timeline .timeline-heading h4 {
    color: inherit;
    margin-top: 0;
}

.timeline .timeline-heading h4.subheading { text-transform: none; }

.timeline .timeline-body > p, .timeline .timeline-body > ul { margin-bottom: 0; }

@media (min-width: 768px) {
    .timeline:before { left: 50%; }
}

@media (min-width: 768px) {
    .timeline > li {
        margin-bottom: 100px;
        min-height: 100px;
    }
}

@media (min-width: 768px) {
    .timeline > li .timeline-panel {
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right;
        width: 41%;
    }
}

@media (min-width: 768px) {
    .timeline > li .timeline-image {
        height: 100px;
        left: 50%;
        margin-left: -50px;
        width: 100px;
    }
}

@media (min-width: 768px) {
    .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }
}

@media (min-width: 768px) {
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .timeline > li .timeline-panel, .timeline > li.timeline-inverted > .timeline-panel { padding: 0 20px 20px; }
}

@media (min-width: 992px) {
    .timeline > li { min-height: 150px; }
}

@media (min-width: 992px) {
    .timeline > li .timeline-image {
        height: 150px;
        margin-left: -75px;
        width: 150px;
    }
}

@media (min-width: 992px) {
    .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px;
    }
}

@media (min-width: 1200px) {
    .timeline > li { min-height: 170px; }
}

@media (min-width: 1200px) {
    .timeline > li .timeline-panel { padding: 0 20px 20px 100px; }
}

@media (min-width: 1200px) {
    .timeline > li .timeline-image {
        height: 170px;
        margin-left: -85px;
        width: 170px;
    }
}

@media (min-width: 1200px) {
    .timeline > li .timeline-image h4 { margin-top: 40px; }
}

@media (min-width: 1200px) {
    .timeline > li.timeline-inverted > .timeline-panel { padding: 0 100px 20px 20px; }
}

.timeline .list-group-item {
    background-color: inherit;
    border: none;
    margin-bottom: 0;
}

/* User Registiaration Form*/

.register-photo { padding: 80px 0; }

.register-photo .image-holder {
    background: url(meeting.jpg);
    background-size: cover;
    display: table-cell;
    width: auto;
}

.register-photo .form-container {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    display: table;
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}

.register-photo form {
    background-color: #ffffff;
    color: #505e6c;
    display: table-cell;
    padding: 40px 60px;
    width: 400px;
}

@media (max-width: 991px) {
    .register-photo form { padding: 40px; }
}

.register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.register-photo form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    height: 40px;
    outline: none;
    text-indent: 6px;
}

.register-photo form .checkbox {
    font-size: 13px;
    line-height: 20px;
}

.register-photo form .btn-primary {
    background: #f4476b;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    margin-top: 35px;
    outline: none !important;
    padding: 11px;
    text-shadow: none;
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active { background: #eb3b60; }

.register-photo form .btn-primary:active { transform: translateY(1px); }

.register-photo form .already {
    color: #6f7a85;
    display: block;
    font-size: 12px;
    opacity: 0.9;
    text-align: center;
    text-decoration: none;
}

.register-photo form .displayLicense {
    position: relative;
    top: -7px;
}


/*Common*/

.alignLeft { float: left; }

.alignRight { float: right; }

.successMessage { color: #1ABB9C; }

.errorMessage { color: #d43f3a; }

/*Login*/

.login-clean { }

.login-clean form {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    color: #505e6c;
    margin: 0 auto;
    max-width: 320px;
    padding: 40px;
    width: 90%;
}

.login-clean .illustration {
    -ms-background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 15px;
    display: block;
    height: 120px;
    margin: 0 auto;
    max-width: 320px;
    padding: 0 0 40px;
    position: relative;
    text-align: center;
    width: 90%;
}

.login-clean form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    height: 42px;
    outline: none;
    text-indent: 8px;
}

.login-clean form .btn-primary {
    background: #f4476b;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    margin-top: 26px;
    outline: none !important;
    padding: 11px;
    text-shadow: none;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active { background: #eb3b60; }

.login-clean form .btn-primary:active { transform: translateY(1px); }

.login-clean form .forgot {
    color: #6f7a85;
    display: block;
    font-size: 12px;
    opacity: 0.9;
    text-align: center;
    text-decoration: none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
    opacity: 1;
    text-decoration: none;
}


/*Contact Clean*/

.contact-clean { padding: 80px 0; }

@media (max-width: 767px) {
    .contact-clean { padding: 20px 0; }
}

.contact-clean form {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    color: #505e6c;
    margin: 0 auto;
    max-width: 480px;
    padding: 40px;
    width: 90%;
}

@media (max-width: 767px) {
    .contact-clean form { padding: 30px; }
}

.contact-clean h2 {
    color: inherit;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 36px;
    margin-top: 5px;
}

.contact-clean .form-group:last-child { margin-bottom: 5px; }

.contact-clean form .form-control {
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    color: inherit;
    height: 42px;
    outline: none;
    padding-left: 12px;
}

.contact-clean form .form-control:focus { border: 1px solid #b2b2b2; }

.contact-clean form textarea.form-control {
    max-height: 260px;
    min-height: 100px;
    padding-top: 10px;
    resize: vertical;
}

.contact-clean form .form-control-feedback {
    height: 42px;
    line-height: 42px;
}

.contact-clean form .help-block {
    font-size: 13px;
    margin-top: 8px;
}

.contact-clean form .btn {
    background: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 1;
    opacity: 0.9;
    outline: none !important;
    padding: 16px 32px;
    text-shadow: none;
    text-transform: uppercase;
}

.contact-clean form .btn:hover { opacity: 1; }

.contact-clean form .btn:active { transform: translateY(1px); }

.contact-clean form .btn-primary {
    background-color: #055ada !important;
    color: #fff;
    margin-top: 15px;
}

/*Profile Widget*/

.userImg {
    display: block;
    height: 200px;
    position: relative;
    width: 200px;
}

.updateButton { float: right; }

.btn-file {
    overflow: hidden;
    position: relative;
}

.btn-file input[type=file] {
    background: white;
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    outline: none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/*Comments*/

.commentsContainer {
    padding-bottom: 15px;
    padding-top: 15px;
}

.testimonials-clean {
    background-color: #eef4f7;
    color: #313437;
}

.testimonials-clean p { color: #7d8285; }

.testimonials-clean h2 {
    color: inherit;
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
}

@media (max-width: 767px) {
    .testimonials-clean h2 {
        font-size: 24px;
        margin-bottom: 25px;
        padding-top: 25px;
    }
}

.testimonials-clean .intro {
    font-size: 16px;
    margin: 0 auto;
    max-width: 100%;
}

.testimonials-clean .intro p { margin-bottom: 0; }

.testimonials-clean .people { padding: 0 0 0; }

.testimonials-clean .item { margin-bottom: 32px; }

@media (min-width: 768px) {
    .testimonials-clean .item { height: auto; }
}

.testimonials-clean .item .box {
    background-color: #fff;
    padding: 30px;
    position: relative;
}

.testimonials-clean .item .box:after {
    border: 15px solid transparent;
    border-top-color: #fff;
    border-width: 12px 15px;
    bottom: -24px;
    content: '';
    height: 0;
    left: 30px;
    position: absolute;
    width: 0;
}

.testimonials-clean .item .author {
    margin-top: 28px;
    padding-left: 25px;
}

.testimonials-clean .item .name {
    color: inherit;
    font-weight: bold;
    margin-bottom: 2px;
}

.testimonials-clean .item .title {
    color: #9da9ae;
    font-size: 13px;
}

.testimonials-clean .item .description {
    font-size: 15px;
    margin-bottom: 0;
}

.testimonials-clean .item img {
    float: left;
    height: 50px;
    margin-right: 12px;
    margin-top: -5px;
    max-height: 50px;
    max-width: 50px;
}

.messageHolder {
    display: block;
    padding-bottom: 50px;
    position: relative;
}

.alignRight { text-align: right }

.padding-Top-15 { padding-top: 15px; }

.messageBox {
    margin: 10px;
    width: 100%;
}