﻿@using Oxide.Core.Managers.ResourceManager
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
        @Html.T("Widget Head Title")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="name" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Name" data-validate-length-range="6" data-validate-words="1" name="name" type="text">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
        @Html.T("Widget Sub Title")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="title" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Title" data-validate-length-range="6" data-validate-words="1" name="title" type="text">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="maxCommentsToDisplay">
        @Html.T("Display First Max Comments Number") <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="maxCommentsToDisplay" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.MaxCommentsToDisplay" data-validate-length-range="6" data-validate-words="1" name="maxCommentsToDisplay" type="number" required="required">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="loginRequired">
        <span>@Html.T("Login Required")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="loginRequired" value="true" name="loginRequired" type="checkbox" class="flat" @Model.Parameters.IsLoginRequired>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="approveRequired">
        <span>@Html.T("Approve Required")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="approveRequired" value="true" name="approveRequired" type="checkbox" class="flat" @Model.Parameters.IsApproveRequired>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pleaseLoginMessage">
        @Html.T("Please Login Message")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <textarea id="pleaseLoginMessage" name="pleaseLoginMessage" class="form-control col-md-7 col-xs-12">@Model.Parameters.PleaseLoginMessage</textarea>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstCommentMessage">
        @Html.T("Be First Comment Message")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <textarea id="firstCommentMessage" name="firstCommentMessage" class="form-control col-md-7 col-xs-12">@Model.Parameters.FirstCommentMessage</textarea>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="afterCommentMessage">
        @Html.T("After Comment Message")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <textarea id="afterCommentMessage" name="afterCommentMessage" class="form-control col-md-7 col-xs-12">@Model.Parameters.AfterCommentMessage</textarea>
    </div>
</div>