﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mediaSelecter">
        @Html.T("Form Image")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if ((Model.Parameters.ImageId != 0))
        {
            @Oxd.RenderMediaSelecter("mediaSelecter", false, @Model.Parameters.ImageId.ToString())
        }
        else
        {
            @Oxd.RenderMediaSelecter("mediaSelecter")
        }

    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="passwordResetPage">
        @Html.T("Password Reset Page")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if ((Model.Parameters.ResetPasswordPageId != 0))
        {
            @Oxd.RenderContentSelecter("passwordResetPage", "Page", null, false, @Model.Parameters.ResetPasswordPageId.ToString())
        }
        else
        {
            @Oxd.RenderContentSelecter("passwordResetPage", "Page")
        }

    </div>
</div>