﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="loginPage">
        @Html.T("Login Page")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if ((Model.Parameters.LoginPageId != 0))
        {
            @Oxd.RenderContentSelecter("loginPage", "Page", null, false, @Model.Parameters.LoginPageId.ToString())
        }
        else
        {
            @Oxd.RenderContentSelecter("loginPage", "Page")
        }

    </div>
</div>