﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
        @Html.T("Widget Head Title")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="name" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Name" data-validate-length-range="6" data-validate-words="1" name="name" type="text">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
        @Html.T("Widget Info")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="title" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Title" data-validate-length-range="6" data-validate-words="1" name="title" type="text">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="recoveryEmail">
        @Html.T("Recovery Email")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if ((Model.Parameters.EmailId != 0))
        {
            @Oxd.RenderContentSelecter("recoveryEmail", "EmailTemplate", null, false, @Model.Parameters.EmailId.ToString())
        }
        else
        {
            @Oxd.RenderContentSelecter("recoveryEmail", "EmailTemplate")
        }

    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validMinutes">
        @Html.T("Valid Minutes For Recovery") <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="validMinutes" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.ValidMinutes" data-validate-length-range="6" data-validate-words="1" name="validMinutes" type="number" required="required">
    </div>
</div>