﻿@using Oxide.Core.Engines
@using Oxide.Core.Helpers
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Extra.Keywords
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
        @Html.T("Widget Head Title")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="name" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Name" data-validate-length-range="6" data-validate-words="1" name="name" type="text">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
        @Html.T("Widget Sub Title")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="title" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Title" data-validate-length-range="6" data-validate-words="1" name="title"type="text">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="information">
        @Html.T("Information")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <textarea id="information" name="information" class="form-control col-md-7 col-xs-12">@Model.Parameters.Information</textarea>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="widgetStyle">
        <span>@Html.T("Widget Style")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div style="width: 200px">
            @if ((Model.Parameters.Type != null))
            {
                @Html.DropDownList("widgetStyle", new SelectList(OxideUtils.GetEnumListWithTranslaions(typeof (Keys.TeamWidgetStyle)), "Value", "Text", @Model.Parameters.Type), new {@class = "form-control"})
            }
            else
            {
                @Html.DropDownList("widgetStyle", OxideUtils.GetEnumListWithTranslaions(typeof (Keys.TeamWidgetStyle)), @Html.T("Select Style"), new {@class = "form-control"})
            }
        </div>
    </div>
</div>
<div class="item form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if ((Model.Parameters.TeamMemberItems != ""))
        {
            @Oxd.RenderMediaContentSelecter("memberSelecter", "TeamMemberItem", "ImageId", "MemberName", null, true, @Model.Parameters.TeamMemberItems, "Info")
        }
        else
        {
            @Oxd.RenderMediaContentSelecter("memberSelecter", "TeamMemberItem", "ImageId", "MemberName", null, true, null, "Info")
        }

    </div>
</div>