﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Extra.Models.Timeline
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
        @Html.T("Widget Head Title")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="name" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Name" data-validate-length-range="6" data-validate-words="1" name="name" type="text">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
        @Html.T("Widget Sub Title")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="title" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Title" data-validate-length-range="6" data-validate-words="1" name="title"type="text">
    </div>
</div>
<div class="item form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if ((Model.Parameters.TimelineItems != ""))
        {
            @Oxd.RenderMediaContentSelecter("memberSelecter", typeof (TimelineItem).Name, "ImageId", "Name", null, true, @Model.Parameters.TimelineItems, "Title")
        }
        else
        {
            @Oxd.RenderMediaContentSelecter("memberSelecter", typeof (TimelineItem).Name, "ImageId", "Name", null, true, null, "Title")
        }

    </div>
</div>