﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
        @Html.T("Widget Head Title")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="title" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Name" data-validate-length-range="6" data-validate-words="1" name="title" type="text">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mediaSelecter">
        @Html.T("Form Image")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if ((Model.Parameters.ImageId != 0))
        {
            @Oxd.RenderMediaSelecter("mediaSelecter", false, @Model.Parameters.ImageId.ToString())
        }
        else
        {
            @Oxd.RenderMediaSelecter("mediaSelecter")
        }

    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="license">
        @Html.T("License")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <textarea id="license" name="license" class="form-control col-md-7 col-xs-12">@Model.Parameters.License</textarea>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="showLicense">
        <span>@Html.T("Show License")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="showLicense" value="true" name="showLicense" type="checkbox" class="flat" @Model.Parameters.IsShowLicense>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sendConfirmationEmail">
        <span>@Html.T("Send Confirmation Email")</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="sendConfirmationEmail" value="true" name="sendConfirmationEmail" type="checkbox" class="flat" @Model.Parameters.IsSendConfirmation>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="confirmationPage">
        @Html.T("Confirmation Page")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if ((Model.Parameters.ConfirmationPageId != 0))
        {
            @Oxd.RenderContentSelecter("confirmationPage", "Page", null, false, @Model.Parameters.ConfirmationPageId.ToString())
        }
        else
        {
            @Oxd.RenderContentSelecter("confirmationPage", "Page")
        }

    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="confirmationPage">
        @Html.T("Confirmation Sent Page")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if ((Model.Parameters.ConfirmationEmailSentPageId != 0))
        {
            @Oxd.RenderContentSelecter("confirmationSentPage", "Page", null, false, @Model.Parameters.ConfirmationEmailSentPageId.ToString())
        }
        else
        {
            @Oxd.RenderContentSelecter("confirmationSentPage", "Page")
        }

    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="loginPage">
        @Html.T("Login Page")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if ((Model.Parameters.LoginPageId != 0))
        {
            @Oxd.RenderContentSelecter("loginPage", "Page", null, false, @Model.Parameters.LoginPageId.ToString())
        }
        else
        {
            @Oxd.RenderContentSelecter("loginPage", "Page")
        }

    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="confirmationEmail">
        @Html.T("Confirmation Email")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if ((Model.Parameters.ConfirmationEmailId != 0))
        {
            @Oxd.RenderContentSelecter("confirmationEmail", "EmailTemplate", null, false, @Model.Parameters.ConfirmationEmailId.ToString())
        }
        else
        {
            @Oxd.RenderContentSelecter("confirmationEmail", "EmailTemplate")
        }

    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validDays">
        @Html.T("Valid Days For Confirmation") <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="validDays" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.ValidDays" data-validate-length-range="6" data-validate-words="1" name="validDays" type="number" required="required">
    </div>
</div>