﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
        @Html.T("Widget Head Title")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input id="title" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Name" data-validate-length-range="6" data-validate-words="1" name="title" type="text">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mediaSelecter">
        @Html.T("Form Image")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if ((Model.Parameters.ImageId != 0))
        {
            @Oxd.RenderMediaSelecter("mediaSelecter", false, @Model.Parameters.ImageId.ToString())
        }
        else
        {
            @Oxd.RenderMediaSelecter("mediaSelecter")
        }

    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="message">
        @Html.T("Message")
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <textarea id="message" name="message" class="form-control col-md-7 col-xs-12">@Model.Parameters.Message</textarea>
    </div>
</div>