/*
Copyright (c) 2003-2012, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

.cke_skin_v2 .cke_tpl_list {
    background-color: #fff;
    border: #dcdcdc 2px solid;
    height: 220px;
    overflow: auto;
    width: 100%;
}

.cke_skin_v2 .cke_tpl_item {
    border: #eee 1px solid;
    margin: 5px;
    padding: 7px;
    *width: 88%;
}

.cke_skin_v2 .cke_tpl_preview {
    border-collapse: separate;
    text-indent: 0;
    width: 100%;
}

.cke_skin_v2 .cke_tpl_preview td {
    padding: 2px;
    vertical-align: middle;
}

.cke_skin_v2 .cke_tpl_preview .cke_tpl_preview_img { width: 100px; }

.cke_skin_v2 .cke_tpl_preview span { white-space: normal; }

.cke_skin_v2 .cke_tpl_title { font-weight: bold; }

.cke_skin_v2 .cke_tpl_list a:active .cke_tpl_item, .cke_skin_v2 .cke_tpl_list a:hover .cke_tpl_item, .cke_skin_v2 .cke_tpl_list a:focus .cke_tpl_item {
    background-color: #fffacd !important;
    border: #f93 1px solid !important;
}

.cke_skin_v2 .cke_tpl_list a:active *, .cke_skin_v2 .cke_tpl_list a:hover *, .cke_skin_v2 .cke_tpl_list a:focus * { cursor: pointer; }

.cke_skin_v2 .cke_browser_ie6 .cke_tpl_list a:active, .cke_skin_v2 .cke_browser_ie6 .cke_tpl_list a:hover, .cke_skin_v2 .cke_browser_ie6 .cke_tpl_list a:focus { background-position: 0 0; }

.cke_skin_v2 .cke_tpl_list a:active .cke_tpl_item, .cke_skin_v2 .cke_tpl_list a:hover .cke_tpl_item, .cke_skin_v2 .cke_tpl_list a:focus .cke_tpl_item { border-width: 3px; }

.cke_skin_v2 .cke_tpl_empty, .cke_tpl_loading {
    padding: 5px;
    text-align: center;
}