﻿@using Oxide.Core.Engines
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Models.Base
@using Oxide.Extra.Keywords
<!-- Action Message -->
@{
    var modelx = TempData[Keys.TeamMember] as OxideModel;
}
@if (modelx != null)
{
    if (modelx.SuccessMessage != string.Empty)
    {
        <h5 class="successMessage">@modelx.SuccessMessage </h5>
    }
    if (modelx.ErrorMessage != string.Empty)
    {
        <h5 class="errorMessage">@modelx.ErrorMessage </h5>
    }
}
<!-- /Action Message -->
@using (Html.BeginForm("UpdateTeamMember", "TeamMember", new {area = "Oxide.Extra"}, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="memberName">
            @Html.T("Team Member Name") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="memberName" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.MemberName" data-validate-length-range="6" data-validate-words="1" name="memberName" required="required" type="text">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="info">
            @Html.T("Info") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="info" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.Info" data-validate-length-range="6" data-validate-words="1" name="info" type="text">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">
            @Html.T("Description") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea id="description" name="description" class="form-control col-md-7 col-xs-12">@Model.Parameters.Description</textarea>
        </div>
    </div>
    <div class="item form-group">
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if ((Model.Parameters.ImageId != null))
            {
                @Oxd.RenderMediaSelecter("mediaSelecter", false, @Model.Parameters.ImageId.ToString())
            }
            else
            {
                @Oxd.RenderMediaSelecter("mediaSelecter")
            }

        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="faceBook">
            @Html.T("Facebook")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="faceBook" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.FacebookLink" data-validate-length-range="6" data-validate-words="1" name="faceBook" type="text">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="twiter">
            @Html.T("Twiter")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="twiter" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.TwiterLink" data-validate-length-range="6" data-validate-words="1" name="twiter" type="text">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="linkedIn">
            @Html.T("LinkedIn")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="linkedIn" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.LinkedInLink" data-validate-length-range="6" data-validate-words="1" name="linkedIn" type="text">
        </div>
    </div>
    <input type="hidden" id="pageUrl" name="pageUrl" value="@Model.Parameters.ActiveUrl">
    <input type="hidden" id="id" name="id" value="@Model.Parameters.Id">
    <button id="send" type="submit" class="btn btn-dark right">
        <i class="fa fa-check"></i> @Html.T("Update")
    </button>
}