﻿@using System.Web.Optimization
@using Oxide.Core.Extesions
@{
    var commentListId = Guid.NewGuid();
}
@Bundler.RenderStyles("~/OxideExtra/oxideextra", new { property = "" })
<div id="@commentListId" class="commentsContainer">
    <div class="testimonials-clean">
        <div class="intro">
            <h2 class="text-center">Testimonials </h2>
            <p class="text-center">Our customers love us! Read what they have to say below. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            <br/>
        </div>
        <div class="messageHolder">
            <form method="post">
                <div class="form-group">
                    <textarea data-bind="value:newComment" class="form-control messageBox" rows="4" name="message" placeholder="Message"></textarea>
                </div>
                <div class="form-group alignRight">
                    <button class="btn btn-primary right" type="submit" data-bind="click:saveComment">Send</button>
                </div>

            </form>
        </div>

        <div class="container" data-bind="foreach: comments">
            <div class="row people">
                <div class="col-md-12 col-sm-12 item">
                    <div class="box">
                        <p class="description" data-bind="text:comment"></p>
                    </div>
                    <div class="author">
                        <img class="img-circle" data-bind="attr:{src:userPicture}"/>
                        <h5 class="name" data-bind="text:userName"></h5>
                        <p class="title" data-bind="text:moment(dateTime()).format('DD.MM.YYYY HH:mm:ss')"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group alignRight padding-Top-15">
        <button class="btn btn-primary right" type="submit" data-bind="click:saveComment">Show More</button>
    </div>
</div>

@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/CommentsWidgetModel")
<script>
    var $datatable;
    var pageSize = 10;
    var currentPage = 0;
    var filter = '';
    $(document).ready(function() {
        var commentsWidgetModel = new CommentsWidgetModel(
            '@Url.Action("CommentsList", "Comments", new {area = "Oxide.Extra"})',
            '@Url.Action("SaveComment", "Comments", new {area = "Oxide.Extra"})',
            '@Url.Action("DeleteComment", "Comments", new {area = "Oxide.Extra"})',
            '@Url.Action("UpdateComment", "Comments", new {area = "Oxide.Extra"})',
            @Model.Parameters.Key);
        ko.applyBindings(commentsWidgetModel, document.getElementById('@commentListId'));
        commentsWidgetModel.loadComments(@Model.Parameters.MaxCommentsToDisplay, 0);
    });
</script>