﻿@using System.Web.Optimization
@using Oxide.Core.Extesions
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Models.Base
@using Oxide.Extra.Keywords
@Bundler.RenderStyles("~/OxideExtra/oxideextra", new { property = "" })

<!-- Action Message -->
@{
    var oxideMessageModel = Session[Keys.LoginWidget] as OxideModel;
    Session[Keys.LoginWidget] = null;
}
@if (!Model.IsLogined)
{
    <div class="login-clean">


        @using (Html.BeginForm("Login", "User", new {area = "Oxide.Extra"}, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
        {
            @Html.AntiForgeryToken()
            <form method="post">
                @if (@Model.ImageUrl != string.Empty)
                {
                    <div class="illustration" style="background-image: url('@Model.ImageUrl')"></div>
                }
                @if (oxideMessageModel != null)
                {
                    if (oxideMessageModel.SuccessMessage != string.Empty)
                    {
                        <h5 class="successMessage text-center">@oxideMessageModel.SuccessMessage </h5>
                    }
                    if (oxideMessageModel.ErrorMessage != string.Empty)
                    {
                        <h5 class="errorMessage text-center">@oxideMessageModel.ErrorMessage </h5>
                    }
                }
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="@Html.T("Email")" required="required"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="@Html.T("Password")" required="required"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">@Html.T("Log In")</button>
                </div>
                <a href="@Model.ResetPasswordPageUrl" class="already">@Html.T("Forgot your email or password?")</a>
                <input type="hidden" id="pageUrl" name="pageUrl" value="@Model.ActiveUrl">
                <input type="hidden" id="uniqeHash" name="uniqeHash" value="@Model.UniqeHash">
            </form>
        }
    </div>
}
else
{
    <div class="login-clean">


        @using (Html.BeginForm("LogOut", "User", FormMethod.Post, new {@area = "Oxide.Exra", @class = "form-horizontal form-label-left"}))
        {
            <div class="form-group">
                @if (@Model.UserImage != string.Empty)
                {
                    <div class="illustration" style="background-image: url('@Model.UserImage')"></div>
                }
                <h5>
                    @Html.T("User:") <strong>@Model.UserName</strong>
                </h5>
                <button class="btn btn-primary btn-block" type="submit">@Html.T("Sign Out")</button>
            </div>
            <input type="hidden" id="url" name="url" value="@Model.ActiveUrl">
        }
    </div>
}