﻿@using System.Web.Optimization
@using Oxide.Core.Engines
@using Oxide.Core.Extesions
@using Oxide.Core.Managers.ResourceManager
@Bundler.RenderStyles("~/OxideExtra/oxideextra", new { property = "" })
@if (Model.Status == 0)
{
    <div class="contact-clean">
        @using (Html.BeginForm("ResetPassword", "User", new {area = "Oxide.Extra"}, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
        {
            <form id="passwordRecovery">
                <h2 class="text-center">@Model.Name</h2>
                <div id="divMain" class="form-group has-success has-feedback">
                    <h5 class="text-center">@Model.Title</h5>
                    <input class="form-control" type="email" id="email" name="email" placeholder=@Html.T("Email") required="required"/>
                    <div class="form-group">
                        <a class="btn btn-primary btn-block" onclick="sendRecoveryEmail()">@Html.T("Recovery")</a>
                    </div>
                </div>

                <div id="divCode" class="form-group has-success has-feedback">
                    <h5 class="text-center">@Html.T("Please enter the recovery code which you received via email")</h5>
                    <input class="form-control" type="text" id="recoveryCode" name="recoveryCode" placeholder=@Html.T("Recovery Code") required="required"/>
                    <a class="btn btn-primary btn-block" onclick="valideCode()">@Html.T("Validate")</a>
                </div>
                <div id="divPassword" class="form-group has-success has-feedback">
                    <h5 class="text-center">@Html.T("Please enter your new password")</h5>
                    <div class="form-group">
                        <input class="form-control" type="password" id="password" name="password" placeholder=@Html.T("Password") required="required"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" id="passwordRepeat" name="passwordRepeat" placeholder=@Html.T("Password (Repeat)") required="required"/>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">@Html.T("Reset")</button>
                    <input type="hidden" id="pageUrl" name="pageUrl" value="@Model.ActiveUrl">
                    <input type="hidden" id="uniqeHash" name="uniqeHash" value="@Model.UniqeHash">
                    <input type="hidden" id="emailId" name="emailId" value="@Model.EmailId">
                </div>

            </form>
        }
    </div>
    @Html.GetJsonResources(new[] {"Oxide.Extra"}, "PasswordReset")
    <script>

        var emailRecoveryUrl = '@Url.Action("SendRecoveryEmail", "User", new {area = "Oxide.Extra"})';
        var recoveryCodeValideUrl = "";

        function sendRecoveryEmail() {
            var emailAddress = $('#email').val();
            var emailid = $('#emailId').val();
            var uniqeHash = $('#uniqeHash').val();
            if (emailAddress === "") {
                $("#email").focus();
                return;
            }
            $.ajax({
                url: emailRecoveryUrl,
                data: { email: emailAddress, emailId: emailid, uniqeHash: uniqeHash },
                success: function(data) {
                    if (data.success) {
                        $("#divCode").fadeIn("slow", function() {
                            recoveryCodeValideUrl = '@Url.Action("ValideRecoveryCode", "User", new {area = "Oxide.Extra"})';
                        });
                    }
                }
            });
        }

        function valideCode() {
            var recoveryCode = $('#recoveryCode').val();
            var emailAddress = $('#email').val();
            $.ajax({
                url: recoveryCodeValideUrl,
                data: { email: emailAddress, recoveryCode: recoveryCode },
                success: function(data) {
                    if (data.success) {
                        $("#divPassword").fadeIn("slow", function() {
                        });
                    }
                }
            });
        }

        var password = document.getElementById("password"), confirm_password = document.getElementById("passwordRepeat");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity(PasswordReset.Passwords_Don_t_Match);
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        $(document).ready(function() {
            $("#divCode").css("display", "none");
            $("#divPassword").css("display", "none");
            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
        });
    </script>
}
else if (Model.Status == 1)
{
    @Oxd.RenderError(@Html.T("Password Changed!"), @Html.T("Your password updated!"))
    ;
}
else if (Model.Status == 2)
{
    @Oxd.RenderError(@Html.T("Oops something went wrong!"), @Html.T("Bad request, or invalida data, not possıble to process the request,please try again.Your password did not change"))
    ;
}