﻿@using System.Web.Optimization
@using Oxide.Core.Extesions
@Bundler.RenderStyles("~/DefaultTheme/fontawesome", new { property = "" })
@Bundler.RenderStyles("~/OxideExtra/oxideextra", new { property = "" })
<section id="team" class="bg-light-gray">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">@Model.Name</h2>
            <h3 class="section-subheading text-muted">@Model.Title</h3>
        </div>
    </div>
    <div class="row">
        @foreach (var member in Model.TeamMemberItems)
        {
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="img-circle img-responsive" src="@member.ImagePath"/>
                    <h4>@member.MemberName</h4>
                    <p class="text-muted">@member.Info</p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="@member.TwiterLink">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="@member.FacebookLink">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="@member.LinkedInLink">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="large text-muted">@Model.Information</p>
        </div>
    </div>
</section>