﻿@using System.Web.Optimization
@using Oxide.Core.Extesions
@Bundler.RenderStyles("~/DefaultTheme/fontawesome", new { property = "" })
@Bundler.RenderStyles("~/OxideExtra/oxideextra", new { property = "" })
<div class="team-boxed">

    <div class="intro">
        <h2 class="text-center">@Model.Name </h2>
        <p class="text-center">@Model.Title</p>
    </div>
    <div class="row people">
        @foreach (var member in Model.TeamMemberItems)
        {
            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <img class="img-circle" src="@member.ImagePath"/>
                    <h3 class="name">@member.MemberName</h3>
                    <p class="title">@member.Info</p>
                    <p class="description">@member.Description</p>
                    <div class="social">
                        <a href="@member.TwiterLink">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="@member.FacebookLink">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="@member.LinkedInLink">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>