﻿@using System.Web.Optimization
@using Oxide.Core.Extesions
@Bundler.RenderStyles("~/DefaultTheme/fontawesome", new { property = "" })
@Bundler.RenderStyles("~/OxideExtra/oxideextra", new { property = "" })
<div class="team-grid">
    <div class="intro">
        <h2 class="section-heading">@Model.Name</h2>
        <h3 class="section-subheading text-muted">@Model.Title</h3>
    </div>
    <div class="row people">
        @foreach (var member in Model.TeamMemberItems)
        {
            <div class="col-md-3 col-sm-4 item">
                <div class="box" style="background-image: url('@member.BackgorundImagePath')">
                    <div class="cover">
                        <h3 class="name">@member.MemberName</h3>
                        <p class="title">@member.Info</p>
                        <div class="social">
                            <a href="@member.TwiterLink">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="@member.FacebookLink">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="@member.LinkedInLink">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>