﻿@using System.Web.Optimization
@using Oxide.Core.Extesions
@Bundler.RenderStyles("~/DefaultTheme/fontawesome", new { property = "" })
@Bundler.RenderStyles("~/OxideExtra/oxideextra", new { property = "" })
@{
    var left = true;
}
<section id="section-timeline">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">@Model.Name</h2>
            <h3 class="section-subheading text-muted">@Model.Title</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group timeline">

                @foreach (var timelineItem in Model.TeamMemberItems)
                {
                    if (left)
                    {
                        <li class="list-group-item">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="@Url.Action("GetResizedImage", "Image", new {area = "Oxide.Media", path = timelineItem.ImagePath, width = 200, height = 200})" alt="@timelineItem.Name"/>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>@timelineItem.Name </h4>
                                    <h4 class="subheading">@timelineItem.Title</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">@timelineItem.Description</p>
                                </div>
                            </div>
                        </li>
                        left = false;
                    }
                    else
                    {
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="@Url.Action("GetResizedImage", "Image", new {area = "Oxide.Media", path = timelineItem.ImagePath, width = 200, height = 200})" alt="@timelineItem.Name"/>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>@timelineItem.Name </h4>
                                    <h4 class="subheading">@timelineItem.Title</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">@timelineItem.Description</p>
                                </div>
                            </div>
                        </li>
                        left = true;
                    }
                }


            </ul>
        </div>
    </div>
</section>