﻿@using System.Web.Optimization
@using Oxide.Core.Extesions
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Models.Base
@using Oxide.Extra.Keywords
@Bundler.RenderStyles("~/OxideExtra/oxideextra", new { property = "" })
@Bundler.RenderStyles("~/DefaultTheme/default", new { property = "" })

<!-- Action Message -->
@{
    var oxideMessageModel = Session[Keys.UserRegistirationFrontWidget] as OxideModel;
    Session[Keys.UserRegistirationFrontWidget] = null;
}
@if (!Model.IsLogined)
{
    <div class="register-photo">
        <div class="form-container">
            @if (@Model.ImageUrl != string.Empty)
            {
                <div class="image-holder" style="background-image: url('@Model.ImageUrl')"></div>
            }
            @using (Html.BeginForm("RegisterUser", "User", new {area = "Oxide.Extra"}, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
            {
                <form method="post" id="registirationForm">
                    <h2 class="text-center">
                        <strong>@Model.Name</strong>
                    </h2>
                    @if (oxideMessageModel != null)
                    {
                        if (oxideMessageModel.SuccessMessage != string.Empty)
                        {
                            <h5 class="successMessage text-center">@oxideMessageModel.SuccessMessage </h5>
                        }
                        if (oxideMessageModel.ErrorMessage != string.Empty)
                        {
                            <h5 class="errorMessage text-center">@oxideMessageModel.ErrorMessage </h5>
                        }
                    }
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="@Html.T("Email")" autocomplete="off" autocorrect="off" autocapitalize="off" required="required"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="password" type="password" name="password" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="@Html.T("Password")" required="required"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="password-repeat" type="password" name="password-repeat" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="@Html.T("Password (repeat)")" required="required"/>
                    </div>
                    @if (Model.ShowLicense)
                    {
                        <div class="form-group">
                            <div class="checkbox">
                                <label class="control-label">
                                    <input type="checkbox" required="required"/>@Html.T("I agree to the license terms.")
                                </label>
                                <a href="#" class="btn alignRight displayLicense" data-toggle="modal" data-target="#licenseModal">@Html.T("License")</a>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">@Html.T("Sign Up")</button>
                    </div>
                    @if (Model.LoginPageUrl != string.Empty)
                    {
                        <a href="@Model.LoginPageUrl" class="already">@Html.T("You already have an account? Login here.")</a>
                    }
                    <input type="hidden" id="pageUrl" name="pageUrl" value="@Model.ActiveUrl">
                    <input type="hidden" id="uniqeHash" name="uniqeHash" value="@Model.UniqeHash">
                </form>
            }
        </div>
    </div>
    <!-- Modal -->
    <div id="licenseModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Html.T("License")</h4>
                </div>
                <div class="modal-body">
                    <p>@Model.License</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Html.T("Ok")</button>
                </div>
            </div>

        </div>
    </div>
    <!-- /Modal -->
    @Html.GetJsonResources(new[] {"Oxide.Extra"}, "UserRegistiration")
    <script>
        $(document).ready(function() {
            var password = document.getElementById("password"), confirm_password = document.getElementById("password-repeat");

            function validatePassword() {
                if (password.value != confirm_password.value) {
                    confirm_password.setCustomValidity(UserRegistiration.Passwords_Don_t_Match);
                } else {
                    confirm_password.setCustomValidity('');
                }
            }

            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
        })
    </script>
}