﻿@using System.Web.Optimization
@using Oxide.Core.Engines
@using Oxide.Core.Extesions
@using Oxide.Core.Managers.ResourceManager
@Bundler.RenderStyles("~/OxideExtra/oxideextra", new { property = "" })
@Bundler.RenderStyles("~/DefaultTheme/default", new { property = "" })

@if (@Model.Valid)
{
    <div class="register-photo">
        <div class="form-container">
            @if (@Model.ImageUrl != string.Empty)
            {
                <div class="image-holder" style="background-image: url('@Model.ImageUrl')"></div>
            }
            @using (Html.BeginForm("ReSendConfirmationEmail", "User", new {area = "Oxide.Extra"}, FormMethod.Post, new {@class = "form-horizontal form-label-left", area = "Oxide.Extra"}))
            {
                <form method="post" id="registirationForm">
                    <h2 class="text-center">
                        <strong>@Model.Name</strong>
                    </h2>
                    <div class="form-group">
                        @Html.Raw(@Model.Message)
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">@Html.T("Send Confirmation Email")</button>
                    </div>
                    <input type="hidden" id="UniqeHash" name="UniqeHash" value="@Model.UniqeHash">
                    <input type="hidden" id="pageUrl" name="pageUrl" value="@Model.ActiveUrl">
                    <input type="hidden" id="reg" name="reg" value="@Model.Key">
                </form>
            }
        </div>
    </div>
}
else
{
    @Oxd.RenderError(@Html.T("Oops something went wrong!"), @Html.T("Bad request, or invalida data, not possıble to process the request,please try again."))
    ;
}