﻿@using System.Web.Optimization
@using Oxide.Core.Extesions
@using Oxide.Core.Managers.ResourceManager
@Bundler.RenderStyles("~/OxideExtra/oxideextra", new { property = "" })

@if (Model.Status == 0)
{
    <h5 class="errorMessage text-center">@Html.T("Sorry, there is a problem, profile cannot update, please try again") </h5>
}
@if (Model.Status == 1)
{
    <h5 class="successMessage text-center">@Html.T("Profile Image Updated") </h5>
}
@if (Model.Status == 2)
{
    <h5 class="errorMessage text-center">@Html.T("Sorry, there is a problem, profile cannot update, please try again") </h5>
}
@if (Model.Status == 3)
{
    <h5 class="errorMessage text-center">@Html.T("Sorry, email in use, you cannot use this email") </h5>
}
@if (Model.Status == 4)
{
    <h5 class="errorMessage text-center">@Html.T("Sorry, user name in use, you cannot use this user name") </h5>
}
@if (Model.Status == 5)
{
    <h5 class="successMessage text-center">@Html.T("Profile Info Updated") </h5>
}
@if (Model.Status == 6)
{
    <h5 class="successMessage text-center">@Html.T("Password Updated") </h5>
}

@using (Html.BeginForm("UploadFile", "User", new {area = "Oxide.Extra"}, FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal form-label-left"}))
{
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
        </label>
        <div class="userImg center-block img-circle" style="background-image: url('@Model.UserImage')"></div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">

        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="file" class="filestyle" id="file" name="file" data-buttonName="btn-primary" accept=".jpg,.png" required="required"
                   data-buttonText="@Html.T("Browse")" data-placeholder=" @Html.T("Please select your profile picture")">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">

        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <button class="btn btn-primary updateButton" type="submit">@Html.T("Upload")</button>
        </div>
    </div>
    <input type="hidden" id="activeUrl" name="activeUrl" value="@Model.ActiveUrl">
}


@using (Html.BeginForm("UpdateUserProfile", "User", new {area = "Oxide.Extra"}, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <h4 class="section">@Html.T("General")</h4>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="userName">
            @Html.T("Username")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="userName" class="form-control col-md-7 col-xs-12" value="@Model.UserName" data-validate-length-range="6" data-validate-words="1" name="userName" type="text">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @Html.T("Name")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="name" class="form-control col-md-7 col-xs-12" value="@Model.Name" data-validate-length-range="6" data-validate-words="1" name="name" type="text">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">
            @Html.T("Surname")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="surname" class="form-control col-md-7 col-xs-12" value="@Model.Title" data-validate-length-range="6" data-validate-words="1" name="surname" type="text">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
            @Html.T("Email")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="email" class="form-control col-md-7 col-xs-12" value="@Model.Email" data-validate-length-range="6" data-validate-words="1" name="email" type="email">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <button class="btn btn-primary updateButton" type="submit">@Html.T("Update")</button>
        </div>
    </div>
    <input type="hidden" id="activePageUrl" name="activePageUrl" value="@Model.ActiveUrl">
}

@using (Html.BeginForm("UpdatePassword", "User", new {area = "Oxide.Extra"}, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <h4 class="section">@Html.T("Login Information")</h4>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
            @Html.T("Password")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" id="password" type="password" name="password" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="@Html.T("Password")"/>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
            @Html.T("Password (repeat)")
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" id="password-repeat" type="password" name="password-repeat" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="@Html.T("Password (repeat)")"/>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <button class="btn btn-primary updateButton" type="submit">@Html.T("Update")</button>
        </div>
    </div>
    <input type="hidden" id="pageUrl" name="pageUrl" value="@Model.ActiveUrl">
}
@Html.RequireScript("~/OxideExtra/bootstrap-filestyle")
<script>
    $(document).ready(function() {
        $(":file").filestyle();
    })
</script>