﻿@using System.Web.Optimization
@using Oxide.Core.Engines
@using Oxide.Core.Extesions
@using Oxide.Core.Managers.ResourceManager
@Bundler.RenderStyles("~/OxideExtra/oxideextra", new { property = "" })
@Bundler.RenderStyles("~/DefaultTheme/default", new { property = "" })
@if (@Model.Status == 2)
{
    <div class="register-photo">
        <div class="form-container">
            @if (@Model.ImageUrl != string.Empty)
            {
                <div class="image-holder" style="background-image: url('@Model.ImageUrl')"></div>
            }
            <form method="post" id="registirationForm">
                <h2 class="text-center">
                    <strong>@Model.Name</strong>
                </h2>
                <div class="form-group">
                    @Html.Raw(@Model.Message)
                </div>
                <input type="hidden" id="UniqeHash" name="UniqeHash" value="@Model.UniqeHash">
                <input type="hidden" id="pageUrl" name="pageUrl" value="@Model.ActiveUrl">
                <input type="hidden" id="reg" name="reg" value="@Model.Key">
            </form>
        </div>
    </div>
}
else if (@Model.Status == 0)
{
    @Oxd.RenderError(@Html.T("Oops something went wrong!"), @Html.T("Bad request, or invalida data, not possıble to process the request,please try again."))
    ;
}
else
{
    @Oxd.RenderError(@Html.T("Oops something went wrong!"), @Html.T("The link which you are trying to activate your account has been expired!"))
    ;
}