﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
<div id="widgetPanel" class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
            <input type="text" id="txtWidgetSearch" placeholder=@Html.T("Search for...") class="form-control">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default">@Html.T("Search")</button>
            </span>
        </div>
    </div>
    <div id="widgetListPanel" data-bind="foreach: widgets">
        <div class="col-md-4 col-sm-12 col-xs-12 profile_details">
            <div class="well profile_view">
                <div class="col-sm-12">
                    <h4 class="brief">
                        <i>
                            <label data-bind="text:name"></label>
                        </i>
                    </h4>
                    <div class="left col-xs-7">
                        <h2>
                            <label data-bind="text:title"></label>
                        </h2>
                        <p>
                            <strong>
                                <label data-bind="text:category"></label><br/>
                                <!-- ko if: dependencies().length>0 -->
                                <strong>
                                    <span>@Html.T("Dependency:")</span></strong>
                                <label data-bind="text:dependencies"></label><br/>
                                <!-- /ko -->

                            </strong> <label data-bind="text:description"></label>
                        </p>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img data-bind="attr:{'src':previewImageUrl}" alt="" class="img-circle img-responsive alignright"/>
                    </div>
                </div>
                <div class="col-xs-12 bottom text-center">
                    <div class="loadingContainerInner" data-bind="visible:isActivating">
                        <div class="loading-24 loading-ring loading-center"></div>
                    </div>
                    <a href="#" class="btn btn-primary btn-xs alignLeftWitMargin" data-bind="href:infoUrl">
                        <i class="fa fa-info-circle"></i> @Html.T("Information")
                    </a>
                    <a href="#" class="btn btn-success btn-xs alignRight" style="float: right" data-bind="click: changeStatus, visible:activateButton">
                        <i class="fa fa-check"></i> @Html.T("Activate")
                    </a>
                    <a href="#" class="btn btn-danger btn-xs alignRight" style="float: right" data-bind="click: changeStatus, visible:deActivateButton">
                        <i class="fa fa-times"></i> @Html.T("Deactivate")
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="loadingContainerFullScreen" data-bind="visible:isLoading">
        <div class="loading-128 loading-ring loading-center"></div>
    </div>
</div>
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutMapping")
@Scripts.Render("~/models/WidgetsModel")
<script>
    $(document).ready(function() {
        var widgetsViewModel = new WidgetsModel('@Url.Action(MVC.Admin.Widget.ActionNames.WidgetList, MVC.Admin.Widget.Name, new {area = Constants.DefaultArea})');
        ko.applyBindings(widgetsViewModel, document.getElementById('widgetPanel'));
        widgetsViewModel.loadData();

        $('#txtWidgetSearch').on('input', function() {
            widgetsViewModel.loadData(this.value);
        });
    });
</script>