﻿@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@using (Html.BeginForm(MVC.Admin.Widget.ActionNames.UpdateRegularWidget, MVC.Admin.Widget.Name, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
            @Html.T("Title") <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="title" class="form-control col-md-7 col-xs-12" value="@Model.Parameters.WidgetData.Title" data-validate-length-range="6" data-validate-words="1" name="title" required="required" type="text">
        </div>
    </div>
    <input type="hidden" name="widgetId" value='@Model.Parameters.WidgetData.Id'/>
    <input type="hidden" name="pageId" value='@Model.Parameters.PageId'/>
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Update Widget")</button>
            <a id="cancel" type="submit" href="@Url.Action(MVC.Admin.Page.ActionNames.DisplayPages, MVC.Admin.Page.Name, new {area = Constants.DefaultArea})" class="btn btn-danger alignRight">
                <i class="fa fa-times"></i> @Html.T("Cancel")</a>
        </div>
    </div>
}