﻿@using Oxide.Core.Managers.ResourceManager
@using Oxide.Core.Syntax
@using (Html.BeginForm(MVC.Admin.Widget.ActionNames.UpdateWidget, MVC.Admin.Widget.Name, new {area = Constants.DefaultArea}, FormMethod.Post, new {@class = "form-horizontal form-label-left"}))
{
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@Model.Header</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <i class="fa fa-wrench"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @Html.Raw(@Model.Data)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="send" type="submit" class="btn btn-dark alignright">
        <i class="fa fa-check"></i> @Html.T("Save")
    </button>
    <input type="hidden" id="widgetKey" name="widgetKey" value="@Model.Parameters.WidgetKey">
    <input type="hidden" id="widgetId" name="widgetId" value="@Model.Parameters.WidgetId">
    <input type="hidden" id="pageId" name="pageId" value="@Model.Parameters.PageId">
    <input type="hidden" id="layoutId" name="layoutId" value="@Model.Parameters.LayoutId">
    <input type="hidden" id="layoutKeyId" name="layoutKeyId" value="@Model.Parameters.LayoutKeyId">
    <input type="hidden" id="dynamicTitle" name="dynamicTitle" value="@Model.Parameters.Title">
    <input type="hidden" id="regular" name="regular" value="@Model.Parameters.Regular.ToString()">
    <input type="hidden" id="currentLanguage" name="currentLanguage" value="@Model.Parameters.CurrentLanguage">
}