﻿@using System.Web.Optimization
@using Oxide.Core.Extesions
@using Oxide.Core.Syntax
<!DOCTYPE html>
@{
    var language = "en";
    if (@Model != null)
    {
        if (@Model.GetType().GetProperty(Properties.Page) != null)
        {
            language = @Model.LanguageCode;
        }
    }

}
<html lang="@language">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Media/favicon.ico" type="image/x-icon" property="" />
    @if (@Model != null)
    {
        if (@Model.GetType().GetProperty(Properties.Page) != null)
        {
            if (@Model.Meta != null)
            {
                foreach (var tag in Model.Meta)
                {
                    <meta name="@tag.Key" content="@tag.Value">
                }
            }
        }
    }
    <title>
        @if (@Model != null)
        {
            if (@Model.GetType().GetProperty(Properties.Page) != null)
            {
                @Model.Page.Title
            }
        }
    </title>
    @Bundler.RenderStyles("~/DefaultTheme/default", new { property = "" })
    @Bundler.RenderStyles("~/DefaultTheme/defaultcss", new { property = "" })

    @*@Styles.Render("~/DefaultTheme/default")
        @Styles.Render("~/DefaultTheme/defaultcss")*@
</head>
<body>

    @RenderBody()

    @RenderSection("scripts", false)

</body>
</html>