﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Media/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/Media/favicon.ico" type="image/ico" />
    <title>Oxide Login</title>
    @Styles.Render("~/AdminContent/css")
    @Styles.Render("~/AdminContent/fontAwesome")
    @Styles.Render("~/AdminContent/greeCustome")
    @Styles.Render("~/AdminContent/custom")
    @Styles.Render("~/AdminContent/adminSite")
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        @RenderBody()
    </div>
</div>
@RenderSection("scripts", false)
</body>
</html>