﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Media/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/Media/favicon.ico" type="image/ico" />
    <title>Oxide Admin</title>

    @Styles.Render("~/AdminContent/css")
    @Styles.Render("~/AdminContent/fontAwesome")
    @Styles.Render("~/AdminContent/green")
    @Styles.Render("~/AdminContent/greeCustome")
    @Styles.Render("~/AdminContent/customScrollbar")
    @Styles.Render("~/AdminContent/adminSite")
    @Styles.Render("~/AdminContent/pnotify")
    @Styles.Render("~/AdminContent/pnotifybuttons")
    @Styles.Render("~/Oxide.Media/oxidemedia")

</head>
<body class="nav-md">

@Scripts.Render("~/bundles/jqueryx")
@Scripts.Render("~/bundles/bootstrap")


@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutsortable")
@Scripts.Render("~/bundles/admin")
@Scripts.Render("~/models/ContentSelecterMedia")
@Scripts.Render("~/models/ContentSelecter")
@RenderSection("scripts", false)
@RenderBody()
</body>
</html>