﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Media/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/Media/favicon.ico" type="image/ico" />
    <title>Oxide FrontXXX</title>

</head>
<body class="nav-md">
@RenderBody()
@RenderSection("scripts", false)
</body>
</html>