﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Media/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/Media/favicon.ico" type="image/ico" />
    <title>Oxide Admin</title>

    @Styles.Render("~/AdminContent/css")
    @Styles.Render("~/AdminContent/fontAwesome")
    @Styles.Render("~/AdminContent/green")
    @Styles.Render("~/AdminContent/greeCustome")
    @Styles.Render("~/AdminContent/customScrollbar")
    @Styles.Render("~/AdminContent/adminSite")
    @Styles.Render("~/AdminContent/pnotify")
    @Styles.Render("~/AdminContent/pnotifybuttons")
    @Styles.Render("~/Oxide.Media/oxidemedia")
    @Styles.Render("~/AdminContent/nprogress")
    @Styles.Render("~/AdminContent/colorpicker")
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    @{ Html.RenderPartial(MVC.Admin.Admin.Views.Title); }
                </div>
                <div class="clearfix"></div>
                <!-- menu profile quick info -->
                @{ Html.RenderAction("RenderProfile", "Admin", new {area = "Admin"}); }
                <!-- /menu profile quick info -->
                <br/>
                <!-- sidebar menu -->
                @{ Html.RenderAction("RenderLeftMenu", "Admin", new {area = "Admin"}); }
                <!-- /sidebar menu -->
                <!-- /menu footer buttons -->
                @{ Html.RenderAction("RenderMenuFooter", "Admin", new {area = "Admin"}); }
                <!-- /menu footer buttons -->
            </div>
        </div>
        <!-- top navigation -->
        @{ Html.RenderAction("RenderHeader", "Admin", new {area = "Admin"}); }
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        @if (@Model != null)
                        {
                            <h3>@Model.Header</h3>
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                @if (@Model != null)
                                {
                                    if (@Model.SuccessMessage == null && @Model.ErrorMessage == null)
                                    {
                                        <h2>@Model.Title</h2>
                                    }
                                    <h5 class="successMessage">@Model.SuccessMessage</h5>
                                    <h5 class="errorMessage">@Model.ErrorMessage</h5>
                                }
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        @{ Html.RenderAction("RenderFooter", "Admin", new {area = "Admin"}); }
        <!-- /footer content -->
    </div>
</div>
@Scripts.Render("~/bundles/nprogress")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/fastClick")
@Scripts.Render("~/bundles/custom")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/knockoutsortable")
@Scripts.Render("~/bundles/icheck")
@Scripts.Render("~/bundles/customScrollBar")
@Scripts.Render("~/bundles/pnotify")
@Scripts.Render("~/bundles/pnotifybuttons")
@Scripts.Render("~/bundles/admin")
@Scripts.Render("~/models/ContentSelecterMedia")
@Scripts.Render("~/models/ContentSelecter")
@Scripts.Render("~/models/DataList")
@Scripts.Render("~/models/ImageContentSelecter")
@Scripts.Render("~/bundles/lazyLoad")
@Scripts.Render("~/bundles/colorpicker")



@RenderSection("scripts", false)
</body>
</html>