﻿@using System.Web.Optimization
@using Oxide.Core.Managers.ResourceManager
@Styles.Render("~/AdminContent/select2")

@using (Html.BeginForm(MVC.Admin.Languages.ActionNames.SaveSelectedLanguages, MVC.Admin.Languages.Name, FormMethod.Post, new {area = "Admin", @class = "form-horizontal form-label-left"}))
{
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Html.T("Select Languages to Activate")</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            @Html.DropDownList("SelectedLanguages", new SelectList(Model.Parameters.LanguageSelectList, "Value", "Text"), new {@class = "select2_multiple form-control", multiple = "multiple"})

        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-dark">
                <i class="fa fa-check"></i> @Html.T("Save Settings")</button>
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-times"></i> @Html.T("Cancel")</button>
        </div>
    </div>
}
@Scripts.Render("~/bundles/select2")
<script>
    $(document).ready(function() {
        $(".select2_multiple").select2({
            placeholder: '@Html.T("Please select the language or languages which you want to select on the web site")',
            allowClear: true
        });
        var selectList = @Html.Raw(Json.Encode(Model.Parameters.SelectedLanguages));
        for (var i = 0; i <= selectList.length - 1; i++) {
            $(".select2_multiple").select2("trigger", "select", {
                data: { id: selectList[i].Id }
            });
        }
    });
</script>