﻿@using Oxide.Core.Engines
<div class="row">
    <div class="col-md-4">
        @Oxd.RenderInnerSector("Left", @Model)
    </div>
    <div class="col-md-8">
        <div class="col-md-8">
            @Oxd.RenderInnerSector("TopContent", @Model)
        </div>
        @Oxd.RenderInnerSector("Content", @Model)
    </div>
</div>