﻿@using Oxide.Core.Engines
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            @Oxd.RenderInnerSector("TopContent", @Model)
        </div>
        @Oxd.RenderInnerSector("Content", @Model)
    </div>
</div>